<div class="leaflet-bar">
    <a class="cursor-pointer" ngf-select ngf-multiple="false" ng-model="file" ngf-change="open(file)" uib-tooltip="{{resources.openAFile}}" tooltip-placement="right" tooltip-append-to-body="true" analytics-on="click" analytics-category="Files" analytics-event="Open from file"><i class="fa fa-folder-open fa-lg"></i></a>
    <a class="cursor-pointer" ng-click="save($event)" uib-tooltip="{{resources.save}}" tooltip-placement="right" tooltip-append-to-body="true" analytics-on="click" analytics-category="Files" analytics-event="Save to file"><i class="fa fa-save fa-lg"></i></a>
    <a class="cursor-pointer hidden-xs" ng-click="print($event)" uib-tooltip="{{resources.print}}" tooltip-placement="right" tooltip-append-to-body="true" analytics-on="click" analytics-category="Print" analytics-event="Print map"><i class="fa fa-print fa-lg"></i></a>
</div>

