/* Extra Small Devices, Phones */

.save-as-dropdown {
    float: right;
    height: 26px;
}

    .save-as-dropdown .dropdown-toggle {
        width: 200px;
        height: 26px;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
        border-bottom-left-radius: 0 !important;
        border: none;
        padding: 0 10px;
        border-left: 1px solid #ccc;
    }


    .save-as-dropdown .dropdown-menu {
        text-align: left !important;
    }

    .save-as-dropdown .dropdown-list {
        overflow-y: auto;
        max-height: 100px;
    }

    .save-as-dropdown .dropdown-item {
        padding: 2px 10px !important;
    }

.dropdown-toggle {
    text-transform: none !important;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.leaflet-touch .dropdown-toggle {
    height: 30px;
}

.save-as-control-container {
    z-index: 10;
}

    .save-as-control-container .leaflet-bar {
        display: table;
    }

        .save-as-control-container .leaflet-bar .dropdown {
            display: table;
        }

.save-as-button {
    float: right;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 4px !important;
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .save-as-dropdown .dropdown-toggle {
        width: 250px;
    }

    .save-as-dropdown .dropdown-list {
        max-height: none;
    }
}
