<div class="leaflet-bar" ng-hide="userService.isLoggedIn()">
    <div class="control-container">
        <a class="control-icon-first" ng-click="login($event)" analytics-on="click" analytics-category="OSM" analytics-event="OSM login - sign-in icon"><i class="fa fa-sign-in"></i></a>
        <div class="pull-right">
            <div class="control-container-item cursor-pointer" ng-click="login($event)" analytics-on="click" analytics-category="OSM" analytics-event="OSM login - face and text">
                <span class="pull-right"><i class="fa fa-frown-o fa-lg"></i></span>
                <span class="pull-right hidden-xs">{{resources.unknownUser}}</span>
            </div>
        </div>
        <a class="cursor-pointer control-icon-last" uib-popover="{{resources.osmLoginExplenation}}" popover-placement="bottom" popover-append-to-body="true"><i class="fa fa-question"></i></a>
    </div>
</div>

<div class="leaflet-bar" ng-show="userService.isLoggedIn()">
    <div class="control-container">
        <a class="control-icon-first" ng-click="userService.logout()" analytics-on="click" analytics-category="OSM" analytics-event="OSM logout"><i class="fa fa-sign-out"></i></a>
        <div class="pull-right">
            <div class="control-container-item">
                <img ng-show="userService.imageUrl" class="pull-right" ng-src="{{userService.imageUrl}}" alt="" width="16" height="16" />
                <span class="pull-right" ng-hide="userService.imageUrl"><i class="fa fa-user fa-lg"></i></span>
                <span class="pull-right hidden-xs">{{userService.displayName}}</span>
            </div>
        </div>
        <a class="cursor-pointer control-icon-last" ng-click="openUserDetails($event)" analytics-on="click" analytics-category="OSM" analytics-event="OSM user details open"><i class="fa fa-wrench"></i></a>
    </div>
</div>