.search-control-container {
    z-index: 8;
}

.search-input {
    width: 200px;
    float: right;
    border-radius: 0;
    outline: none;
    border: none;
}

.search-control-container .control-container-item span {
    height: 26px;
}

.leaflet-touch .search-control-container .control-container-item span {
    height: 30px;
}

.search-input-directional {
    display: table;
    cursor: pointer;
}

    .search-input-directional:hover {
        background-color: #f4f4f4;
    }

    .search-input-directional span {
        display: table-cell;
        vertical-align: middle;
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.search-routing-directional {
    border-radius: 4px;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
}
    
    .search-routing-directional a {
        border-left: 1px solid #ccc;
        border-bottom: 0 !important;
        border-radius: 0 !important;
        margin-right: 1px;
        margin-left: 1px;
    }

    .search-routing-directional a:first-child {
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
        margin-left: 0;
    }

    .search-routing-directional a:last-child {
        border-left: 1px solid #ccc;
        border-bottom: 0 !important;
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
        margin-right: 0;
    }

.search-results-item {
    padding: 10px;
}

    .search-results-item:hover {
        background-color: #ddd;
    }

.search-results-selected {
    background-color: #bddef9;
}