html {
    height: 100%;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-crosshair {
    cursor: crosshair;
}

.modal-backdrop {
    opacity: 0.5;
}

.axis text {
    fill: white;
}

.axis path {
    stroke: white !important;
}

.axis line {
    stroke: white !important;
}

.tooltip-statistics {
    min-width: 300px;
}

.icon-background {
    top: -2px;
}

.search-results-panel {
    background-color: #FFF;
    border: 1px solid transparent;
    border-radius: 4px;
    max-width: 250px;
}

.chome-wordwrap-fix {
    word-wrap: break-word;
}

.search-results-item {
    margin: 10px;
}

.help-button {
    width: 28px;
    height: 28px;
}

.tooltip-inner a {
    color: #79bdf7;
}

.scrollable-area {
    max-height: 400px;
    overflow-y: scroll;
}

.loading-segment-indicator {
    -webkit-animation:dash .4s linear infinite;
    animation:dash .4s linear infinite

}
@-webkit-keyframes dash {
    from {
        stroke-dashoffset: 20;
    }

    to {
        stroke-dashoffset: 0;
    }
}
@keyframes dash {
    from {
        stroke-dashoffset: 20;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.tooltip-statistics {
    max-width: none;
    width: 200px;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .tooltip-info {
        max-width: 250px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .tooltip-info {
        max-width: 600px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .tooltip-info {
        max-width: 600px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .tooltip-info {
        max-width: 600px;
    }
}


