html {
    height: 100%;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.tooltip-inner {
    min-width: 150px;
    
}

.modal-footer .modal-footer-btns {
    display: inline;
    white-space: nowrap;
}

.modal-footer .btn {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 16%;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-crosshair {
    cursor: crosshair;
}

.modal-backdrop {
    opacity: 0.5;
}

.icon-background {
    top: -2px;
}

.control-icon-first {
    float: right;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom: 0 !important;
}

.control-icon-last {
    float: right;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 4px !important;
    border-bottom: 0 !important;
}

.dropdown-list {
    min-width: 100%;
}

.dropdown-item {
    padding: 10px;
}

.dropdown-item:hover {
    background-color: #ddd;
}

.chome-wordwrap-fix {
    word-wrap: break-word;
}

.loading-segment-indicator {
    -webkit-animation: dash .4s linear infinite;
    animation: dash .4s linear infinite;
}

@-webkit-keyframes dash {
    from {
        stroke-dashoffset: 20;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    from {
        stroke-dashoffset: 20;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@media print {
    .no-print {
        display: none !important;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}


