@import "../fonts/icons.css";
@import "font-awesome/css/font-awesome.css";
@import "ol/ol.css";
@import "~@beyerleinf/ngx-dnd/styles.css";
@import "./dialogs.scss";
@import "./sidebar.scss";
@import "./_variables.scss";

@include mat-core();
@include angular-material-theme($app-theme);

html {
    height: 100%;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.side-control {
    position: relative;
    padding: 2px;
    clear: both;
    background-color: $app-button-background;
    margin-bottom: 5px;
    border: 2px solid rgba(0,0,0,.2);
}

.right-pane {
    pointer-events: none;
}

.right-pane * {
    pointer-events: auto;
}

.left-pane .side-control {
    float: left;
}

.right-pane .side-control {
    float: right;
}

.bottom-pane .side-control {
    margin-bottom: unset;
}


.side-control button, .side-control a {
    min-width: unset !important;
    padding: 0 !important;
    display: block;
    width: $app-button-size;
    height: $app-button-size;
}

.input-wrapper-spacer {
    height: 0;
    margin-bottom: 1rem;
}

@media (max-width: 550px) {
    .route-statistics-control-container {
        margin-bottom: 0 !important;
        margin-right: 0 !important;
    }
}

.active {
    outline: 2px solid mat-color($app-primary) !important;
}

ngx-image-gallery .image {
    outline: none !important;
}

.cdk-overlay-container {
    z-index: 1500 !important;
}

.cursor-default {
    cursor: default !important;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-zoom-in {
    cursor: zoom-in;
}

.cursor-move {
    cursor: move;
}

.stack-icon-top {
    top: -2px;
}

.stack-icon-small {
    font-size: 0.75em !important;
}

.stack-icon-large {
    font-size: 1.25em !important;
}

.text-small {
    font-size: small;
}

.text-large {
    font-size: large;
}

.has-extra-data {
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 50%;
    z-index: 1;
}

.no-padding {
    padding: 0 !important;
}

.control-container {
    display: table;
}

.control-container-item {
    display: table-cell;
    vertical-align: middle;
    height: $app-button-size;
}

.control-container-item.gutters {
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap
}

.chrome-wordwrap-fix {
    word-wrap: break-word;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.img-responsive {
    max-width: 100%;
}

.img-center {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    max-height: 100%;
}

.img-container-small {
    position: relative;
    width: 100%;
    height: 200px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Progressbar override */
.ng-bar {
    background-color: mat-color($app-primary) !important;
}

.ng-spinner-icon {
    border-top-color: mat-color($app-primary) !important;
    border-left-color: mat-color($app-primary) !important;
}

.ng-meteor {
    box-shadow: 0 0 10px mat-color($app-primary), 0 0 5px mat-color($app-primary) !important
}
/* Progressbar override */

/* Margins*/
.margin-10 {
    margin-left: 10px;
    margin-right: 0;
}

[dir=rtl] .margin-10 {
    margin-right: 10px;
    margin-left: 0;
}

.margin-10-reverse {
    margin-left: 0 !important;
    margin-right: 10px !important;
}

[dir=rtl] .margin-10-reverse {
    margin-right: 0 !important;
    margin-left: 10px !important;
}
/* Margins*/

@media print {
    .mat-tooltip,
    .side-control {
        display: none !important;
    }
}

.marker-popup {
    position: absolute;
    background-color: white;
    padding: 15px 5px 5px 5px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    bottom: 12px;
    transform: translate(-50%);

    &:after, &:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:before {
        border-top-color: #cccccc;
        border-width: 11px;
        margin-left: -11px;
        left: 50%
    }

    &:after {
        border-top-color: white;
        border-width: 10px;
        margin-left: -10px;
        left: 50%
    }

    & .close {
        position: absolute;
        top: 5px;
        right: 5px
    }
}

.hidden {
    display: none !important;
}

@media (max-width:767px) {
    .hidden-xs {
        display: none !important
    }

    .marker-popup {
        max-width: 260px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none !important
    }
}

/* Segment loading indicator */
.loading-segment-indicator {
    -webkit-animation: dash .4s linear infinite;
    animation: dash .4s linear infinite;
}

.segment-readonly-indicator {
    -webkit-animation: dash-long 1.0s linear infinite;
    animation: dash-long 1.0s linear infinite;
}

@-webkit-keyframes dash {
    from {
        stroke-dashoffset: 20;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    from {
        stroke-dashoffset: 20;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes dash-long {
    from {
        stroke-dashoffset: 40;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash-long {
    from {
        stroke-dashoffset: 40;
    }

    to {
        stroke-dashoffset: 0;
    }
}
/* Segment loading indicator end */
