<auto-layer [address]="getBaseLayerAddress()"
            [minZoom]="getBaseLayer().minZoom"
            [maxZoom]="getBaseLayer().maxZoom"
            [opacity]="1.0"
            [visible]="true"
            [zIndex]="1">
</auto-layer>
<div *ngFor="let overlay of (overlays | async); let zIdx = index">
    <auto-layer [address]="overlay.address"
                [minZoom]="overlay.minZoom"
                [maxZoom]="overlay.maxZoom"
                [opacity]="overlay.opacity"
                [visible]="overlay.visible"
                [zIndex]="zIdx + 10">
    </auto-layer>
</div>
<div *ngFor="let categoriesType of categoriesTypes">
    <aol-layer-vector [visible]="isVisible(categoriesType)" [zIndex]="1000" #cluster [style]="clusterStyleFunction">
        <aol-source-cluster [distance]="distance">
            <aol-source-vector></aol-source-vector>
        </aol-source-cluster>
    </aol-layer-vector>
</div>
<aol-layer-vector [zIndex]="1001" [style]="geoJsonLayerStyleFunction">
    <aol-source-vector #selectedPoiGeoJsonSource>
    </aol-source-vector>
</aol-layer-vector>
<aol-layer-vector [visible]="(selectedPoi$ | async) != null" [zIndex]="1001">
    <aol-source-vector>
        <aol-feature [id]="getSelectedPoiId(selectedPoi$ | async)" #selectedPoiFeature>
            <aol-geometry-point>
                <aol-coordinate [x]="getSelectedPoiX(selectedPoi$ | async)"
                                [y]="getSelectedPoiY(selectedPoi$ | async)"
                                [srid]="'EPSG:4326'">
                </aol-coordinate>
            </aol-geometry-point>
        </aol-feature>
    </aol-source-vector>
</aol-layer-vector>
<cluster-overlay [isOpen]="isClusterOpen" [latlng]="clusterLatlng" [points]="clusterPoints" (closed)="isClusterOpen = false"></cluster-overlay>
<public-poi-hover-overlay [isOpen]="isHoverOpen" [latlng]="hoverLatlng" [title]="hoverTitle"></public-poi-hover-overlay>
