<ng-progress [ngStyle]="{'z-index':1500}"></ng-progress>
<ngx-image-gallery [images]="imageGalleryService.images"
                   [conf]="imageGalleryService.config">
</ngx-image-gallery>
<sidebar></sidebar>
<div fxLayout="row" style="height: 100%">
    <div fxFlex>
        <mgl-map [zoom]="[location.zoom]"
                 [center]="[location.longitude, location.latitude]"
                 [style]="initialStyle"
                 (moveEnd)="moveEnd($event)"
                 (load)="mapLoaded()"
                 [doubleClickZoom]="false"
                 [attributionControl]="false">
            <layers-view></layers-view>
            <routes></routes>
            <traces></traces>
            <zoom *ngIf="!isMobile() && !isApp()" #topLeftControl></zoom>
            <location #topLeftControl *ngIf="isMobile() || !isIFrame()"></location>
            <main-menu #topRightControl></main-menu>
            <search #topRightControl *ngIf="!isIFrame()"></search>
            <drawing #topRightControl *ngIf="!isIFrame()"></drawing>
            <route-statistics #bottomRightControl></route-statistics>
            <div #bottomRightControl>
                <div class="side-control mapboxgl-ctrl" *ngIf="(pannedTimestamp$ | async) != null">
                    <button mat-button (click)="centerMe()" angulartics2On="click" angularticsCategory="Location" angularticsAction="Center me"><i class="fa fa-lg icon-follow-me"></i></button>
                </div>
            </div>
            <ihm-link *ngIf="!isApp()" #bottomLeftControl></ihm-link>
        </mgl-map>
    </div>
</div>