<ng-progress [ngStyle]="{'z-index':1500}"></ng-progress>
<ngx-image-gallery [images]="imageGalleryService.images"
                   [conf]="imageGalleryService.config">
</ngx-image-gallery>
<sidebar></sidebar>
<div fxLayout="row" style="height: 100%">
    <div fxFlex>
        <mgl-map [zoom]="[location.zoom]"
                 [center]="[location.longitude, location.latitude]"
                 [style]="initialStyle"
                 (moveEnd)="moveEnd($event)"
                 (load)="mapLoaded()"
                 [doubleClickZoom]="false">
            <layers-view></layers-view>
            <routes></routes>
            <traces></traces>
            <zoom #topLeftControl></zoom>
            <location #topLeftControl *ngIf="isMobile() || !isIFrame()"></location>
            <layers #topLeftControl></layers>
            <file #topLeftControl></file>
            <file-save-as #topLeftControl *ngIf="!isIFrame()"></file-save-as>
            <edit-osm #topLeftControl *ngIf="!isMobile() && !isIFrame()"></edit-osm>
            <info #topLeftControl></info>
            <osm-user #topRightControl *ngIf="!isIFrame()"></osm-user>
            <search #topRightControl *ngIf="!isIFrame()"></search>
            <drawing #topRightControl *ngIf="!isIFrame()"></drawing>
            <share #topRightControl></share>
            <language #topRightControl></language>
            <route-statistics #bottomRightControl></route-statistics>
            <ihm-link *ngIf="!isApp()" #bottomLeftControl></ihm-link>
        </mgl-map>
    </div>
</div>