<div *ngFor="let route of (routes$ | async)">
    <aol-layer-vector *ngIf="route.state != 'Hidden'" [updateWhileAnimating]="true" [updateWhileInteracting]="true" [zIndex]="1100">
        <aol-source-vector>
            <div *ngIf="route.state == 'Route'">
                <aol-feature *ngFor="let segment of route.segments; let idx = index" [id]="getIdForSegment(route, idx)">
                    <aol-geometry-linestring>
                        <aol-collection-coordinates [coordinates]="getSegmentCoordinates(route.id, idx)" [srid]="'EPSG:4326'"></aol-collection-coordinates>
                    </aol-geometry-linestring>
                    <aol-style>
                        <aol-style-stroke [color]="getColor(route)" [width]="route.weight"></aol-style-stroke>
                    </aol-style>
                </aol-feature>
            </div>
            <div *ngIf="route.state !== 'Hidden' && !isRouteRecording(route)">
                <aol-feature *ngFor="let segment of route.segments; let idx = index" [id]="getIdForSegmentPoint(route, idx)">
                    <aol-geometry-point>
                        <aol-coordinate [x]="segment.routePoint.lng" [y]="segment.routePoint.lat" [srid]="'EPSG:4326'"></aol-coordinate>
                    </aol-geometry-point>
                    <aol-style>
                        <aol-style-circle [radius]="7" *ngIf="idx === 0 || isLast(idx, route) || route.state === 'Route'">
                            <aol-style-fill [color]="getRouteMarkerColor(idx, route, false)"></aol-style-fill>
                            <aol-style-stroke [color]="getRouteMarkerColor(idx, route, true)" [width]="3"></aol-style-stroke>
                        </aol-style-circle>
                        <aol-style-text *ngIf="idx === 0" [text]="resources.getCharacterForIcon('icon-play')" font="normal 8px IsraelHikingMap">
                            <aol-style-fill [color]="'white'"></aol-style-fill>
                        </aol-style-text>
                        <aol-style-text *ngIf="idx !== 0 && isLast(idx, route)" [text]="resources.getCharacterForIcon('icon-stop')" font="normal 8px IsraelHikingMap">
                            <aol-style-fill [color]="'white'"></aol-style-fill>
                        </aol-style-text>
                    </aol-style>
                </aol-feature>
            </div>
            <div *ngIf="route.state == 'ReadOnly' || route.state == 'Poi'">
                <aol-feature>
                    <aol-geometry-linestring>
                        <aol-collection-coordinates [coordinates]="getRouteCoordinates(route.id)" [srid]="'EPSG:4326'"></aol-collection-coordinates>
                    </aol-geometry-linestring>
                    <aol-style>
                        <aol-style-stroke *ngIf="!isRouteRecording(route)" [color]="getColor(route)" [width]="route.weight" [lineDash]="[30,10]" antPath></aol-style-stroke>
                        <aol-style-stroke *ngIf="isRouteRecording(route)" [color]="'#FF6600'" [width]="6"></aol-style-stroke>
                    </aol-style>
                </aol-feature>
            </div>
            <aol-feature *ngFor="let marker of route.markers; let idx = index" [id]="getIdForMarker(route, idx)" #markers>
                <aol-geometry-point>
                    <aol-coordinate [x]="marker.latlng.lng" [y]="marker.latlng.lat" [srid]="'EPSG:4326'"></aol-coordinate>
                </aol-geometry-point>
            </aol-feature>
        </aol-source-vector>
    </aol-layer-vector>
    <div *ngIf="route.state != 'Hidden'">
        <private-poi-overlay *ngFor="let marker of route.markers; let idx = index" [marker]="marker" [routeId]="route.id" [index]="idx"></private-poi-overlay>
    </div>
</div>
<aol-layer-vector *ngIf="hoverViewCoordinates" [zIndex]="1111">
    <aol-source-vector>
        <aol-feature [id]="'hover'">
            <aol-geometry-point>
                <aol-coordinate [x]="hoverViewCoordinates[0]" [y]="hoverViewCoordinates[1]" [srid]="'EPSG:3857'"></aol-coordinate>
            </aol-geometry-point>
        </aol-feature>
        <aol-style>
            <aol-style-circle [radius]="'5'">
                <aol-style-fill [color]="getHoverColor()"></aol-style-fill>
            </aol-style-circle>
        </aol-style>
    </aol-source-vector>
</aol-layer-vector>
<route-point-overlay *ngIf="routePointPopupData != null" [isOpen]="routePointPopupData != null" [latlng]="routePointPopupData.latlng" [segmentIndex]="routePointPopupData.segmentIndex" (closed)="routePointPopupData = null"></route-point-overlay>