<mgl-geojson-source id="selected-trace" [data]="selectedTrace"></mgl-geojson-source>
<mgl-layer id="selected-trace-line"
           type="line"
           source="selected-trace"
           [filter]="['==', '$type', 'LineString']"
           [paint]="{
            'line-color': 'blue',
            'line-width': 3
           }">
</mgl-layer>
<mgl-layer id="selected-trace-points-circle"
           type="circle"
           source="selected-trace"
           [filter]="['==', '$type', 'Point']"
           [paint]="{
            'circle-color': 'blue',
            'circle-radius': 10
           }">
</mgl-layer>
<mgl-layer id="selected-trace-points-text"
           type="symbol"
           source="selected-trace"
           [filter]="['==', '$type', 'Point']"
           [layout]="{
            'text-field': ['get', 'title'],
            'text-font': ['Open Sans Regular'],
            'text-anchor': 'bottom'
           }"
           [paint]="{
            'text-color': 'white',
            'text-halo-width': 2,
            'text-halo-color': 'black'
           }">
</mgl-layer>


<div *ngIf="selectedTraceStart">
    <mgl-marker [lngLat]="selectedTraceStart" #tracesConfigMarker>
        <span class='fa-stack fa-lg'>
            <i class='fa icon-map-marker fa-stack-2x' style='color:white;text-shadow: 3px 3px 3px #000;'></i>
            <i class='fa icon-cog fa-stack-1x stack-icon-top' style='color:blue;'></i>
        </span>
    </mgl-marker>
    <mgl-popup [marker]="tracesConfigMarker" (close)="isConfigOpen = false">
        <clearable-overlay [latlng]="selectedTraceStart"
                           [title]="visibleTrace.name"
                           (cleared)="clearTrace()"
                           (convertToRoute)="convertToRoute()"></clearable-overlay>
    </mgl-popup>
</div>
<mgl-geojson-source id="missing-parts" [data]="missingParts"></mgl-geojson-source>
<mgl-layer id="missing-part-line"
           source="missing-parts"
           type="line"
           [paint]="{
            'line-color': 'red',
            'line-width': 3
           }">
</mgl-layer>
<mgl-geojson-source id="selected-feature" [data]="selectedFeatureSource"></mgl-geojson-source>
<mgl-layer id="missing-part-line-selected"
           source="selected-feature"
           type="line"
           [paint]="{
            'line-color': 'brown',
            'line-width': 5
           }">
</mgl-layer>
<mgl-popup *ngIf="missingCoordinates" [lngLat]="missingCoordinates" [offset]="[0, -30]">
    <missing-part-overlay [feature]="selectedFeature" [latlng]="missingCoordinates" (removed)="removeMissingPart()"></missing-part-overlay>
</mgl-popup>
<div *ngFor="let feature of missingParts.features">
    <mgl-marker [lngLat]="getLatLngForFeature(feature)" anchor="bottom">
        <div (click)="setSelectedFeature(feature, $event)">
            <span class='fa-stack fa-lg'>
                <i class='fa icon-map-marker fa-stack-2x' style='color:white;text-shadow: 3px 3px 3px #000;'></i>
                <i class='fa icon-star fa-stack-1x stack-icon-top' style='color:orange;'></i>
            </span>
        </div>
    </mgl-marker>    
</div>
