html{
  height: 100%;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#map {
	position: absolute; 
	top:0; 
	bottom:0; 
	right:0; 
	left:0; 
	overflow:hidden;
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-crosshair {
	cursor: crosshair;
}

.tooltip-inner {
    background-color: #ffffff;
    color: #000;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #ffffff;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #ffffff;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #ffffff;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #ffffff;
}


/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
	.tooltip-info {
	  max-width: 250px;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.tooltip-info {
	  max-width: 600px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.tooltip-info {
	  max-width: 600px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.tooltip-info {
	  width: 600px;
	}
}

.popover-routing {
  width: 100px;
}