version: 9.3.{build}
clone_depth: 3
configuration: Release
environment:
  STORE_PASSWORD:
    secure: ZF3GiQxQ98B1HGKZOwlnmris5yN68mvx3UF6TVsnpws=
  PASSWORD:
    secure: mqbXr4+cn3l9YNyKhOezbA==
  matrix:
  #  - PRODUCT: web
  #    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
  #  - PRODUCT: android
  #    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
  #    ANDROID_HOME: C:\Program Files (x86)\Android\android-sdk
  #    ANDROID_SDK_ROOT: C:\Program Files (x86)\Android\android-sdk
  #    GRADLE_OPTS: "-Dorg.gradle.daemon=false"
    - PRODUCT: ios
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
      FASTLANE_USER: israelhikingmap@gmail.com
      FASTLANE_PASSWORD:
        secure: LKUpzhvCJIqG/vc4W3yP5FToKkn0nGv4XDSUiCDBoWg=
      FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD:
        secure: oSccSp70X/744XBpfRV4UVJZKxN1jMYHxn3OHFsTSVE=
      APPVEYOR_BUILD_WORKER_IMAGE: macOS
    
install:
- ps: >-
    Install-Product node 10.15

    npm install -g npm@6.9.0 --loglevel=error

    npm install -g increase-memory-limit
        
    node --version

    npm --version
for:
  -
    matrix:
      only: 
        - PRODUCT: web
    before_build:
      - ps: dotnet restore
    dotnet_csproj:
      patch: true
      file: '**\*.csproj'
      version: $(appveyor_build_version)
      package_version: $(appveyor_build_version)
      assembly_version: $(appveyor_build_version)
      file_version: $(appveyor_build_version)
      informational_version: $(appveyor_build_version)
    build:
      project: IsraelHiking.sln
      parallel: true
      verbosity: minimal
    test: off
    after_build:
      - ps: >-
            $TestAndPublishWeb = "$env:APPVEYOR_BUILD_FOLDER\Scripts\TestAndPublishWeb.ps1"

            Write-Host $TestAndPublishWeb

            & "$TestAndPublishWeb"

  -
    matrix:
      only:
        - PRODUCT: android
    build_script:
    - ps: >-
        $BuildAndPublishAndroid = "$env:APPVEYOR_BUILD_FOLDER\Scripts\BuildAndPublishAndroid.ps1"

        Write-Host $BuildAndPublishAndroid

        & "$BuildAndPublishAndroid"

  -
    matrix:
      only:
        - PRODUCT: ios
      fast_finish: true
    build_script: 
    - ps: >-
        $BuildAndPublishIOS = "$env:APPVEYOR_BUILD_FOLDER\Scripts\BuildAndPublishIOS.ps1"

        Write-Host $BuildAndPublishIOS

        & "$BuildAndPublishIOS"
        
deploy:
- provider: GitHub
  auth_token:
    secure: UhPMkdOfJ0iYk+ZEJapaimnlsy+yXWXYzwJ7Lgj9aiMq2lj5JcUkN1UI0Q9QZru6
  repository: IsraelHikingMap/Site
  draft: true
  on:
    APPVEYOR_REPO_TAG: true
