<?xml version="1.0" encoding="utf-8"?>
<Root>
	<Parameters>
		<Parameter name='hideskipped'>All</Parameter>
		<Parameter name='register'>user</Parameter>
		<Parameter name='excludebyattribute'>*.ExcludeFromCodeCoverage*</Parameter>
		<Parameter name='filter'>"+[*]*API* +[*]*Database* +[*]*GPSBabel* -[*]*JsonResponse* -[*]*GpxTypes* -[*]*Tests*"</Parameter>
	</Parameters>
</Root>