<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>2KT88923M5</string>
    <key>uploadSymbols</key>
    <true/>
    <key>provisioningProfiles</key> 
    <dict> 
      <key>il.org.osm.israelhiking</key> 
      <string>645adb40-6a2a-4346-be8e-20a5ab7651f2</string>
    </dict>
  </dict>
</plist>