<div class="leaflet-bar">
    <a class="cursor-pointer" ngf-select ngf-multiple="false" ng-model="file" ngf-change="open(file)" bs-tooltip="'Open a file'" data-placement="right"><i class="fa fa-folder-open fa-lg"></i></a>
    <a class="cursor-pointer" ng-click="save($event)" bs-tooltip="'Save current work'" data-placement="right"><i class="fa fa-save fa-lg"></i></a>
    <a class="cursor-pointer" ng-click="print($event)" bs-tooltip="'Print'" data-placement="right"><i class="fa fa-print fa-lg"></i></a>
</div>

