<div class="leaflet-bar" ng-hide="isShowingSaveAs">
    <a class="cursor-pointer" ng-click="toggleSaveAs($event)" uib-tooltip="{{resources.saveAs}}" tooltip-placement="right" tooltip-is-open="isOpen && !isShowingSaveAs" tooltip-append-to-body="true"><i class="fa fa-files-o fa-lg"></i></a>
</div>

<div class="leaflet-bar" ng-show="isShowingSaveAs">
    <div class="ltr save-as-dropdown dropdown" uib-dropdown is-open="isFromatsDropdownOpen">
        <button class="btn btn-default btn-block dropdown-toggle" type="button" uib-dropdown-toggle ng-click="$event.stopPropagation()">
            <i class="fa fa-chevron-down pull-right"></i>
            {{selectedFormat.label}}
        </button>
        <ul class="dropdown-menu dropdown-list" uib-dropdown-menu disable-map-movement>
            <li ng-repeat="format in formats" class="dropdown-item cursor-pointer" ng-click="selectFormat(format, $event)">
                {{format.label}}
            </li>
        </ul>
    </div>

    <a class="cursor-pointer save-as-button" ng-click="saveAs(selectedFormat, $event)"><i class="fa fa-files-o fa-lg"></i></a>
</div>