/* Extra Small Devices, Phones */
.save-as-panel {
    width: 250px;
}

    .save-as-panel .dropdown-toggle {
        width: 200px;
    }

.save-as-control-container {
    z-index: 10;
}

.ltr .dropdown-menu {
    text-align: left !important;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .save-as-panel {
        width: 300px;
    }

        .save-as-panel .dropdown-toggle {
            width: 250px;
        }
}
