<div class="info-header">
    <h3>
        <a class="cursor-pointer" ng-class="{active: state == 'legend'}" ng-click="setState('legend')" ng-show="legendSections.length > 0">{{resources.legend}}</a> |
        <a class="cursor-pointer" ng-class="{active: state == 'help'}" ng-click="setState('help')">{{resources.help}}</a> |
        <a class="cursor-pointer" ng-class="{active: state == 'about'}" ng-click="setState('about')">{{resources.about}}</a>
    </h3>
</div>
<div ng-switch on="state" class="info-container">
    <div ng-switch-when="legend">
        <div ng-repeat="section in legendSections" id="{{section.id}}">
            <div class="legend-section">
                <div class="legend-section-header">
                    <a class="cursor-pointer" ng-click="toggleSectionVisibility(section)"><h4><i class="fa" ng-class="{'fa-plus': !isSectionVisible(section), 'fa-minus': isSectionVisible(section) }"></i> {{section.title}}</h4></a>
                </div>
                <div ng-show="isSectionVisible(section)">
                    <div ng-repeat="item in section.items" class="legend-item" ng-class="{'legend-route': item.type == 'Way', 'legend-poi' : item.type == 'POI'}">
                        <div class="legend-item-map" id="{{item.id}}"></div>
                        <span class="legend-item-text">{{item.title}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-switch-when="about">
        <div>
            <p><span ng-bind-html="resources.infoSubheader"></span></p>
            <h4>{{resources.infoHelpfulLinks}}</h4>
            <ul>
                <li ng-bind-html="resources.infoFacebookLink"></li>
                <li ng-bind-html="resources.infoGithubLink"></li>
                <li ng-bind-html="resources.infoOsmWikiLink"></li>
                <li ng-bind-html="resources.infoOruxmapDownloadLink"></li>
            </ul>
            <p>
                <i>{{resources.infoFooterThanks}}<br>{{resources.infoFooterHarelAndZeev}}<br/></i>
            </p>
        </div>
    </div>
    <div ng-switch-when="help" class="help-table">
        <h4>{{resources.helpSubheader}}</h4>
        <p ng-bind-html="resources.helpYoutubeLink"></p>
        <div>
            <div class="row">
                <div class="col-sm-1"><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-info"></i></button></div>
                <div class="col-sm-5">{{resources.helpInfo}}.</div>
                <div class="col-sm-1"><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-crosshairs"></i></button></div>
                <div class="col-sm-5">{{resources.helpLocation}}.</div>
            </div>
            <div class="row">
                <div class="col-sm-1"><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-folder-open"></i></button></div>
                <div class="col-sm-5">{{resources.helpOpen}}.</div>
                <div class="col-sm-1"><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-save"></i></button></div>
                <div class="col-sm-5">{{resources.helpSave}}.</div>
            </div>
            <div class="row">
                <div class="col-sm-1"><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-print"></i></button></div>
                <div class="col-sm-5">{{resources.helpPrint}}.</div>
                <div class="col-sm-1"><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-files-o"></i></button></div>
                <div class="col-sm-5">{{resources.saveAs}}</div>
            </div>
            <div class="row">
                <div class="col-sm-1"><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-pencil"></i></button></div>
                <div class="col-sm-11">{{resources.helpPencil}}.</div>
            </div>
            <div class="row">
                <div class="col-sm-1"><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-remove"></i></button></div>
                <div class="col-sm-5">{{resources.helpClear}}.</div>
                <div class="col-sm-1"><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-map-marker"></i></button></div>
                <div class="col-sm-5">{{resources.helpMapMarker}}.</div>
            </div>
            <div class="row">
                <div class="col-sm-1"><button class="btn btn-default btn-xs help-button"><img src="/content/images/hike.svg" /></button></div>
                <div class="col-sm-5">{{resources.hikeRouting}}.</div>
                <div class="col-sm-1"><button class="btn btn-default btn-xs help-button"><img src="/content/images/bike.svg" /></button></div>
                <div class="col-sm-5">{{resources.bikeRouting}}.</div>
            </div>
            <div class="row">
                <div class="col-sm-1"><button class="btn btn-default btn-xs help-button"><img src="/content/images/four-by-four.png" /></button></div>
                <div class="col-sm-5">{{resources.fourWheelDriveRouting}}.</div>
                <div class="col-sm-1"><button class="btn btn-default btn-xs help-button"><img src="/content/images/none.svg" /></button></div>
                <div class="col-sm-5">{{resources.straightLines}}.</div>
            </div>
            <div class="row">
                <div class="col-sm-1"><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-area-chart"></i></button></div>
                <div class="col-sm-5">{{resources.routeStatistics}}.</div>
                <div class="col-sm-1"><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-undo"></i></button></div>
                <div class="col-sm-5">{{resources.helpUndo}}.</div>
            </div>
            <div class="row">
                <div class="col-sm-1"><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-search"></i></button></div>
                <div class="col-sm-5">{{resources.search}}.</div>
                <div class="col-sm-1">
                    <button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-share-alt"></i></button>
                </div>
                <div class="col-sm-5">{{resources.helpShare}}.</div>
            </div>
            <div class="row">
                <div class="col-sm-1"><button class="btn btn-default btn-xs help-button"><img src="/content/images/map-editing.svg" /></button></div>
                <div class="col-sm-5">{{resources.helpEditOsm}}.</div>
                <div class="col-sm-1"><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-language"></i></button></div>
                <div class="col-sm-5">{{resources.helpLanguage}}.</div>
            </div>
            <div class="row">
                <div class="col-xs-12" style="text-align: center">{{resources.helpLayersSubHeader}}</div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <button class="btn btn-warning btn-xs help-button"><i class="fa fa-lg fa-gear"></i></button>
                </div>
                <div class="col-sm-5">{{resources.helpGear}}.</div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-eye-slash"></i></button>
                </div>
                <div class="col-sm-5">{{resources.helpEyeSlash}}.</div>
                <div class="col-sm-1">
                    <button class="btn btn-warning btn-xs help-button"><i class="fa fa-lg fa-wrench"></i></button>
                </div>
                <div class="col-sm-5">{{resources.helpWrench}}.</div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-bolt"></i></button>
                </div>
                <div class="col-sm-5">{{resources.helpRoutePerSegment}}.</div>
                <div class="col-sm-1">
                    <button class="btn btn-danger btn-xs help-button"><i class="fa fa-lg fa-trash"></i></button>
                </div>
                <div class="col-sm-5">{{resources.helpTrash}}.</div>
            </div>
            <div class="row">
                <div class="col-sm-1">
                    <button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-arrows-h"></i></button>
                </div>
                <div class="col-sm-5">{{resources.helpReverse}}.</div>
                <div class="col-sm-1">
                    <button class="btn btn-success btn-xs help-button"><i class="fa fa-lg fa-check"></i></button>
                </div>
                <div class="col-sm-5">{{resources.helpCheck}}.</div>
            </div>
            <br/>
            <ul>
                <li>
                    {{resources.helpDragDrop}}
                </li>
                <li>
                    {{resources.helpLinksExplenation}} <br />
                    http://israelhiking.osm.org.il/#/?url=some-file-from-other-site&amp;baselayer=base-layer-name-or-address-optional, <br />
                    http://israelhiking.osm.org.il/#/?q=search-term
                </li>
            </ul>
        </div>
    </div>
</div>



