.info-header {
    position: fixed;
    z-index: 99;
    width: 0;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled .info-header {
    width: 235px;
}
    
@media (min-width:768px) {
    #wrapper.toggled .info-header {
        width: 385px;
    } 
}

.info-header a {
    text-decoration: none;
}

    .info-header a.active {
        color: #ddd;
    }

.info-container {
    padding-top: 50px;
}

.help-button {
    width: 28px;
    height: 28px;
}

.legend-section {
    border-bottom: 1px solid #ddd;
}

.legend-item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    width: 201px;
}

.legend-item-text {
    padding-left: 10px;
    padding-right: 10px;
}

.legend-route {
    border-radius: 0 0 3px 3px;
}

    .legend-route .legend-item-map {
        width: 200px;
        height: 50px;
    }

.legend-poi {
    display: table;
}

    .legend-poi .legend-map-container {
        margin: 10px;
    }

    .legend-poi .legend-item-map {
        width: 50px;
        height: 50px;
    }

    .legend-poi .legend-item-text {
        vertical-align: middle;
        display: table-cell;
        text-align: start;
        width: 100%;
    }


.legend-section-header a {
    color: #999999;
}

    .legend-section-header a:hover {
        text-decoration: none;
    }
