<div class="row">
    <div class="col-xs-2">
        <button class="btn btn-xs btn-warning" ng-click="toggleAdvanced($event)" title="Toggle advanced settings" ng-class="{'active': advanced }"><i class="fa fa-gear"></i></button>
    </div>
</div>
<div ng-repeat="baseLayer in baseLayers">
    <div class="row cursor-pointer" ng-click="selectBaseLayer(baseLayer, $event)">
        <div class="col-xs-2">
            <span><i class="fa fa-lg" ng-class="{'fa-eye': baseLayer.selected, 'fa-eye-slash': !baseLayer.selected}"></i></span>
        </div>
        <div ng-class="{'col-xs-7': advanced && baseLayer.isEditable, 'col-xs-10': !(advanced && baseLayer.isEditable)}">
            <span>{{baseLayer.key}}</span>
        </div>
        <div class="col-xs-3" ng-show="advanced && baseLayer.isEditable">
            <span class="pull-right" ng-click="editBaseLayer(baseLayer, $event)" uib-tooltip="Base layer properties" tooltip-placement="left"><i class="fa fa-lg fa-wrench fa-warning"></i></span>
        </div>
    </div>
</div>
<div class="row add cursor-pointer" ng-show="advanced" ng-click="addBaseLayer($event)">
    <div class="col-xs-offset-2 col-xs-7">
        <span>Add Base Layer</span>
    </div>
    <div class="col-xs-3">
        <span class="pull-right" uib-tooltip="Add Base Layer" tooltip-placement="left"><i class="fa fa-plus"></i></span>
    </div>
</div>
<hr class="divider" />

<div ng-repeat="overlay in overlays">
    <div class="row cursor-pointer" ng-click="toggleVisibility(overlay, $event)">
        <div class="col-xs-2">
            <span><i class="fa fa-lg" ng-class="{'fa-eye': overlay.visible, 'fa-eye-slash': !overlay.visible}"></i></span>
        </div>
        <div ng-class="{'col-xs-7': advanced && overlay.isEditable, 'col-xs-10': !(advanced && overlay.isEditable)}">
            <span>{{overlay.key}}</span>
        </div>
        <div class="col-xs-3" ng-show="advanced && overlay.isEditable">
            <span class="pull-right" ng-click="editOverlay(overlay, $event)" uib-tooltip="Overlay properties" tooltip-placement="left"><i class="fa fa-lg fa-wrench fa-warning"></i></span>
        </div>
    </div>
</div>

<div class="row add cursor-pointer" ng-show="advanced" ng-click="addOverlay($event)">
    <div class="col-xs-offset-2 col-xs-7">
        <span>Add Overlay</span>
    </div>
    <div class="col-xs-3">
        <span class="pull-right" uib-tooltip="Add Overlay" tooltip-placement="left"><i class="fa fa-plus"></i></span>
    </div>
</div>
<hr class="divider" />

<div ng-repeat="route in routes">
    <div class="row cursor-pointer" ng-click="selectRoute(route, $event)">
        <div class="col-xs-2">
            <span ng-class="'fg-' + getRouteColorName(route)">
                <i class="fa fa-lg" ng-class="{'fa-pencil': isRouteSelected(route), 'fa-eye': isRouteVisisble(route) && !isRouteSelected(route), 'fa-eye-slash': !isRouteVisisble(route) }"></i>
            </span>
        </div>
        <div class="col-xs-7">
            <span ng-class="'fg-' + getRouteColorName(route)">{{getRouteName(route)}}</span>
        </div>
        <div class="col-xs-3">
            <span class="pull-right" ng-click="editRoute(getRouteName(route), $event)" uib-tooltip="Route properties" tooltip-placement="left"><i class="fa fa-lg fa-wrench"></i></span>
        </div>
    </div>
</div>
<div class="row add cursor-pointer" ng-click="addRoute($event)" ng-show="advanced">
    <div class="col-xs-offset-2 col-xs-7">
        <span>Add Route</span>
    </div>
    <div class="col-xs-3">
        <span class="pull-right" uib-tooltip="Add Route" tooltip-placement="left"><i class="fa fa-plus"></i></span>
    </div>
</div>