<div class="row">
    <div class="col-xs-2">
        <button class="btn btn-xs btn-warning" ng-click="toggleAdvanced($event)" title="Toggle advanced settings" ng-class="{'active': advanced }"><i class="fa fa-gear"></i></button>
    </div>
</div>
<div ng-repeat="baseLayer in baseLayers">
    <div class="row cursor-pointer" ng-click="selectBaseLayer(baseLayer, $event)">
        <div class="col-xs-2">
            <span><i class="fa fa-lg" ng-class="{'fa-eye': baseLayer.selected, 'fa-eye-slash': !baseLayer.selected}"></i></span>
        </div>
        <div ng-class="{'col-xs-7': advanced && baseLayer.isEditable, 'col-xs-10': !(advanced && baseLayer.isEditable)}">
            <span>{{baseLayer.key}}</span>
        </div>
        <div class="col-xs-3" ng-show="advanced && baseLayer.isEditable">
            <span class="pull-right" ng-click="editBaseLayer(baseLayer, $event)" bs-tooltip="'Base layer properties'"><i class="fa fa-lg fa-wrench fa-warning"></i></span>
        </div>
    </div>
</div>
<div class="row add cursor-pointer" ng-show="advanced" ng-click="addBaseLayer($event)">
    <div class="col-xs-offset-2 col-xs-7">
        <span>Add Base Layer</span>
    </div>
    <div class="col-xs-3">
        <span class="pull-right" bs-tooltip="'Add Base Layer'"><i class="fa fa-plus"></i></span>
    </div>
</div>
<hr class="divider" />

<div ng-repeat="overlay in overlays">
    <div class="row cursor-pointer" ng-click="toggleVisibility(overlay, $event)">
        <div class="col-xs-2">
            <span><i class="fa fa-lg" ng-class="{'fa-eye': overlay.visible, 'fa-eye-slash': !overlay.visible}"></i></span>
        </div>
        <div ng-class="{'col-xs-7': advanced && overlay.isEditable, 'col-xs-10': !(advanced && overlay.isEditable)}">
            <span>{{overlay.key}}</span>
        </div>
        <div class="col-xs-3" ng-show="advanced && overlay.isEditable">
            <span class="pull-right" ng-click="editOverlay(overlay, $event)" bs-tooltip="'Overlay properties'"><i class="fa fa-lg fa-wrench fa-warning"></i></span>
        </div>
    </div>
</div>

<div class="row add cursor-pointer" ng-show="advanced" ng-click="addOverlay($event)">
    <div class="col-xs-offset-2 col-xs-7">
        <span>Add Overlay</span>
    </div>
    <div class="col-xs-3">
        <span class="pull-right"><i class="fa fa-plus"></i></span>
    </div>
</div>
<hr class="divider" />

<div ng-repeat="route in routes">
    <div class="row cursor-pointer" ng-click="selectDrawing(route.name, $event)" ng-class="{'active' : route.state == 'active' }">
        <div class="col-xs-2">
            <span ng-class="'fg-' + route.getColorKeyValue().key">
                <i class="fa fa-lg" ng-class="{'fa-pencil': route.state != 'hidden', 'fa-eye-slash': route.state == 'hidden' }"></i>
            </span>
        </div>
        <div class="col-xs-7">
            <span ng-class="'fg-' + route.getColorKeyValue().key">{{route.name}}</span>
        </div>
        <div class="col-xs-3">
            <span class="pull-right" ng-click="editRoute(route.name, $event)" bs-tooltip="'Route properties'"><i class="fa fa-lg fa-wrench"></i></span>
        </div>
    </div>
</div>
<div class="row cursor-pointer" ng-click="selectDrawing(markers.name, $event)" ng-class="{'active' : markers.state == 'active' }">
    <div class="col-xs-2">
        <span ng-class="'fg-' + markers.getColorKeyValue().key">
            <i class="fa fa-lg" ng-class="{'fa-map-marker': markers.state != 'hidden', 'fa-eye-slash': markers.state == 'hidden' }"></i>
        </span>
    </div>
    <div class="col-xs-10">
        <span ng-class="'fg-' + markers.getColorKeyValue().key">{{markers.name}}</span>
    </div>
</div>
<div class="row add cursor-pointer" ng-click="addRoute($event)" ng-show="advanced">
    <div class="col-xs-offset-2 col-xs-7">
        <span  >Add Route</span>
    </div>
    <div class="col-xs-3">
        <span class="pull-right" bs-tooltip="'Add Route'"><i class="fa fa-plus"></i></span>
    </div>
</div>