<div class="marker-popup">
    <form ng-submit="setTitle(title)">
        <div class="form-group">
            <textarea rows="2" dir="rtl" class="form-control" type="text" ng-model="title" style="min-width: 100px" ng-change="updateWikiCoordinates(title)" />
        </div>
        <div class="form-group">
            <a class="btn btn-default cursor-pointer input-group-addon" ng-click="setTitle(title)"><i class="fa fa-check"></i></a>
            <a class="btn btn-danger cursor-pointer input-group-addon" ng-click="remove()"><i class="fa fa-trash"></i></a>
            <a class="btn btn-warning cursor-pointer input-group-addon" ng-click="showCoordinates = !showCoordinates"><i class="fa fa-globe"></i></a>
        </div>
    </form>
    <div ng-show="showCoordinates">
        <p>
            Lat {{latLng.lat | number }}°, Lon {{latLng.lng | number}}°<br />
            E {{itmCoordinates.East}} m, N {{itmCoordinates.North}} m
        </p>
        <p class="chome-wordwrap-fix">
            Coordinates for <a href="https://he.wikipedia.org/">Wikipedia</a>: {{wikiCoordinatesString}}
        </p>
    </div>
</div>
