<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-md-2 col-xs-4">
                        <img ng-src="{{userService.imageUrl}}" alt="" class="img-responsive" />
                    </div>
                    <div class="col-md-4 col-xs-8">
                        <h3 class="modal-title">{{userService.displayName}}</h3>
                        {{getRank().name}}
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h5>{{userService.changeSets}} {{resources.changes}}</h5>
                        <div uib-progressbar class="progress-striped" value="getRankPercentage()" type="{{getPorgessbarType()}}">{{getRankPercentage() | number : 1}}%</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <button type="button" class="close" aria-label="Close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="btn-group" ng-init="state = 'traces'">
                    <a class="btn btn-default" ng-click="state = 'traces'" ng-class="{active: state == 'traces'}">{{resources.myTraces}}</a>
                    <a class="btn btn-default" ng-click="state = 'shares'" ng-class="{active: state == 'shares'}">{{resources.myShares}}</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="{{resources.searchPlaceHolder}}" ng-model="searchTerm" />
                </div>
            </div>
        </div>
        <br />
        <br />
        <div ng-switch on="state">
            <div ng-switch-when="traces">
                <a class="cursor-pointer" ngf-select ngf-multiple="false" ng-model="file" ngf-change="open(file)" uib-tooltip="{{resources.openAFile}}" tooltip-placement="{{resources.start}}" tooltip-append-to-body="true"><i class="fa fa-folder-open fa-lg"></i></a>
                <div ng-repeat="trace in userService.traces | filter:searchTerm">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <img ng-src="{{trace.imageUrl}}" class="img-responsive" alt=""/>
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <div class="row">
                                <div class="col-xs-9">
                                    <a href="{{trace.url}}" target="_blank" class="chrome-wordwrap-fix">{{trace.fileName}}</a><br/>
                                    {{trace.description}}<br/>
                                    {{trace.date | date:'dd/MM/yyyy'}}
                                </div>
                                <div class="col-xs-3">
                                    <a class="cursor-pointer btn btn-default btn-block" ng-click="showTrace(trace)" uib-tooltip="{{resources.view}}" tooltip-placement="{{resources.start}}" tooltip-append-to-body="true"><i class="fa fa-eye"></i></a>
                                    <a class="cursor-pointer btn btn-default btn-block" ng-click="editTrace(trace)" uib-tooltip="{{resources.edit}}" tooltip-placement="{{resources.start}}" tooltip-append-to-body="true"><i class="fa fa-pencil"></i></a>
                                    <a class="cursor-pointer btn btn-default btn-block" ng-click="editInOsm(trace)" uib-tooltip="{{resources.editThisMapUsingOsm}}" tooltip-placement="{{resources.start}}" tooltip-append-to-body="true"><img src="/content/images/map-editing.svg" alt=""/></a>
                                    <a class="cursor-pointer btn btn-default btn-block" ng-click="findUnmappedRoutes(trace)" uib-tooltip="{{resources.findUnmappedRoutes}}" tooltip-placement="{{resources.start}}" tooltip-append-to-body="true"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br/>
                </div>
                <div class="cssload-loader" ng-show="userService.loading">
                    <div class="cssload-inner cssload-one"></div>
                    <div class="cssload-inner cssload-two"></div>
                    <div class="cssload-inner cssload-three"></div>
                </div>
                <p ng-show="userService.traces.length == 0 && !userService.loading">{{resources.noTraces}}</p>
            </div>
            <div ng-switch-when="shares">
                <div ng-repeat="siteUrl in userService.shares | filter : searchTerm">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <img ng-src="{{userService.getImageFromSiteUrlId(siteUrl)}}" class="img-responsive" />
                        </div>
                        <div class="col-md-8 col-xs-12">
                            <div class="row">
                                <div class="col-xs-9">
                                    <div ng-hide="editMode">
                                        <h4>{{siteUrl.Title}} - {{siteUrl.Description}}</h4>
                                    </div>
                                    <div ng-show="editMode">
                                        <input class="form-control" type="text" ng-model="siteUrl.Title" placeholder="{{resources.titlePlaceHolder}}" />
                                        <input class="form-control" type="text" ng-model="siteUrl.Description" placeholder="{{resources.descriptionPlaceHolder}}" />
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div ng-hide="editMode">
                                        <a class="btn btn-default btn-block" ng-click="editMode = true" uib-tooltip="{{resources.editRouteDetails}}" tooltip-placement="{{resources.start}}" tooltip-append-to-body="true"><i class="fa fa-pencil"></i></a>
                                    </div>
                                    <div ng-show="editMode">
                                        <a class="btn btn-success btn-block" ng-click="editMode = false; userService.updateSiteUrl(siteUrl)" uib-tooltip="{{resources.update}}" tooltip-placement="{{resources.start}}" tooltip-append-to-body="true"><i class="fa fa-check"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-9">
                                    <a href="{{userService.getUrlFromSiteUrlId(siteUrl)}}" target="_blank">{{userService.getUrlFromSiteUrlId(siteUrl)}}</a><br />
                                    {{resources.views}}: {{siteUrl.ViewsCount}}<br />
                                    {{resources.lastViewed}}: {{siteUrl.LastViewed | date:'dd/MM/yyyy'}}
                                </div>
                                <div class="col-xs-3">
                                    <a class="btn btn-block btn-info" clipboard supported="true" text="userService.getUrlFromSiteUrlId(siteUrl)" uib-tooltip="{{resources.copyUrl}}" tooltip-placement="{{resources.start}}" tooltip-append-to-body="true"><i class="fa fa-clipboard"></i></a>
                                    <a class="btn btn-danger btn-block" ng-click="editMode = false; userService.deleteSiteUrl(siteUrl)" uib-tooltip="{{resources.delete}}" tooltip-placement="{{resources.start}}" tooltip-append-to-body="true"><i class="fa fa-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="cssload-loader" ng-show="userService.loading">
                    <div class="cssload-inner cssload-one"></div>
                    <div class="cssload-inner cssload-two"></div>
                    <div class="cssload-inner cssload-three"></div>
                </div>
                <p ng-show="userService.shares.length == 0 && !userService.loading">{{resources.noShares}}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <a ng-click="$close()" class="btn btn-default">{{resources.close}}</a>
            </div>
        </div>
    </div>
</div>
