<div class="modal-content">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-10">
                <div class="row">
                    <div class="col-md-2 col-xs-4">
                        <img ng-src="{{userService.imageUrl}}" alt="" class="img-responsive"/>
                    </div>
                    <div class="col-md-4 col-xs-8">
                        <h3 class="modal-title">{{userService.displayName}}</h3>
                        {{getRank().name}}
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <h5>{{userService.changeSets}} {{resources.changes}}</h5>
                        <div uib-progressbar class="progress-striped" value="getRankPercentage()" type="{{getPorgessbarType()}}">{{getRankPercentage() | number}}%</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2">
                <button type="button" class="close" aria-label="Close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="btn-group" ng-init="state = 'traces'">
            <a class="btn btn-default" ng-click="state = 'traces'" ng-class="{active: state == 'traces'}">{{resources.myTraces}}</a>
            <a class="btn btn-default" ng-click="state = 'shares'" ng-class="{active: state == 'shares'}">{{resources.myShares}}</a>
        </div>
        <br />
        <br />
        <div ng-switch on="state">
            <div ng-switch-when="traces">
                <div ng-repeat="trace in userService.traces">
                    <div class="row">
                        <div class="col-xs-4 col-md-2">
                            <img ng-src="{{trace.imageUrl}}" class="img-responsive" />
                        </div>
                        <div class="col-xs-8 col-md-10">
                            <a href="{{trace.url}}" target="_blank">{{trace.fileName}}</a>
                            <br />
                            {{trace.description}}
                        </div>
                    </div>
                    <br />
                </div>
                <p ng-show="userService.traces.length == 0">{{resources.noTraces}}</p>
            </div>
            <div ng-switch-when="shares">
                <div ng-repeat="siteUrl in userService.shares">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <img ng-src="{{getImageFromSiteUrlId(siteUrl)}}" class="img-responsive" />
                        </div>
                        <div class="col-xs-8 col-md-8">
                            {{siteUrl.Title}}<br />
                            <a href="{{getUrlFromSiteUrlId(siteUrl)}}" target="_blank">{{getUrlFromSiteUrlId(siteUrl)}}</a><br />
                            {{resources.views}}: {{siteUrl.ViewsCount}}<br />
                            {{resources.lastViewed}}: {{siteUrl.LastViewed | date:'dd/MM/yyyy'}}
                        </div>
                    </div>
                    <br />
                </div>
                <p ng-show="userService.shares.length == 0">{{resources.noShares}}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <a ng-click="$close()" class="btn btn-default">{{resources.close}}</a>
            </div>
        </div>
    </div>
</div>
