<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><img ng-src="{{userService.imageUrl}}" alt="" width="24" height="24" /> {{userService.displayName}}</h4>
    </div>
    <div class="modal-body">
        <div class="btn-group" ng-init="state = 'traces'">
            <a class="btn btn-default" ng-click="state = 'traces'" ng-class="{active: state == 'traces'}">{{resources.myTraces}}</a>
            <a class="btn btn-default" ng-click="state = 'shares'" ng-class="{active: state == 'shares'}">{{resources.myShares}}</a>
        </div>
        <br />
        <br />
        <div ng-switch on="state">
            <div ng-switch-when="traces">
                <div ng-repeat="trace in userService.traces">
                    <div class="row">
                        <div class="col-xs-4 col-md-2">
                            <img ng-src="{{trace.imageUrl}}" class="img-responsive"/>
                        </div>
                        <div class="col-xs-8 col-md-4">
                            <a href="{{trace.url}}" target="_blank">{{trace.fileName}}</a>
                            <br/>
                            {{trace.description}}
                        </div>
                    </div>
                    <br/>
                </div>
                <p ng-show="userService.traces.length == 0">{{resources.noTraces}}</p>
            </div>
            <div ng-switch-when="shares">
                <ul>
                    <li ng-repeat="share in userService.shares">
                        <a href="{{share.url}}">{{share.url}}</a> | {{share.title}} | {{share.description}}
                    </li>
                </ul>
                <p ng-show="userService.shares.length == 0">{{resources.noShares}}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12 col-xs-12 modal-footer-btns">
                <a ng-click="$close()" class="btn btn-default">{{resources.close}}</a>
            </div>
        </div>
    </div>
</div>
