.route-statistics-popup {
    background: #000000;
    background: rgba(0,0,0,0.3);
    position: absolute;
    overflow: hidden;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    height: 250px;
    left: 15%;
    width: 70%;
}

.route-statistics-header {
    cursor: move;
}

.route-statistics-header-title {
    font-size: large;
}

.route-statistics-chart {
    position: absolute;
    top: 50px;
    bottom: 5px;
    width: 100%;
}

.chart-tooltip {
    color: black;
    text-align: left;
    margin: 5px;
}

.tooltip-inner a {
    color: #79bdf7;
}

.rg-right span, .rg-left span, .rg-top span, .rg-bottom span {
    border: 1px solid white;
}

.rg-right span, .rg-left span {
    border-width: 0 3px;
}

.rg-top span, .rg-bottom span {
    border-width: 3px 0;
}

.rg-right {
    margin: 0;
}

.rg-bottom {
    margin: 0;
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .route-statistics-popup {
        left: 10%;
        width: 80%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .route-statistics-popup {
        left: 6%;
        width: 88%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .route-statistics-popup {
        left: 4%;
        width: 92%;
    }
}
