<div class="leaflet-bar" ng-hide="isShowingSearch">
    <a class="cursor-pointer" ng-click="toggleSearchBar($event)" bs-tooltip="'Search'" data-placement="left"><i class="fa fa-search fa-lg"></i></a>
</div>
<div ng-show="isShowingSearch" class="search-results-panel ihm-panel" disable-map-movement ng-keydown="keyDown($event)" tabindex="0">
    <table class="table-hover">
        <thead>
            <tr>
                <th>
                    <div class="input-group">
                        <input type="text" ng-model="searchTerm" ng-change="search(searchTerm)" class="form-control" placeholder="Search..." dir="{{isHebrew ? 'rtl' : 'ltr'}}" sync-focus-with="isShowingSearch" ng-click="ignoreClick($event)" />
                        <a class="btn btn-default input-group-addon" ng-click="toggleSearchBar($event)"><i class="fa fa-search fa-lg"></i></a>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="result in searchResults" ng-click="selectResult(result, $event)" dir="{{isHebrew ? 'rtl' : 'ltr'}}" ng-class="{'active-row': result == activeSearchResult}" class="cursor-pointer">
                <td>
                    <p class="search-results-item">
                        <img ng-src="{{result.icon}}" height="16" width="16" ng-show="result.icon && !result.address" alt="" />
                        {{result.name}}
                    </p>
                    <p class="search-results-item">
                        <img ng-src="{{result.icon}}" height="16" width="16" ng-show="result.icon && result.address" alt="" />
                        {{result.address}}
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>

