
<div ng-hide="isVisible" class="leaflet-bar">
    <a class="cursor-pointer" ng-click="toggleVisibility($event)" uib-tooltip="{{resources.search}}" tooltip-placement="left" tooltip-append-to-body="true"><i class="fa fa-search fa-lg"></i></a>
</div>
<div ng-show="isVisible && !isDirectional" class="leaflet-bar">
    <div uib-dropdown is-open="isVisible && !isDirectional && fromContext.searchResults.length > 0" auto-close="disabled" ng-keydown="keyDown(fromContext, $event)" class="search-dropdown-container">
        <a class="cursor-pointer search-icon-first" ng-click="toggleVisibility($event)"><i class="fa fa-search fa-lg"></i></a>
        <input type="text" class="search-input" ng-model="fromContext.searchTerm" ng-change="search(fromContext)" placeholder="{{resources.searchPlaceHolder}}" dir="{{getDirection(fromContext.searchTerm)}}" ng-click="changeFocus(fromContext, $event)" sync-focus-with="fromContext.hasFocus" tabindex="0" disable-map-movement />
        <ul class="dropdown-menu dropdown-list" uib-dropdown-menu ng-click="$event.stopPropagation()" disable-map-movement>
            <li ng-repeat="result in fromContext.searchResults" dir="{{getDirection(result.name)}}" class="{{getTextAlignment(result.name)}} dropdown-item cursor-pointer" ng-class="{'search-results-selected': result == fromContext.highlightedSearchResults}" ng-click="selectResults(fromContext, result, $event)">
                <img ng-src="{{result.icon}}" height="16" width="16" ng-show="result.icon" alt="" />
                {{result.displayName}}
            </li>
        </ul>
        <a class="cursor-pointer search-icon-last" ng-click="toggleDirectional($event)" uib-tooltip="{{resources.directionalSearch}}" tooltip-placement="left" tooltip-append-to-body="true"><i class="fa fa-plus fa-lg"></i></a>
    </div>
</div>
<div ng-show="isVisible && isDirectional">
    <div uib-dropdown is-open="isVisible && isDirectional && fromContext.searchResults.length > 0 && !fromContext.selectedSearchResults" auto-close="disabled" ng-keydown="keyDown(fromContext, $event)" class="search-dropdown-container leaflet-bar">
        <a class="cursor-pointer search-icon-first" ng-click="toggleVisibility($event)"><i class="fa fa-search fa-lg"></i></a>
        <div class="search-input search-input-directional" ng-show="fromContext.selectedSearchResults" ng-click="removeSelectedResults(fromContext)" dir="{{getDirection(fromContext.selectedSearchResults.name)}}">
            <span><i class="fa fa-remove text-danger"></i> {{fromContext.selectedSearchResults.displayName}}</span>
        </div>
        <input type="text" class="search-input" ng-model="fromContext.searchTerm" ng-change="search(fromContext)" placeholder="{{resources.from}}" dir="{{getDirection(fromContext.searchTerm)}}" ng-click="changeFocus(fromContext, $event)" ng-hide="fromContext.selectedSearchResults" sync-focus-with="fromContext.hasFocus" tabindex="0" disable-map-movement />
        <ul class="dropdown-menu dropdown-list" uib-dropdown-menu ng-click="$event.stopPropagation()" disable-map-movement>
            <li ng-repeat="result in fromContext.searchResults" dir="{{getDirection(result.name)}}" class="{{getTextAlignment(result.name)}} dropdown-item cursor-pointer" ng-class="{'search-results-selected': result == fromContext.highlightedSearchResults}" ng-click="selectResults(fromContext, result, $event)">
                <img ng-src="{{result.icon}}" height="16" width="16" ng-show="result.icon" alt="" />
                {{result.displayName}}
            </li>
        </ul>
        <a class="cursor-pointer search-icon-last" ng-click="toggleDirectional($event)" uib-tooltip="{{resources.regularSearch}}" tooltip-placement="left" tooltip-append-to-body="true"><i class="fa fa-minus fa-lg"></i></a>
    </div>
    <div class="pull-left leaflet-bar search-routing-directional">
        <a class="cursor-pointer pull-left" ng-click="setRouting('Hike', $event)" ng-class="{'leaflet-active' : routingType == 'Hike' }" uib-tooltip="{{resources.hikeRouting}}" tooltip-placement="bottom" tooltip-append-to-body="true"><img src="/content/images/hike.svg" alt="" /></a>
        <a class="cursor-pointer pull-left" ng-click="setRouting('Bike', $event)" ng-class="{'leaflet-active' : routingType == 'Bike' }" uib-tooltip="{{resources.bikeRouting}}" tooltip-placement="bottom" tooltip-append-to-body="true"><img src="/content/images/bike.svg" alt="" /></a>
        <a class="cursor-pointer pull-left" ng-click="setRouting('4WD', $event)" ng-class="{'leaflet-active' : routingType == '4WD' }" uib-tooltip="{{resources.fourWheelDriveRouting}}" tooltip-placement="bottom" tooltip-append-to-body="true"><img src="/content/images/four-by-four.png" alt="" /></a>
        <a class="cursor-pointer pull-left" ng-click="setRouting('None', $event)" ng-class="{'leaflet-active' : routingType == 'None' }" uib-tooltip="{{resources.straightLines}}" tooltip-placement="bottom" tooltip-append-to-body="true"><img src="/content/images/none.svg" /></a>
    </div>
    <br />
    <div uib-dropdown is-open="isVisible && isDirectional && toContext.searchResults.length > 0 && !toContext.selectedSearchResults" auto-close="disabled" ng-keydown="keyDown(toContext, $event)" class="search-dropdown-container leaflet-bar">
        <a class="search-icon-first" ng-click="toggleVisibility($event)"><i class="fa fa-search fa-lg"></i></a>
        <div class="search-input search-input-directional" ng-show="toContext.selectedSearchResults" ng-click="removeSelectedResults(toContext)" dir="{{getDirection(toContext.selectedSearchResults.name)}}">
            <span><i class="fa fa-remove text-danger"></i> {{toContext.selectedSearchResults.displayName}}</span>
        </div>
        <input type="text" class="search-input" ng-model="toContext.searchTerm" ng-change="search(toContext)" placeholder="{{resources.to}}" dir="{{getDirection(toContext.searchTerm)}}" ng-click="changeFocus(toContext, $event)" ng-hide="toContext.selectedSearchResults" sync-focus-with="toContext.hasFocus" tabindex="0" disable-map-movement />
        <ul class="dropdown-menu dropdown-list" uib-dropdown-menu ng-click="$event.stopPropagation()" disable-map-movement>
            <li ng-repeat="result in toContext.searchResults" dir="{{getDirection(result.name)}}" class="{{getTextAlignment(result.name)}} dropdown-item cursor-pointer" ng-class="{'search-results-selected': result == toContext.highlightedSearchResults}" ng-click="selectResults(toContext, result, $event)">
                <img ng-src="{{result.icon}}" height="16" width="16" ng-show="result.icon" alt="" />
                {{result.displayName}}
            </li>
        </ul>
        <a class="cursor-pointer search-icon-last" ng-click="searchRoute($event)"><i class="fa fa-arrow-left fa-lg"></i></a>
    </div>
</div>
