<div class="leaflet-bar" ng-hide="isShowingSearch" >
    <a class="cursor-pointer" ng-click="toggleSearchBar($event)" uib-tooltip="{{resources.search}}" tooltip-placement="left" tooltip-append-to-body="true"><i class="fa fa-search fa-lg"></i></a>
</div>
<div ng-show="isShowingSearch" class="leaflet-bar" ng-keydown="keyDown($event)" tabindex="0" disable-map-movement>
    <div uib-dropdown is-open="isShowingSearch && searchResults.length > 0" auto-close="disabled">
        <a class="cursor-pointer search-icon" ng-click="toggleSearchBar($event)"><i class="fa fa-search fa-lg"></i></a>
        <input type="text" class="search-input" ng-model="searchTerm" ng-change="search(searchTerm)" placeholder="{{resources.searchPlaceHolder}}" dir="{{getDirection()}}" sync-focus-with="isShowingSearch" ng-click="ignoreClick($event)" />
        <ul class="dropdown-menu search-dropdown" uib-dropdown-menu ng-click="$event.stopPropagation()">
            <li ng-repeat="result in searchResults" dir="{{hasHebrewCharacters(result.name) ? 'rtl' : 'ltr'}}" class="{{'text-' + (hasHebrewCharacters(result.name) ? 'right' : 'left')}} search-results-item cursor-pointer" ng-class="{'search-results-selected': result == activeSearchResult}" ng-click="selectResult(result, $event)">
                <img ng-src="{{result.icon}}" height="16" width="16" ng-show="result.icon" alt="" />
                {{result.name}}{{result.address ? ', ' + result.address : ''}}
            </li>
        </ul>
    </div>
</div>