<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{resources.shareYourWork}}</h4>
    </div>
    <form class="form-horizontal">
        <div class="modal-body">
            <div ng-hide="shareAddress">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{resources.title}}</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="title" class="form-control" placeholder="{{resources.titlePlaceHolder}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{resources.description}}</label>
                    <div class="col-md-10">
                        <textarea type="text" ng-model="description" class="form-control" placeholder="{{resources.descriptionPlaceHolder}}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-success btn-block" ng-click="generateUrl(title, description)" ng-disabled="isLoading" analytics-on="click" analytics-category="Share" analytics-event="Share create">{{resources.generateUrlToShareWithYourFriends}}</button>
                    </div>
                </div>
            </div>
            <div ng-show="shareAddress">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <img ng-src="{{imageUrl}}" class="img-responsive" />
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="row">
                            <div class="col-xs-9">
                                <h4>{{title}} - {{description}}</h4>
                            </div>
                            <div class="col-xs-3">
                                <a href="{{facebookShareAddress}}" class="btn btn-default btn-block" target="_blank" uib-tooltip="{{resources.shareWithFacebook}}" tooltip-placement="{{resources.start}}" analytics-on="click" analytics-category="Share" analytics-event="Share facebook"><i class="fa fa-facebook"></i></a>
                                <div class="visible-sm visible-xs">
                                    <a ng-href="{{whatappShareAddress}}" class="btn btn-default btn-block" analytics-on="click" analytics-category="Share" analytics-event="Share whatapp"><i class="fa fa-whatsapp"></i></a>
                                </div>
                                <a class="btn btn-default btn-block cursor-pointer" ng-click="showOffroadForm = 'true'" ng-class="{active: showOffroadForm}" uib-tooltip="{{resources.shareWithOffroad}}" tooltip-placement="{{resources.start}}"><img src="/content/images/off-road.png" alt="" width="16" height="16"/></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-9">
                                <a href="{{shareAddress}}" target="_blank" analytics-on="click" analytics-category="Share" analytics-event="Share test address">{{shareAddress}}</a>
                            </div>
                            <div class="col-xs-3">
                                <a class="btn btn-block btn-info" clipboard supported="true" text="shareAddress" uib-tooltip="{{resources.copyUrl}}" tooltip-placement="{{resources.start}}" analytics-on="click" analytics-category="Share" analytics-event="Share copy to clipboard"><i class="fa fa-clipboard"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div ng-show="showOffroadForm">
                    <div class="form-group row">
                        <label class="control-label col-md-2">{{resources.userEmail}}</label>
                        <div class="col-md-10">
                            <input type="text" ng-model="offroadRequest.userMail" class="form-control" placeholder="{{resources.userEmail}}" />
                        </div>
                        <div class="col-md-10">
                            <small class="form-text text-muted">{{resources.userEmailMutedOffroad}}</small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-2">{{resources.difficulty}}</label>
                        <div class="col-md-4">
                            <select ng-model="offroadRequest.difficultyLevel" class="form-control">
                                <option value="1">{{resources.easy}}</option>
                                <option value="3">{{resources.moderate}}</option>
                                <option value="5">{{resources.hard}}</option>
                            </select>
                        </div>
                        <label class="control-label col-md-2">{{resources.activity}}</label>
                        <div class="col-md-4">
                            <a class="btn btn-default" ng-click="offroadRequest.activityType = 'Walking'" ng-class="{active: offroadRequest.activityType == 'Walking'}"><i class="fa icon-hike fa-lg"></i></a>
                            <a class="btn btn-default" ng-click="offroadRequest.activityType = 'Cycling'" ng-class="{active: offroadRequest.activityType == 'Cycling'}"><i class="fa icon-bike fa-lg"></i></a>
                            <a class="btn btn-default" ng-click="offroadRequest.activityType = 'OffRoading'" ng-class="{active: offroadRequest.activityType == 'OffRoading'}"><i class="fa icon-four-by-four fa-lg"></i></a>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-offset-2 col-md-4">
                            <a class="cursor-pointer btn btn-success btn-block" ng-click="sendToOffroad()"><i class="fa fa-send fa-lg"></i> {{resources.send}}</a>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">{{resources.embedSize}} </label>
                    <div class="col-md-4">
                        <select ng-model="size" class="form-control" ng-change="setSize(size)">
                            <option>{{resources.small}}</option>
                            <option>{{resources.medium}}</option>
                            <option>{{resources.large}}</option>
                            <option>{{resources.custom}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="size == resources.custom">
                    <label class="control-label col-md-2">{{resources.width}}</label>
                    <div class="col-md-4">
                        <input type="number" ng-model="width" class="form-control" ng-change="updateEmbedText(width, height)" />
                    </div>
                    <label class="control-label col-md-2">{{resources.height}}</label>
                    <div class="col-md-4">
                        <input type="number" ng-model="height" class="form-control" ng-change="updateEmbedText(width, height)" />
                    </div>
                </div>
                <p class="col-md-offset-2 col-md-10">{{resources.copyPasteEmbedExplenation}}</p>
                <div class="form-group">
                    <label class="control-label col-md-2">{{resources.HTML}}</label>
                    <div class="col-md-10">
                        <textarea rows="3" class="form-control" ng-model="embedText" dir="ltr"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-show="shareAddress" ng-click="clearShareAddress()" analytics-on="click" analytics-category="Share" analytics-event="Share clear">{{resources.clear}}</button>
        </div>
    </form>
</div>