<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{resources.shareYourWork}}</h4>
    </div>
    <form class="form-horizontal">
        <div class="modal-body">
            <div ng-hide="shareAddress">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{resources.title}}</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="title" class="form-control" placeholder="{{resources.titlePlaceHolder}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">{{resources.description}}</label>
                    <div class="col-md-10">
                        <textarea type="text" ng-model="description" class="form-control" placeholder="{{resources.descriptionPlaceHolder}}"></textarea>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-success btn-block" ng-click="generateUrl(title, description)" ng-disabled="isLoading">{{resources.generateUrlToShareWithYourFriends}}</button>
                        <!--<button class="btn btn-success" ng-click="showOffroadForm = !showOffroadForm" ng-disabled="isLoading">Off road icon?</button>-->
                    </div>
                </div>
            </div>
            <!--
            <div ng-show="showOffroadForm">
                <div class="form-group">
                    <label class="col-md-2">User E-Mail</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="userMail" class="form-control" placeholder="User E-Mail"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">{{resources.title}}</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="title" class="form-control" placeholder="{{resources.title}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Description</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="routeDescription" class="form-control" placeholder="Description"/>
                    </div>

                </div>
                <button type="button" ng-click="sendToOffroad(userMail, title, routeDescription)" class="btn btn-success">Send!</button>
            </div>
            -->
            <div ng-show="shareAddress">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <img ng-src="{{imageUrl}}" class="img-responsive" />
                    </div>
                    <div class="col-md-8 col-xs-12">
                        <div class="row">
                            <div class="col-xs-9">
                                <h4>{{title}} - {{description}}</h4>
                            </div>
                            <div class="col-xs-3">
                                <a href="{{facebookShareAddress}}" class="btn btn-default btn-block" target="_blank"><i class="fa fa-facebook"></i></a>
                                <div class="visible-sm visible-xs">
                                    <a ng-href="{{whatappShareAddress}}" class="btn btn-default btn-block"><i class="fa fa-whatsapp"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-9">
                                <a href="{{shareAddress}}" target="_blank">{{shareAddress}}</a>
                            </div>
                            <div class="col-xs-3">
                                <a class="btn btn-block btn-info" clipboard supported="true" text="shareAddress"><i class="fa fa-clipboard"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="control-label col-md-2">{{resources.embedSize}} </label>
                    <div class="col-md-4">
                        <select ng-model="size" class="form-control" ng-change="setSize(size)">
                            <option>{{resources.small}}</option>
                            <option>{{resources.medium}}</option>
                            <option>{{resources.large}}</option>
                            <option>{{resources.custom}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="size == resources.custom">
                    <label class="control-label col-md-2">{{resources.width}}</label>
                    <div class="col-md-4">
                        <input type="number" ng-model="width" class="form-control" ng-change="updateEmbedText(width, height)" />
                    </div>
                    <label class="control-label col-md-2">{{resources.height}}</label>
                    <div class="col-md-4">
                        <input type="number" ng-model="height" class="form-control" ng-change="updateEmbedText(width, height)" />
                    </div>
                </div>
                <p class="col-md-offset-2 col-md-10">{{resources.copyPasteEmbedExplenation}}</p>
                <div class="form-group">
                    <label class="control-label col-md-2">{{resources.HTML}}</label>
                    <div class="col-md-10">
                        <textarea rows="3" class="form-control" ng-model="embedText"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-show="shareAddress" ng-click="clearShareAddress()">{{resources.clear}}</button>
        </div>
    </form>
</div>