<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{resources.shareYourWork}}</h4>
    </div>
    <form class="form-horizontal">
        <div class="modal-body">
            <div ng-hide="shareAddress">
                <div class="form-group">
                    <label class="col-md-2 control-label">{{resources.title}}</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="title" class="form-control" placeholder="{{resources.title}}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-8">{{resources.generateUrlToShareWithYourFriends}}</label>
                    <div class="col-md-4">
                        <button class="btn btn-success btn-block" ng-click="generateUrl()" ng-disabled="isLoading">{{resources.excitedGo}}</button>
                        <!--<button class="btn btn-success" ng-click="showOffroadForm = !showOffroadForm" ng-disabled="isLoading">Off road icon?</button>-->
                    </div>
                </div>
            </div>
            <!--
            <div ng-show="showOffroadForm">
                <div class="form-group">
                    <label class="col-md-2">User E-Mail</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="userMail" class="form-control" placeholder="User E-Mail"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">{{resources.title}}</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="title" class="form-control" placeholder="{{resources.title}}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Description</label>
                    <div class="col-md-10">
                        <input type="text" ng-model="routeDescription" class="form-control" placeholder="Description"/>
                    </div>

                </div>
                <button type="button" ng-click="sendToOffroad(userMail, title, routeDescription)" class="btn btn-success">Send!</button>
            </div>
            -->
            <div ng-show="shareAddress">
                <div class="col-xs-offset-1">
                    <h4>{{title}}</h4>
                </div>
                <div class="form-group">
                    <a href="{{shareAddress}}" target="_blank" class="col-xs-offset-1 chome-wordwrap-fix">{{shareAddress}}</a>
                </div>
                <div class="col-xs-offset-1">
                    <div class="visible-sm visible-xs">
                        <a ng-href="{{whatappShareAddress}}" class="btn btn-default"><i class="fa fa-whatsapp"></i></a>
                        <a ng-href="{{facebookShareAddress}}" class="btn btn-default" target="_blank"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="hidden-sm hidden-xs">
                        <a ng-href="{{facebookShareAddress}}" class="btn btn-default" target="_blank"><i class="fa fa-facebook"></i></a>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <label class="control-label col-md-2">{{resources.embedSize}} </label>
                    <div class="col-md-4">
                        <select ng-model="size" class="form-control" ng-change="setSize(size)">
                            <option>{{resources.small}}</option>
                            <option>{{resources.medium}}</option>
                            <option>{{resources.large}}</option>
                            <option>{{resources.custom}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-show="size == resources.custom">
                    <label class="control-label col-md-2">{{resources.width}}</label>
                    <div class="col-md-4">
                        <input type="number" ng-model="width" class="form-control" ng-change="updateEmbedText(width, height)"/>
                    </div>
                    <label class="control-label col-md-2">{{resources.height}}</label>
                    <div class="col-md-4">
                        <input type="number" ng-model="height" class="form-control" ng-change="updateEmbedText(width, height)"/>
                    </div>
                </div>
                <p class="col-md-offset-2 col-md-10">{{resources.copyPasteEmbedExplenation}}</p>
                <div class="form-group">
                    <label class="control-label col-md-2">{{resources.HTML}}</label>
                    <div class="col-md-10">
                        <textarea rows="3" class="form-control" ng-model="embedText"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" ng-show="shareAddress" ng-click="clearShareAddress()">{{resources.clear}}</button>
        </div>
    </form>
</div>