<ng-progress ngProgressHttp [ngStyle]="{'z-index':1500}"></ng-progress>
<sidebar></sidebar>
<div class="flex flex-row w-full map-h-full" [dir]="resources.direction">
  <mgl-map ngSkipHydration="true" [zoom]="[location.zoom]" [center]="[location.longitude, location.latitude]"
    [mapStyle]="initialStyle" (mapLoad)="mapLoaded($event)" [doubleClickZoom]="false" [attributionControl]="false">
    <layers [isMainMap]="true"></layers>
    @if (!isIFrame()) {
    <public-pois></public-pois>
    }
    <routes></routes>
    @if (!isIFrame()) {
    <recorded-route></recorded-route>
    <traces></traces>
    <drawing #topStartControl></drawing>
    }
    <zoom #topEndControl></zoom>
    @if (isMobile() || !isIFrame()) {
    <location #topEndControl></location>
    }
    @if (!isIFrame()) {
    <layers-button #topEndControl></layers-button>
    }
    <route-statistics #bottomStartControl></route-statistics>
    <osm-attribution #bottomStartControl></osm-attribution>
    <center-me #bottomStartControl></center-me>
    @if (!isApp()) {
    <mapeak-link #bottomEndControl></mapeak-link>
    }
  </mgl-map>
</div>