@use "variables" as v;

.map-height {
    height: calc(100vh - var(--mat-toolbar-mobile-height) - env(safe-area-inset-top, 0));
}

@media (width >=600px) {
    .map-height {
        height: calc(100vh - var(--mat-toolbar-standard-height) - env(safe-area-inset-top, 0));
    }
}

.maplibregl-ctrl-top-left {
    z-index: v.$app-left-z-index !important;
}

.maplibregl-ctrl-top-right {
    z-index: v.$app-left-z-index - 10 !important;
}

.maplibregl-ctrl-bottom-right {
    z-index: v.$app-left-z-index - 30 !important;

    &:first-child {
        margin-bottom: env(safe-area-inset-bottom, 0) !important;
    }
}

.maplibregl-ctrl-bottom-left {
    z-index: v.$app-left-z-index - 20 !important;

    &:first-child {
        margin-bottom: env(safe-area-inset-bottom, 0) !important;
    }
}

[dir=rtl] .maplibregl-ctrl-bottom-right {
    z-index: v.$app-left-z-index - 20 !important;
}

[dir=rtl] .maplibregl-ctrl-bottom-left {
    z-index: v.$app-left-z-index - 30 !important;
}

mgl-map {
    height: 100%;
    width: 100%;
    object-fit: cover;
}