@import "~scss/_variables.scss";

.maplibregl-ctrl-top-left {
    z-index: $app-left-z-index !important;
}

.maplibregl-ctrl-top-right {
    z-index: $app-left-z-index - 10 !important;
}

.maplibregl-ctrl-bottom-right {
    z-index: $app-left-z-index - 20 !important;
}

.maplibregl-ctrl-bottom-left {
    z-index: $app-left-z-index - 30 !important;
}

mgl-map {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
