@if (isRecording()) {
  <div>
    @for (recordedReouteSegment of recordedRouteSegments; track trackByIndex(idx, recordedReouteSegment); let idx = $index) {
      <div>
        <mgl-geojson-source id="{{'recorded-route-segment-geojson-' + idx}}" [data]="recordedReouteSegment"></mgl-geojson-source>
        <mgl-layer id="{{'recorded-route-line-' + idx}}"
          type="line"
          source="{{'recorded-route-segment-geojson-' + idx}}"
            [layout]="{
                'line-cap': 'round',
                'line-join': 'bevel'
            }"
            [paint]="{
                'line-color': resources.recordedRouteColor,
                'line-width': 6,
                'line-opacity': 1.0
            }">
        </mgl-layer>
        <mgl-layer id="{{'recorded-route-line-direction-' + idx}}"
          type="symbol"
          source="{{'recorded-route-segment-geojson-' + idx}}"
            [layout]="{
                'symbol-placement': 'line',
                'symbol-spacing': 40,
                'icon-image': 'arrow',
                'icon-size': 0.5,
                'icon-allow-overlap': true,
                'icon-ignore-placement': true
            }"
            [paint]="{
                'icon-color': 'black'
            }">
        </mgl-layer>
      </div>
    }
    <mgl-geojson-source id="recorded-route-last-segment-geojson" [data]="lastRouteSegment"></mgl-geojson-source>
    <mgl-layer id="recorded-route-last-line"
      type="line"
      source="recorded-route-last-segment-geojson"
        [layout]="{
            'line-cap': 'round',
            'line-join': 'bevel'
        }"
        [paint]="{
            'line-color': resources.recordedRouteColor,
            'line-width': 6,
            'line-opacity': 1.0
        }">
    </mgl-layer>
    <mgl-layer id="recorded-route-last-line-direction"
      type="symbol"
      source="recorded-route-last-segment-geojson"
        [layout]="{
            'symbol-placement': 'line',
            'symbol-spacing': 40,
            'icon-image': 'arrow',
            'icon-size': 0.5,
            'icon-allow-overlap': true,
            'icon-ignore-placement': true
        }"
        [paint]="{
            'icon-color': 'black'
        }">
    </mgl-layer>
    @if (startPointGeoJson) {
      <mgl-geojson-source id="recorded-route-start-geojson" [data]="startPointGeoJson"></mgl-geojson-source>
    }
    @if (startPointGeoJson) {
      <mgl-layer
        id="recorded-route-start-point"
        type="circle"
        source="recorded-route-start-geojson"
        [paint]="{
            'circle-color': '#43a047',
            'circle-radius': 7,
            'circle-stroke-color': 'white',
            'circle-stroke-width': 3
        }">
      </mgl-layer>
    }
  </div>
}

@if ((recordedRoute$ | async)) {
  <div>
    @for (marker of (recordedRoute$ | async).markers; track marker; let idx = $index) {
      <div>
        <mgl-marker anchor="bottom"
          [draggable]="isAddingPoi$ | async"
          [lngLat]="marker.latlng"
          (markerDragEnd)="markerDragEnd(idx, $event)">
          <private-poi-overlay [marker]="marker" [index]="idx" [color]="resources.recordedRouteColor"></private-poi-overlay>
        </mgl-marker>
      </div>
    }
  </div>
}