<routes-path [routesGeoJson]="routesGeoJson" (lineLayerMouseEnter)="routeLineMouseEnter($event)"
  (lineLayerMouseMove)="routeLineMouseOver($event)" (lineLayerMouseLeave)="routeLineMouseLeave()"
  (lineLayerClick)="routeLineClick($event)" (pointsLayerClick)="nonEditRoutePointClick($event)"></routes-path>
<mgl-geojson-source [id]="resources.editRouteSource" [data]="editingRouteGeoJson"></mgl-geojson-source>
<mgl-layer [id]="resources.editRouteLines" type="line" [source]="resources.editRouteSource"
  [filter]="['==', '$type', 'LineString']" [before]="resources.endOfRoutes" [layout]="{
                'line-cap': 'butt',
                'line-join': 'bevel'
            }" [paint]="{
                   'line-color': ['get', 'color'],
                   'line-width': ['get', 'weight'],
                   'line-opacity': ['get', 'opacity']
            }">
</mgl-layer>
<mgl-layer id="edit-route-line-direction" type="symbol" [source]="resources.editRouteSource"
  [before]="resources.endOfRoutes" [filter]="['==', '$type', 'LineString']" [layout]="{
                'symbol-placement': 'line',
                'symbol-spacing': 40,
                'icon-image': 'arrow',
                'icon-size': ['get', 'iconSize'],
                'icon-allow-overlap': true,
                'icon-ignore-placement': true
           }" [paint]="{
                'icon-color': ['get', 'iconColor']
            }">
</mgl-layer>
<mgl-layer [id]="resources.editRoutePoints" type="circle" [source]="resources.editRouteSource"
  [filter]="['==', '$type', 'Point']" [before]="resources.endOfRoutes" [paint]="{
                   'circle-color': ['get', 'color'],
                   'circle-radius': 7,
                   'circle-stroke-color': 'white',
                   'circle-stroke-width': 3
            }">
</mgl-layer>

@if (routePointPopupData) {
<mgl-popup [lngLat]="[routePointPopupData.latlng.lng, routePointPopupData.latlng.lat]"
  (popupClose)="closeRoutePointPopup()">
  <route-point-overlay [latlng]="routePointPopupData.latlng" [segmentIndex]="routePointPopupData.segmentIndex"
    (closed)="closeRoutePointPopup()"></route-point-overlay>
</mgl-popup>
}

@if (nonEditRoutePointPopupData) {
<mgl-popup [lngLat]="[nonEditRoutePointPopupData.latlng.lng, nonEditRoutePointPopupData.latlng.lat]"
  (popupClose)="nonEditRoutePointPopupData = null">
  <div [dir]="resources.direction">
    <div class="flex flex-row gap-1">
      <div class="flex-1">
        <div class="flex flex-col text-center">
          <a mat-button class="w-full" [href]="nonEditRoutePointPopupData.wazeAddress" target="_blank"
            matTooltip="{{resources.navigateWithWaze}}" matTooltipPosition="above"><i class="fa icon-waze"></i></a>
          {{resources.navigateWithWaze}}
        </div>
      </div>
      <div class="flex-1">
        <div class="flex flex-col text-center">
          <a mat-button class="w-full" [href]="nonEditRoutePointPopupData.googleMapsAddress" target="_blank"
            matTooltip="{{resources.navigateWithGoogleMaps}}" matTooltipPosition="above"><i
              class="fa icon-map-marker"></i>
          </a>
          {{resources.navigateWithGoogleMaps}}
        </div>
      </div>
      <div class="flex-1">
        <div class="flex flex-col text-center">
          <button mat-button class="w-full" (click)="switchToEditMode(nonEditRoutePointPopupData.routeId)"
            matTooltip="{{resources.edit}}" matTooltipPosition="above"><i class="fa icon-pencil"></i></button>
          {{resources.edit}}
        </div>
      </div>
    </div>
  </div>
</mgl-popup>
}


@for (route of routes; track route) {
@if (route.state !== 'Hidden') {
@for (marker of route.markers; track marker; let idx = $index) {
<mgl-marker anchor="bottom" [draggable]="isRouteInEditPoiMode(route)" [lngLat]="marker.latlng"
  (markerDragEnd)="markerDragEnd(idx, $event)">
  <private-poi-overlay [marker]="marker" [routeId]="route.id" [index]="idx" [color]="route.color"></private-poi-overlay>
</mgl-marker>
}
}
}