<mgl-geojson-source id="non-edit-routes-geojson" [data]="routesGeoJson()"></mgl-geojson-source>
<mgl-layer id="non-edit-route-line" type="line" source="non-edit-routes-geojson" [before]="resources.endOfRoutes"
    [filter]="['==', '$type', 'LineString']" [layout]="{
                'line-cap': 'butt',
                'line-join': 'bevel'
           }" [paint]="{
                'line-color': ['get', 'color'],
                'line-width': ['get', 'weight'],
                'line-opacity': ['get', 'opacity']
            }" (layerMouseEnter)="lineLayerMouseEnter.emit($event)" (layerMouseMove)="lineLayerMouseMove.emit($event)"
    (layerMouseLeave)="lineLayerMouseLeave.emit($event)" (layerClick)="lineLayerClick.emit($event)">
</mgl-layer>
<mgl-layer id="non-edit-route-line-direction" type="symbol" source="non-edit-routes-geojson"
    [before]="resources.endOfRoutes" [filter]="['==', '$type', 'LineString']" [layout]="{
                'symbol-placement': 'line',
                'symbol-spacing': 40,
                'icon-image': 'arrow',
                'icon-size': ['get', 'iconSize'],
                'icon-allow-overlap': true,
                'icon-ignore-placement': true
           }" [paint]="{
                'icon-color': ['get', 'iconColor']
            }">
</mgl-layer>
<mgl-layer id="non-edit-route-points" type="circle" source="non-edit-routes-geojson" [before]="resources.endOfRoutes"
    [filter]="['==', '$type', 'Point']" [paint]="{
                'circle-color': ['get', 'color'],
                'circle-radius': 7,
                'circle-stroke-color': ['get', 'strokeColor'],
                'circle-stroke-width': 3
            }" (layerClick)="pointsLayerClick.emit($event)">
</mgl-layer>