<div class="marker-popup">
    <form ng-submit="setTitle(title)">
        <div class="form-group">
            <textarea rows="2" class="form-control" type="text" dir="{{getDirection(title)}}" ng-model="title" ng-change="updateWikiCoordinates(title)"></textarea>
        </div>
        <div class="form-group">
            <a class="btn btn-success cursor-pointer input-group-addon" ng-click="setTitle(title)" uib-tooltip="{{resources.save}}" tooltip-placement="top" tooltip-append-to-body="true" tooltip-is-open="isSaveTooltipOpen"><i class="fa fa-check"></i></a>
            <a class="btn btn-danger cursor-pointer input-group-addon" ng-click="remove()" uib-tooltip="{{resources.deletePoi}}" tooltip-placement="top" tooltip-append-to-body="true" tooltip-is-open="isRemoveTooltipOpen"><i class="fa fa-trash"></i></a>
            <a class="btn btn-warning cursor-pointer input-group-addon" ng-click="showCoordinates = !showCoordinates" uib-tooltip="{{resources.showCoordinates}}" tooltip-placement="top" tooltip-append-to-body="true"><i class="fa fa-globe"></i></a>
        </div>
    </form>
    <div ng-include="'controllers/MarkerPopup/coordinatesMarkerPopup.html'"></div>
    <p class="chrome-wordwrap-fix" ng-class="'text-' + resources.start" ng-show="showCoordinates">
        <span ng-bind-html="resources.coordinatesForWikipedia"></span> <span dir="ltr">{{wikiCoordinatesString}}</span>
    </p>
</div>
