<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <form ng-submit="saveRoute($event); $close()">
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-3">{{resources.name}}</label>
                    <div class="col-md-9">
                        <input type="text" ng-model="routeProperties.name" class="form-control" placeholder="{{resources.layerNamePlaceHolder}}" required="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" ng-show="isAdvanced">
                        <div class="form-group">
                            <label class="control-label col-md-6">{{resources.widthInPixels}}</label>
                            <div class="col-md-6">
                                <input type="number" class="form-control" min="1" max="10" ng-model="routeProperties.pathOptions.weight" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-6">{{resources.opacity}}</label>
                            <div class="col-md-6">
                                <span slider ng-model="routeProperties.pathOptions.opacity" min="0.1" max="1.0" step="0.1" tooltip="always" slider-tooltip-position="bottom"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-6">{{resources.color}} <button type="button" class="btn btn-default" ng-style="{'background-color': routeProperties.pathOptions.color}"></button></label>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-default col-xs-3" ng-style="{'background-color': currentColor}" ng-repeat="currentColor in colors" ng-click="routeProperties.pathOptions.color = currentColor"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-12 col-xs-12 modal-footer-btns">
                    <button type="button" ng-hide="isNew || !isAdvanced" ng-click="saveRouteToFile($event)" class="btn btn-default" uib-tooltip="{{resources.saveRouteToFile}}" tooltip-placement="bottom" tooltip-append-to-body="true" analytics-on="click" analytics-category="Route" analytics-event="Save route to file"><i class="fa fa-lg fa-save"></i></button>
                    <button type="button" ng-hide="isNew || !isAdvanced" ng-click="isReversed = !isReversed" class="btn btn-default" uib-tooltip="{{resources.reverseRoute}}" tooltip-placement="bottom" tooltip-append-to-body="true" ng-class="{'active': isReversed }" analytics-on="click" analytics-category="Route" analytics-event="Reverse route"><i class="fa fa-lg fa-arrows-h"></i></button>
                    <button type="button" ng-hide="isNew || !isAdvanced" ng-click="moveToRoute($event)" class="btn btn-default" uib-tooltip="{{resources.moveToRoute}}" tooltip-placement="bottom" tooltip-append-to-body="true" analytics-on="click" analytics-category="Route" analytics-event="Move to route"><i class="fa fa-lg fa-crosshairs"></i></button>
                    <button type="button" ng-hide="isNew || !isAdvanced" ng-click="routeProperties.isRoutingPerPoint = !routeProperties.isRoutingPerPoint" class="btn btn-default" uib-tooltip="{{resources.toggleRoutingPerSegment}}" tooltip-placement="bottom" tooltip-append-to-body="true" ng-class="{'active': routeProperties.isRoutingPerPoint }" analytics-on="click" analytics-category="Route" analytics-event="Toggle route per point"><img ng-src="{{getRoutingTypeImage()}}" alt="" class="center-image" /></button>
                    <button type="button" ng-hide="isNew" ng-click="deleteRoute($event); $close()" class="btn btn-danger" uib-tooltip="{{resources.deleteRoute}}" tooltip-placement="bottom" tooltip-append-to-body="true" analytics-on="click" analytics-category="Route" analytics-event="Delete route"><i class="fa fa-lg fa-trash"></i></button>
                    <button type="submit" class="btn btn-success" uib-tooltip="{{resources.save}}" tooltip-placement="bottom"><i class="fa fa-check"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>