@use "~@angular/material" as mat;

$app-primary: mat.define-palette(mat.$green-palette, 600);
$app-accent: mat.define-palette(mat.$yellow-palette);
$app-warm: mat.define-palette(mat.$red-palette);
$app-theme: mat.define-light-theme($app-primary, $app-accent, $app-warm);
$app-background: map-get($app-theme, background);

$app-sidebar-width: 400px;
$app-left-z-index: 1030;

$app-button-size: 36px;
$app-button-background: white;