﻿@use "@angular/material" as mat;
@use "variables" as v;
@use "dialogs";
@import "../fonts/icons.css";
@import "font-awesome/css/font-awesome.css";
@import "~maplibre-gl/dist/maplibre-gl.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$app-primary: mat.define-palette(mat.$green-palette, 600);
$app-accent: mat.define-palette(mat.$yellow-palette);
$app-warm: mat.define-palette(mat.$red-palette);
$app-theme: mat.define-light-theme((
 color: (
   primary: $app-primary,
   accent: $app-accent,
   warn: $app-warm,
 ),
 typography: mat.define-typography-config(),
 density: 0,
));
$app-background: map-get($app-theme, background);
@include mat.core();
@include mat.all-component-themes($app-theme);


.mat-mdc-snack-bar-container {
    &.success-snackbar {
        --mdc-snackbar-container-color: #{mat.get-color-from-palette($app-primary)};
    }
    &.warn-snackbar {
        --mdc-snackbar-container-color: #{mat.get-color-from-palette($app-accent)};
        --mdc-snackbar-supporting-text-color: ##000;
    }
    &.error-snackbar {
        --mdc-snackbar-container-color: #{mat.get-color-from-palette($app-warm)};
    }
    &.confirm-snackbar {
        --mat-mdc-snack-bar-button-color: var(--mdc-snackbar-supporting-text-color);
    }
  }


/* added direction to fix issue with scroll bar and legend maps */
.sidebar-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: v.$app-sidebar-width;
    line-height: 24px;
    overflow-x: hidden;
    overflow-y: auto;
    color: black;
    direction: ltr;
    background: mat.get-color-from-palette($app-background, card);
    z-index: v.$app-left-z-index + 5;
}


@media (width <= 550px) {
    .sidebar-wrapper {
        width: 100vw;
        box-sizing: border-box;
    }
}

html {
    height: 100%;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    overflow: hidden;
}

.side-control {
    position: relative;
    padding: 2px;
    clear: both;
    background-color: white;
    margin: 0 !important;
    border: 2px solid rgba(0,0,0,.2);

    & button, a {
        min-width: unset !important;
        padding: 0 !important;
        display: block;
        width: v.$app-button-size;
        height: v.$app-button-size;

        & i {
            vertical-align: middle !important;
        }
    }
}

.input-wrapper-spacer {
    height: 0;
    margin-bottom: 1rem;
}

@media (width <= 550px) {
    .route-statistics-control-container {
        margin-bottom: 0 !important;
        margin-right: 0 !important;
    }
}

.active {
    outline: 2px solid mat.get-color-from-palette($app-primary) !important;
}
// photoswipe, used for placing overlay at the right z-index
overlay.overlay-shown {
    z-index: 2000 !important;
}
.cdk-overlay-container {
    z-index: 1500 !important;
}
// end photoswipe

.cursor-default {
    cursor: default !important;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-zoom-in {
    cursor: zoom-in;
}

.stack-icon-top {
    top: -2px;
}

.stack-icon-small {
    font-size: 0.75em !important;
}

.stack-icon-large {
    font-size: 1.25em !important;
}

.fa.mat-icon {
    width: 24px;
    text-align: center;
    margin: 0 !important;
}

.text-small {
    font-size: small;
}

.text-large {
    font-size: large;
}

.no-padding {
    padding: 0 !important;
}

.min-w-unset {
    min-width: unset !important;
}

.h-unset {
    height: unset !important;
}

.control-container {
    display: table;
}

.control-container-item {
    display: table-cell;
    vertical-align: middle;
    height: v.$app-button-size;
}

.control-container-item.gutters {
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap
}

.chrome-wordwrap-fix {
    word-wrap: break-word;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.img-responsive {
    max-width: 100%;
}

.img-responsive-full {
    width: 100%;
    object-fit: contain;
}

.img-center {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    max-height: 100%;
}

.img-container-small {
    position: relative;
    width: 100%;
    height: 200px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.break-lines {
    white-space: pre-line;
}

.has-extra-data {
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    z-index: 1;
}

[dir=rtl] .has-extra-data {
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 50%;
    z-index: 1;
}

/* Progressbar override */
.ng-bar {
    background-color: mat.get-color-from-palette($app-primary) !important;
}

.ng-spinner-icon {
    border-top-color: mat.get-color-from-palette($app-primary) !important;
    border-left-color: mat.get-color-from-palette($app-primary) !important;
}

.ng-meteor {
    box-shadow: 0 0 10px mat.get-color-from-palette($app-primary), 0 0 5px mat.get-color-from-palette($app-primary) !important
}
/* Progressbar override */

/* Margins*/
.margin-10 {
    margin-left: 10px;
    margin-right: 0;
}

[dir=rtl] .margin-10 {
    margin-right: 10px;
    margin-left: 0;
}

.margin-10-reverse {
    margin-left: 0 !important;
    margin-right: 10px !important;
}

[dir=rtl] .margin-10-reverse {
    margin-right: 0 !important;
    margin-left: 10px !important;
}
/* Margins*/

@media print {
    .mat-mdc-tooltip,
    .side-control {
        display: none !important;
    }
}