@use "@angular/material" as mat;
@use "variables" as v;
@use "dialogs";
@use "../fonts/icons.css";
@use "font-awesome/css/font-awesome.css";
@use "maplibre-gl/dist/maplibre-gl.css";
@use "sass:map";
@use "import-tailwind";

$app-primary: mat.m2-define-palette(mat.$m2-green-palette, 600);
$app-accent: mat.m2-define-palette(mat.$m2-yellow-palette);
$app-warm: mat.m2-define-palette(mat.$m2-red-palette);
$app-theme: mat.m2-define-light-theme((color: (primary: $app-primary,
                accent: $app-accent,
                warn: $app-warm,
            ),
            typography: mat.m2-define-typography-config(),
            density: 0,
        ));
$app-background: map.get($app-theme, background);

@include mat.elevation-classes();
@include mat.app-background();
@include mat.all-component-themes($app-theme);

.mat-mdc-snack-bar-container {
    margin-bottom: env(safe-area-inset-bottom, 0) !important;

    &.success-snackbar {
        --mat-snack-bar-container-color: #32CD6D;
    }

    &.warn-snackbar {
        --mat-snack-bar-container-color: #{mat.m2-get-color-from-palette($app-accent)};
        --mat-snack-bar-supporting-text-color: ##000;
    }

    &.error-snackbar {
        --mat-snack-bar-container-color: #{mat.m2-get-color-from-palette($app-warm)};
    }

    &.confirm-snackbar {
        --mat-snack-bar-button-color: var(--mat-snack-bar-supporting-text-color);
    }
}

@font-face {
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/noto-sans-regular.woff2') format('woff2');
}


@font-face {
    font-family: 'Open Sans Regular';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/open-sans-regular.woff2') format('woff2');
}


@font-face {
    font-family: 'Open Sans Cond Bold';
    font-style: normal;
    font-display: swap;
    src: url('../fonts/open-sans-condensed-bold.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.side-control {
    position: relative;
    padding: 2px;
    clear: both;
    background-color: white;
    margin: 0 !important;
    border: 2px solid rgba(0, 0, 0, .2);

    & button,
    a {
        min-width: unset !important;
        padding: 0 !important;
        display: block;
        width: v.$app-button-size;
        height: v.$app-button-size;

        & i {
            vertical-align: middle !important;
        }
    }
}

.side-control.maplibregl-ctrl button:last-of-type {
    overflow: hidden;
}

.active {
    outline: 3px solid #32CD6D !important;
}

.stack-icon-top {
    top: -2px;
}

.stack-icon-small {
    font-size: 0.75em !important;
}

.stack-icon-large {
    font-size: 1.25em !important;
}

.fa.mat-icon {
    width: 24px;
    text-align: center;
    margin: 0 !important;
}

.control-container-item {
    display: table-cell;
    vertical-align: middle;
    height: v.$app-button-size;
}

.control-container-item.gutters {
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap
}

.img-center {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    max-height: 100%;
}

.has-extra-data {
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    z-index: 1;
}

[dir=rtl] .has-extra-data {
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 50%;
    z-index: 1;
}

/* Progressbar override */
.ng-bar {
    background-color: #32CD6D !important;
}

.ng-spinner-icon {
    border-top-color: #32CD6D !important;
    border-left-color: #32CD6D !important;
}

.ng-meteor {
    box-shadow: 0 0 10px #32CD6D, 0 0 5px #32CD6D !important
}

/* Progressbar override end */

.maplibregl-ctrl-top-left {
    margin-left: env(safe-area-inset-left, 0) !important;
    margin-top: calc(var(--mat-toolbar-mobile-height) + env(safe-area-inset-top, 0)) !important;
}

.maplibregl-ctrl-top-right {
    margin-top: calc(var(--mat-toolbar-mobile-height) + env(safe-area-inset-top, 0)) !important;
}

.maplibregl-ctrl-bottom-right {
    margin-bottom: env(safe-area-inset-bottom, 0) !important;
}

.maplibregl-ctrl-bottom-left {
    margin-bottom: env(safe-area-inset-bottom, 0) !important;
    margin-left: env(safe-area-inset-left, 0) !important;
}

@media (width >=600px) {
    .maplibregl-ctrl-top-left {
        margin-top: calc(var(--mat-toolbar-standard-height) + env(safe-area-inset-top, 0)) !important;
    }

    .maplibregl-ctrl-top-right {
        margin-top: calc(var(--mat-toolbar-standard-height) + env(safe-area-inset-top, 0)) !important;
    }
}

.magrin-top-with-toolbar {
    margin-top: calc(var(--mat-toolbar-mobile-height) + env(safe-area-inset-top, 0));
}

@media (width >=600px) {
    .magrin-top-with-toolbar {
        margin-top: calc(var(--mat-toolbar-standard-height) + env(safe-area-inset-top, 0));
    }
}

mgl-map {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}

.maplibregl-ctrl {
    margin: 0 !important;
}

@media print {

    .mat-mdc-tooltip,
    .side-control {
        display: none !important;
    }
}