[matDialogTitle] {
    display: flex !important;
    justify-content: space-between;
    align-items: top;
}

[matDialogTitle] [matDialogClose] {
    min-width: 0;
    min-height: 0;
    line-height: initial;
    padding: 5px;
}

[matDialogTitle] [matDialogClose] i {
    display: block;
}

.close-wrapper {
    float: left;
}

.dialog-small {
    max-width: 480px;
}

.dialog-xs {
    max-width: 360px;
}

.item {
    padding: 5px;
}

.item:nth-child(odd) {
    background: #f1f1f1;
}

.item-image {
    padding: 5px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    width: 64px;
    height: 64px;
}

@media (max-width:767px) {
    .mat-mdc-dialog-container {
        margin: 0 auto;
        max-height: 90vh;
    }

    .mat-mdc-dialog-container .mat-mdc-button {
        white-space: normal;
    }
}