[mat-dialog-title] [mat-dialog-close] {
    position: absolute;
    min-width: 0;
    min-height: 0;
    line-height: initial;
    padding: 5px;
    top: env(safe-area-inset-top, 0);
    right: 5px;
}

[dir=rtl] [mat-dialog-title] [mat-dialog-close] {
    right: unset;
    left: 5px;
}

.mdc-dialog__title::before {
    height: 0 !important;
}

.item {
    padding: 5px;
}

.item:nth-child(odd) {
    background: #f1f1f1;
}

.item-image {
    padding: 5px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
    width: 64px;
    min-width: 64px;
    height: 64px;
}

@media (width <=768px) {
    .mat-mdc-dialog-container {
        margin: 0 auto;
        max-height: 90vh;
    }

    .mat-mdc-dialog-container .mat-mdc-button {
        white-space: normal;
    }

    .item-image {
        padding: 0;
        width: 48px;
        min-width: 48px;
        height: 48px;
    }
}


@media(height <=550px) {
    .mat-mdc-dialog-content {
        max-height: calc(100vh - 170px) !important;
    }
}