[mat-dialog-title] [mat-dialog-close] {
    position: absolute;
    top: var(--safe-area-inset-top, env(safe-area-inset-top, 0px));
    right: 5px;
}

[dir=rtl] [mat-dialog-title] [mat-dialog-close] {
    right: unset;
    left: 5px;
}

.mdc-dialog__title::before {
    height: 0 !important;
}

@media (width <=768px) {
    .mat-mdc-dialog-container {
        margin: 0 auto;
        max-height: 90vh;
    }

    .mat-mdc-dialog-container .mat-mdc-button {
        white-space: normal;
    }
}


@media(height <=550px) {
    .mat-mdc-dialog-content {
        max-height: calc(100vh - 170px) !important;
    }
}