<div class="leaflet-bar">
    <a class="cursor-pointer" ng-click="clear($event)" title="Clear"><i class="fa fa-remove fa-lg"></i></a>
    <a class="cursor-pointer" ng-click="toggleDrawing($event)" ng-class="{'leaflet-active' : isDrawingEnabled()}" title="Toggle drawing mode"><i class="fa fa-pencil fa-lg"></i></a>
    <a class="cursor-pointer" ng-show="showRouting()" ng-click="toggleRouting('h', $event)" ng-class="{'leaflet-active' : getRoutingType() == 'h'}" title="Hike routing"><i class="fa fa-level-up fa-lg"></i></a>
    <!--
    <a class="cursor-pointer" ng-show="showRouting()" ng-click="toggleRouting('h', $event)" ng-class="{'leaflet-active' : getRoutingType() == 'h'}" title="Hike routing"><img src="content/images/hike.svg" /></a>
    <a class="cursor-pointer" ng-show="showRouting()" ng-click="toggleRouting('b', $event)" ng-class="{'leaflet-active' : getRoutingType() == 'b'}" title="Bike routing"><img src="content/images/bike.svg" /></a>
    <a class="cursor-pointer" ng-show="showRouting()" ng-click="toggleRouting('f', $event)" ng-class="{'leaflet-active' : getRoutingType() == 'f'}" title="4x4 routing"><img src="content/images/four-by-four.svg" /></a>
    -->
    <a class="cursor-pointer" ng-click="undo($event)" ng-class="{'leaflet-disabled' : isUndoDisbaled()}" title="Undo"><i class="fa fa-undo fa-lg"></i></a>
</div>
