<div ng-init="hover = false" class="leaflet-control-layers" ng-mouseover="hover = true" ng-mouseleave="hover = false">
    <a title="Layers" class="leaflet-control-layers-toggle cursor-pointer" ng-show="hover == false" ng-click="hover = !hover"></a>
    <div class="leaflet-control-layers-expanded leaflet-control-layers" ng-show="hover == true">
        <div ng-repeat="baseLayer in baseLayers">
            <label class="control-label">
                <button class="btn btn-xs btn-default" ng-click="selectBaseLayer(baseLayer, $event)" ng-class="{'active': baseLayer.selected }"><i ng-class="{'fa fa-eye': baseLayer.selected, 'fa fa-eye-slash': !baseLayer.selected}"></i></button>
                <button class="btn btn-xs btn-danger" ng-click="removeBaseLayer(baseLayer, $event)" ng-show="andvanced"><i class="fa fa-trash"></i></button>
                {{baseLayer.key}}
            </label>
        </div>
        <button class="btn btn-xs btn-success" ng-click="addBaseLayer($event)" ng-show="andvanced"><i class="fa fa-plus"></i> Add Base Layer</button>
        <div class="leaflet-control-layers-separator"></div>
        <div ng-repeat="overlay in overlays">
            <label class="control-label">
                <button class="btn btn-xs btn-default" ng-click="toggleVisibility(overlay, $event)"><i ng-class="{'fa fa-eye': overlay.visible, 'fa fa-eye-slash': !overlay.visible}"></i></button>
                <button class="btn btn-xs btn-danger" ng-click="removeOverlay(overlay, $event)" ng-show="andvanced"><i class="fa fa-trash"></i></button>
                {{overlay.key}}
            </label>
        </div>
        <button class="btn btn-xs btn-success" ng-click="addOverlay($event)" ng-show="andvanced"><i class="fa fa-plus"></i> Add Overlay</button>
        <div class="leaflet-control-layers-separator"></div>
        <div ng-repeat="route in routes">
            <label class="control-label">
                <button class="btn btn-xs btn-default" ng-click="selectRoute(route.name, $event)" ng-class="{'active' : route.active }"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-xs btn-danger" ng-click="removeRoute(route.name, $event)" ng-show="andvanced"><i class="fa fa-trash"></i></button>
                {{route.name}}
            </label>
        </div>
        <button class="btn btn-xs btn-success" ng-click="addRoute($event)" ng-show="andvanced" title="Add route"><i class="fa fa-plus"> Add Route</i></button>
        <button ng-init="andvanced = false" class="btn btn-xs btn-warning" ng-click="andvanced = !andvanced" title="Show advanced settings" ng-class="{'active': andvanced }"><i class="fa fa-gear"></i></button>
    </div>
</div>
