<div class="tooltip in" ng-show="title">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner">
        <ul class="text-left">
            <li><a class="cursor-pointer" ng-click="save($event, 'IsraelHikingMap.gpx')">IsraelHikingMap.gpx</a></li>
            <li><a class="cursor-pointer" ng-click="save($event, 'IsraelHikingMap.kml')">IsraelHikingMap.kml</a></li>
            <li><a class="cursor-pointer" ng-click="save($event, 'IsraelHikingMap.geojson')">IsraelHikingMap.geojson</a></li>
        </ul>
    </div>
</div>
