<div class="tooltip in" ng-show="title">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner tooltip-info">
        <h3>Help - basic instructions on using this site</h3>
        <h4 class="text-left"><a class="cursor-pointer" ng-click="openLegend()"> Show legend</a></h4>
        <div class="text-left">
            <table>
                <thead></thead>
                <tbody>
                    <tr>
                        <td><button class="btn btn-warning btn-xs help-button"><i class="fa fa-lg fa-gear"></i></button></td>
                        <td>&nbsp;Toggle advanced layer usage (inside the layers control).&nbsp;</td>
                        <td><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-crosshairs"></i></button></td>
                        <td>&nbsp;Move the map to your current location.&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-folder-open"></i></button></td>
                        <td>&nbsp;Open a .gpx/.kml/.geojson file.&nbsp;</td>
                        <td><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-save"></i></button></td>
                        <td>&nbsp;Save your work to a file.&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-pencil"></i></button></td>
                        <td colspan="3">&nbsp;Toggle drawing. use <i>escape</i> to stop, and double click to remove a point.&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-level-up"></i></button></td>
                        <td>&nbsp;Toggle routing on the selected route.&nbsp;</td>
                        <td><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-area-chart"></i></button></td>
                        <td>&nbsp;Route statistics.&nbsp;</td>
                    </tr>
                    <!--
                    <tr>
                        <td><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-level-up"></i></button></td>
                        <td>&nbsp;No routing.&nbsp;</td>
                        <td><button class="btn btn-default btn-xs help-button"><img src="content/images/hike.svg" /></button></td>
                        <td>&nbsp;Hike routing.&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-default btn-xs help-button"><img src="content/images/bike.svg" /></button></td>
                        <td>&nbsp;Bike routing.&nbsp;</td>
                        <td><button class="btn btn-default btn-xs help-button"><img src="content/images/four-by-four.svg" /></button></td>
                        <td>&nbsp;4x4 routing.&nbsp;</td>
                    </tr>
                        -->
                    <tr>
                        <td><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-undo"></i></button></td>
                        <td>&nbsp;Undo last action.&nbsp;</td>
                        <td><button class="btn btn-default btn-xs help-button"><img src="content/images/map-editing.svg" /></button></td>
                        <td>&nbsp;Edit the map in OSM.&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-info"></i></button></td>
                        <td>&nbsp;See more information.&nbsp;</td>
                        <td><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-question"></i></button></td>
                        <td>&nbsp;This dialog.&nbsp;</td>
                    </tr>
                    <tr>
                        <td><button class="btn btn-default btn-xs help-button"><i class="fa fa-lg fa-map-marker"></i></button></td>
                        <td>&nbsp;Toggle marker drawing (inside the layers control).&nbsp;</td>
                        
                    </tr>
                </tbody>
            </table>
            <p class="text-right">
                <i>We hope you'll enjoy it!</i>
            </p>
        </div>
    </div>
</div>
