<div class="tooltip in" ng-show="title">
    <div class="tooltip-arrow"></div>
    <div class="tooltip-inner tooltip-info">
        <h3>Help - basic instructions on using this site</h3>
        <div class="text-left">
            <table>
                <thead></thead>
                <tbody>
                    <tr><td><i class="fa fa-lg fa-folder-open"></i></td><td>- click in order to open a .gpx/.kml/.geojson file.</td></tr>
                    <tr><td><i class="fa fa-lg fa-save"></i></td><td>- click in order to save your work to a file.</td></tr>
                    <tr><td><i class="fa fa-lg fa-crosshairs"></i></td><td>- click in order to move the map to your current location.</td></tr>
                    <tr><td><i class="fa fa-lg fa-pencil"></i></td><td>- click in order to toggle route drawing. use <i>escape</i> to stop, and double click to remove a point.</td></tr>
                    <tr><td><i class="fa fa-lg fa-level-up"></i></td><td>- click in order to toggle routing.</td></tr>
                    <tr><td><i class="fa fa-lg fa-map-marker"></i></td><td>- click in order to toggle marker drawing.</td></tr>
                    <tr><td><i class="fa fa-lg fa-undo"></i></td><td>- click in order to undo last action.</td></tr>
                    <tr><td><i class="fa fa-lg fa-remove"></i></td><td>- click in order to clear all elements.</td></tr>
                    <tr><td><img src="content/images/map-editing-reverse.svg"/></td><td>- click in order to edit the map in OSM.</td></tr>
                    <tr><td><i class="fa fa-lg fa-info"></i></td><td>- click in order to see more information.</td></tr>
                    <tr><td><i class="fa fa-lg fa-question"></i></td><td>- click in order to open this dialog.</td></tr>
                </tbody>
            </table>
            <p class="text-right">
                <i>Hope you'll enjoy it!</i>
            </p>
        </div>
    </div>
</div>
