<div [dir]="resources.direction" class="dialog-small">
    <div matDialogTitle>
        <div>
            {{title}}
        </div>
        <div>
            <button mat-button type="button" matDialogClose tabindex="-1"><i class="fa icon-close"></i></button>
        </div>
    </div>
    <div mat-dialog-content>
        <mat-form-field fxFill>
            <input matInput type="text" [(ngModel)]="routeData.name" placeholder="{{resources.name}}" required="" fxFill/>
        </mat-form-field>
        <mat-form-field fxFill>
            <textarea matInput rows="2" type="text" [dir]="resources.getDirection(routeData.description)" [(ngModel)]="routeData.description" placeholder="{{resources.description}}" fxFill></textarea>
        </mat-form-field>
        
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
            <div fxFlex="50" fxFlex.xs="100">
                <div fxLayout="column" fxLayoutGap="5px">
                    <div *ngFor="let rowIndex of [0,1,2]" class="button-row">
                        <div fxLayout="row" fxLayoutGap="5px">
                            <div *ngFor="let currentColor of colors; let i = index" fxFlex [hidden]="i % 3 !== rowIndex">
                                <button mat-mini-fab color="primary" fxFill type="button" [style.backgroundColor]="currentColor" (click)="routeData.color = currentColor"> <i *ngIf="currentColor === routeData.color" class="fa icon-check" [style.color]="getCheckIconColor(currentColor)"></i>  </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="50" fxFlex.xs="100">
                <div fxLayout="row" fxFill>
                    <div fxFlex="50">
                        <div fxLayout="column" fxFill fxLayoutAlign="space-between center">
                            <label>{{resources.width}}</label>
                            <mat-slider [(ngModel)]="routeData.weight" min="4" max="20" step="2" color="primary" vertical></mat-slider>
                        </div>
                    </div>
                    <div fxFlex>
                        <div fxLayout="column" fxFill fxLayoutAlign="space-between center">
                            <label>{{resources.opacity}}</label>
                            <mat-slider [(ngModel)]="routeData.opacity" min="0.1" max="1.0" step="0.1" color="primary" vertical></mat-slider>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" style="position: relative">
            <img width="100%" height="50px" src="content/legend/IHM_legendLight4WDVehicles.png">
            <hr class="preview-line" [ngStyle]="{'height': routeData.weight + 'px', 'background-color': routeData.color, 'opacity': routeData.opacity }" />
        </div>
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxFill>
            <mat-menu #appMenu="matMenu" overlapTrigger="false" [xPosition]="'before'">
                <button mat-menu-item [ngClass]="resources.getTextAlignment()" (click)="saveRouteToFile()" angulartics2On="click" angularticsCategory="Route" angularticsAction="Save route to file">
                    <i class="fa fa-lg icon-external-link-square"></i>
                    <span class="margin-10">{{resources.saveRouteToFile}}</span>
                </button>
                <button mat-menu-item [ngClass]="resources.getTextAlignment()" (click)="moveToRoute()" angulartics2On="click" angularticsCategory="Route" angularticsAction="Move to route">
                    <i class="fa fa-lg icon-crosshairs"></i>
                    <span class="margin-10">{{resources.moveToRoute}}</span>
                </button>
                <button mat-menu-item [ngClass]="resources.getTextAlignment()" (click)="makeAllPointsEditable()" angulartics2On="click" angularticsCategory="Route" angularticsAction="Make all points editable">
                    <i class="fa fa-lg icon-map-marker-group"></i>
                    <span class="margin-10">{{resources.generateMarkersForAllPoints}}</span>
                </button>
                <button mat-menu-item [ngClass]="resources.getTextAlignment()" (click)="reverseRoute()" angulartics2On="click" angularticsCategory="Route" angularticsAction="Reverse route">
                    <i class="fa fa-lg icon-arrows-h"></i>
                    <span class="margin-10">{{resources.reverseRoute}}</span>
                </button>
            </mat-menu>
            <div fxFlex>
                <button mat-button *ngIf="!isNew" [matMenuTriggerFor]="appMenu" angulartics2On="click" angularticsCategory="Route" angularticsAction="Toggle advance options"><i class="fa icon-ellipsis-v fa-lg"></i></button>
            </div>
            <div fxFlex>
                <button matDialogClose type="button" mat-button *ngIf="!isNew" (click)="deleteRoute()" matTooltip="{{resources.deleteRoute}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Route" angularticsAction="Delete route" fxFill><i class="fa fa-lg icon-trash"></i></button>
            </div>
            <div fxFlex>
                <button matDialogClose type="button" mat-button (click)="saveRoute()" matTooltip="{{resources.save}}" matTooltipPosition="above" fxFill><i class="fa icon-check"></i></button>
            </div>
        </div>
    </div>
</div>