<div class="marker-popup" [dir]="'rtl'">
    <div fxLayout="row" fxLayoutAlign="space-around none" fxLayoutGap="10px" [hidden]="!thumbnail">
        <img [src]="thumbnail" class="img-responsive" height="100" />
    </div>
    <a href="{{address}}" target="_blank">
        <h3 [ngClass]="resources.getTextAlignment(title)" [dir]="resources.getDirection(title)" class="chrome-wordwrap-fix">{{title}}</h3>
    </a>
    <div fxLayout="row">
        <div [hidden]="isEditMode()">
            <p>{{description}}</p>
        </div>
        <div [hidden]="!isEditMode()">
            <textarea rows="2" mdInput [(ngModel)]="description" fxFill></textarea>
        </div>
    </div>
    <div fxLayout="row">
        <div fxFlex [hidden]="isEditMode()">
            <button mdButton md-button fxFill (click)="setEditMode()" mdTooltip="{{resources.edit}}" mdTooltipPosition="above" angulartics2On="click" angularticsCategory="Nakeb" angularticsEvent="Convert nakeb to route"><i class="fa icon-plus"></i></button>
        </div>
        <div fxFlex [hidden]="!isEditMode()">
            <button mdButton md-button fxFill (click)="save()" mdTooltip="{{resources.save}}" mdTooltipPosition="above" angulartics2On="click" angularticsCategory="Nakeb" angularticsEvent="Convert nakeb to route"><i class="fa icon-plus"></i></button>
        </div>
    </div>
</div>