<div class="marker-popup" [dir]="resources.direction">
    <div fxLayour="row">
        <div fxFlex="50">
            <button md-button (click)="remove()" mdTooltip="{{resources.deletePoi}}" mdTooltipPosition="above"><i class="fa icon-trash"></i></button>
        </div>
        <div fxFlex>
            <button md-button (click)="hideCoordinates = !hideCoordinates" mdTooltip="{{resources.showCoordinates}}" mdTooltipPosition="above"><i class="fa icon-globe"></i></button>
        </div>
    </div>
    <div [hidden]="hideCoordinates">
        <coordinates [latLng]="latLng" [itmCoordinates]="itmCoordinates" [wikiCoordinatesString]="wikiCoordinatesString"></coordinates>
    </div>
</div>