.img-placeholder {
    height: 64px;
}

@media (max-width: 550px) {
    .img-placeholder {
        display: none;
    }
}

.popup-like-marker .maplibregl-popup-content {
    margin-bottom: 10px;
    background: #fffb !important;
}

.popup-like-marker .maplibregl-popup-tip {
    position: absolute;
    transform: translate(-50%, -100%);
    left: 50%;
    border-top-color: #fffb !important;
}