.img-placeholder {
    height: 64px;
}

@media (width <=550px) {
    .img-placeholder {
        display: none;
    }
}

.popup-like-marker .maplibregl-popup-content {
    margin-bottom: 10px;
    background: var(--mat-sys-surface) !important;
    opacity: 0.75;
}

.popup-like-marker .maplibregl-popup-tip {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    border-top-color: var(--mat-sys-surface) !important;
    opacity: 0.75;
}