<div [dir]="resources.direction" class="dialog-small">
    <div matDialogTitle>
        <div>
            {{title}}
        </div>
        <div>
            <button mat-button type="button" matDialogClose tabindex="-1"><i class="fa icon-close"></i></button>
        </div>
    </div>
    <div mat-dialog-content>
        <mat-form-field fxFill>
            <input matInput type="text" [(ngModel)]="routeData.name" placeholder="{{resources.name}}" required="" fxFill/>
        </mat-form-field>
        <mat-form-field fxFill>
            <textarea matInput rows="2" type="text" [dir]="resources.getDirection(routeData.description)" [(ngModel)]="routeData.description" placeholder="{{resources.description}}" fxFill></textarea>
        </mat-form-field>
        
        <div fxLayout="row wrap" fxLayoutAlign="space-between stretch">
            <div fxFlex="50" fxFlex.xs="100">
                <div fxLayout="column" fxLayoutGap="5px">
                    <div *ngFor="let rowIndex of [0,1,2]" class="button-row">
                        <div fxLayout="row" fxLayoutGap="5px">
                            <div *ngFor="let currentColor of colors; let i = index" fxFlex [hidden]="i % 3 !== rowIndex">
                                <button mat-mini-fab color="primary" fxFill type="button" [style.backgroundColor]="currentColor" (click)="routeData.color = currentColor"> <i *ngIf="currentColor === routeData.color" class="fa icon-check"></i>  </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="50" fxFlex.xs="100" *ngIf="isAdvanced | async">
                <div fxLayout="column" fxFill>
                    <label class="text-center">{{resources.width}}</label>
                    <mat-slider [(ngModel)]="routeData.weight" min="1" max="10" step="1" color="primary"></mat-slider>
                    <label class="text-center" [style.opacity]="routeData.opacity">{{resources.opacity}}</label>
                    <mat-slider [(ngModel)]="routeData.opacity" min="0.1" max="1.0" step="0.1" color="primary"></mat-slider>
                </div>
            </div>
        </div>
        <br/>
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxFill>
            <div fxFlex>
                <button type="button" mat-button *ngIf="!isNew && (isAdvanced | async)" (click)="saveRouteToFile($event)" matTooltip="{{resources.saveRouteToFile}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Route" angularticsAction="Save route to file" fxFill><i class="fa fa-lg icon-floppy-o"></i></button>
            </div>
            <div fxFlex>
                <button type="button" mat-button *ngIf="!isNew && (isAdvanced | async)" (click)="moveToRoute($event)" matTooltip="{{resources.moveToRoute}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Route" angularticsAction="Move to route" fxFill><i class="fa fa-lg icon-crosshairs"></i></button>
            </div>
            <div fxFlex>
                <button type="button" mat-button *ngIf="!isNew && (isAdvanced | async)" (click)="makeAllPointsEditable()" matTooltip="{{resources.generateMarkersForAllPoints}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Route" angularticsAction="Make all points editable" fxFill><i class="fa fa-lg icon-map-marker-group"></i></button>
            </div>
            <div fxFlex>
                <button matDialogClose type="button" mat-button *ngIf="!isNew" (click)="deleteRoute($event)" matTooltip="{{resources.deleteRoute}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Route" angularticsAction="Delete route" fxFill><i class="fa fa-lg icon-trash"></i></button>
            </div>
            <div fxFlex>
                <button matDialogClose type="button" mat-button (click)="saveRoute($event)"  matTooltip="{{resources.save}}" matTooltipPosition="above" fxFill><i class="fa icon-check"></i></button>
            </div>
        </div>
    </div>
</div>