<div [dir]="resources.direction" class="dialog-small">
    <div md-dialog-title>
        <div>
            {{title}}
        </div>
        <div>
            <button md-button type="button" md-dialog-close><i class="fa icon-close"></i></button>
        </div>
    </div>
    <div md-dialog-content>
        <md-form-field hintLabel="{{resources.layerNamePlaceHolder}}" fxFill>
            <input mdInput type="text" [(ngModel)]="routeProperties.name" placeholder="{{resources.name}}" required="" fxFill/>
        </md-form-field>
        <md-form-field fxFill>
            <textarea mdInput rows="2" type="text" [dir]="resources.getDirection(routeProperties.description)" [(ngModel)]="routeProperties.description" placeholder="{{resources.description}}" fxFill></textarea>
        </md-form-field>
        
        <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutWrap>
            <div fxFlex="50" fxFlex.xs="100">
                <div fxLayout="column" fxLayoutAlign="space-between stretch">
                    <div fxLayout="row" fxLayoutAlign="none none">
                        <label [ngStyle]="{'color': pathOptions.color}">{{resources.color}}</label>
                    </div>
                    <br />
                    <div *ngFor="let rowIndex of [0,1,2]" class="button-row">
                        <div fxLayout="row">
                            <div *ngFor="let currentColor of colors; let i = index" fxFlex [hidden]="i % 3 !== rowIndex">
                                <button md-button fxFill type="button" [ngClass]="{active: currentColor === pathOptions.color}" [ngStyle]="{'background-color': currentColor}" (click)="pathOptions.color = currentColor">   </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div fxFlex="50" fxFlex.xs="100" [hidden]="!isAdvanced">
                <div fxLayout="column" fxFill>
                    <label class="text-center">{{resources.widthInPixels}}</label>
                    <md-slider [(ngModel)]="pathOptions.weight" min="1" max="10" step="1"></md-slider>
                    <label class="text-center" [style.opacity]="pathOptions.opacity">{{resources.opacity}}</label>
                    <md-slider [(ngModel)]="pathOptions.opacity" min="0.1" max="1.0" step="0.1"></md-slider>
                </div>
            </div>
        </div>
        <br/>
    </div>
    <div md-dialog-actions>
        <div fxLayout="row" fxFill>
            <div fxFlex="20">
                <button type="button" md-button [hidden]="isNew || !isAdvanced" (click)="saveRouteToFile($event)" mdTooltip="{{resources.saveRouteToFile}}" mdTooltipPosition="above" angulartics2On="click" angularticsCategory="Route" angularticsEvent="Save route to file" fxFill><i class="fa fa-lg icon-floppy-o"></i></button>
            </div>
            <div fxFlex="20">
                <button type="button" md-button [hidden]="isNew || !isAdvanced" (click)="moveToRoute($event)" mdTooltip="{{resources.moveToRoute}}" mdTooltipPosition="above" angulartics2On="click" angularticsCategory="Route" angularticsEvent="Move to route" fxFill><i class="fa fa-lg icon-crosshairs"></i></button>
            </div>
            <div fxFlex="20">
                <button type="button" md-button [hidden]="isNew || !isAdvanced" (click)="routeProperties.isRoutingPerPoint = !routeProperties.isRoutingPerPoint" class="btn btn-default" mdTooltip="{{resources.toggleRoutingPerSegment}}" mdTooltipPosition="above" [ngClass]="{'active': routeProperties.isRoutingPerPoint}" angulartics2On="click" angularticsCategory="Route" angularticsEvent="Toggle route per point" fxFill><i class="fa" [ngClass]="{ 'icon-routing-local': routeProperties.isRoutingPerPoint, 'icon-routing-global': !routeProperties.isRoutingPerPoint}"></i></button>
            </div>
            <div fxFlex="20">
                <button md-dialog-close type="button" md-button [hidden]="isNew" (click)="deleteRoute($event)" class="btn btn-danger" mdTooltip="{{resources.deleteRoute}}" mdTooltipPosition="above" angulartics2On="click" angularticsCategory="Route" angularticsEvent="Delete route" fxFill><i class="fa fa-lg icon-trash"></i></button>
            </div>
            <div fxFlex>
                <button md-dialog-close type="button" md-button (click)="saveRoute($event)"  mdTooltip="{{resources.save}}" mdTooltipPosition="above" fxFill><i class="fa icon-check"></i></button>
            </div>
        </div>
    </div>
</div>