#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.full-page {
    height: 100%;
}

.sidebar-close {
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
}

.flip .sidebar-close {
    left: 50px;
}

/* added direction to fix issue with scroll bar and legend maps */
#sidebar-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    line-height: 24px;
    overflow-x: hidden;
    color: black;
    direction: ltr;
    overflow-y: scroll;
    background: #dddddd !important;
    width: 0;
    z-index: 1010;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    #sidebar-wrapper .divider {
        border-color: black;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #sidebar-wrapper tr {
        border-bottom: solid black;
    }
    #sidebar-wrapper .row:hover {
        text-decoration: none;
        color: black;
        background: #bbb;
    }

.flip #wrapper.toggled #page-content-wrapper {
    margin-right: 0 !important;
}

#wrapper.toggled #sidebar-wrapper {
    width: 280px;
    padding-left: 45px;
}

.leaflet-left {
    z-index: 1020;
}

@media(min-width:768px) {
    .sidebar-close {
        left: 360px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 400px;
    }
}
