#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.full-page {
    height: 100%;
}

.sidebar-close {
    position: fixed;
    left: 215px;
    top: 0;
    z-index: 100;
}

.flip .sidebar-close {
    left: 5px;
}

/* added direction to fix issue with scroll bar and legend maps */
#sidebar-wrapper {
    line-height: 24px;
    overflow-x: hidden;
    color: #999999;
    direction: ltr;
    overflow-y: scroll;
}

    #sidebar-wrapper .divider {
        border-color: #999999;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #sidebar-wrapper .row:hover {
        text-decoration: none;
        color: #ddd;
        background: rgba(255,255,255,0.3);
    }

#wrapper.toggled #page-content-wrapper {
    position: relative;
}

.flip #wrapper.toggled #page-content-wrapper {
    margin-right: 0 !important;
}

@media(min-width:768px) {
    .sidebar-close {
        left: 360px;
    }

    #wrapper {
        padding-left: 0;
    }

        #wrapper.toggled {
            padding-left: 400px;
        }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 400px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        margin-right: -400px;
    }
}
