<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{resources.language}}</h4>
    </div>
    <form class="form-horizontal" ng-submit="setLanguage(selectedLanguage); $close()">
        <div class="modal-body">
            <div class="row" ng-repeat="language in resources.availableLanguages">
                <div class="col-xs-12">
                    <span class="cursor-pointer" ng-click="setSelectredLanguage(language)"><span class="fa fa-lg" ng-class="{'fa-check-circle': selectedLanguage.code == language.code, 'fa-circle-o': selectedLanguage.code != language.code}"></span> {{language.label}}</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success">{{resources.save}}</button>
        </div>
    </form>
</div>
