<a [href]="getHref()" [target]="target" class="cursor-pointer link-container maplibregl-ctrl" matTooltip="{{getTooltipText()}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="IHM-Link" angularticsAction="IHM-Link click">
  @if (!isIFrameMobile()) {
    <img src="content/logo.png" height="64" class="logo" />
  }
  @if (isIFrameMobile()) {
    <div class="flex flex-col items-center open-in-app">
      <img src="content/open-in-app.png" height="128"/>
      <span>{{resources.openInApp}}</span>
    </div>
  }
</a>
