.link-container {
    position: relative;
    bottom: 0.5em;
    left: 0.5em;
    margin: 0 !important;
}

.ihm-text {
    position: absolute;
    bottom: -5px;
    left: 0;
    color: blue;
    font-weight: bold;
    white-space: nowrap;
}
