@if (imageAttribution !== null) {
<div class="flex flex-row" class="text-center text-sm">
    @if (imageAttribution.userId) {
    <div class="w-full truncate" [dir]="resources.direction">
        {{resources.moreFrom}}
        <button mat-button (click)="filterByUserId(imageAttribution.userId)">{{imageAttribution.author}}</button>
    </div>

    } @else {
    <div class="w-full truncate" [dir]="resources.direction">
        {{resources.imageBy}}
        <a [href]="imageAttribution.url" target="_blank">{{imageAttribution.author}}</a>
    </div>
    }
</div>
}