@if (imageAttribution !== null) {
<div class="flex flex-row" class="text-center text-sm">
    @if (imageAttribution.userId) {
    <div class="w-full truncate" [dir]="resources.direction">
        {{resources.moreFrom}}
        <button mat-button (click)="filterByUserId(imageAttribution.userId)" angulartics2On="click"
            angulartics2Category="Attribution" angulartics2Label="Filter by user">{{imageAttribution.author}}</button>
    </div>

    } @else {
    <div class="w-full truncate" [dir]="resources.direction">
        {{resources.imageBy}}
        <a [href]="imageAttribution.url" target="_blank" angulartics2On="click" angulartics2Category="Attribution"
            angulartics2Label="Image Link">{{imageAttribution.author}}</a>
    </div>
    }
</div>
}