@if (legendSections.length === 0) {
<div>
    <p>{{resources.legendEmpty}}</p>
</div>
}
<mat-accordion>
    @for (section of legendSections; track section) {
    <mat-expansion-panel [id]="section.key" (opened)="openSection(section)" (afterExpand)="scrollTo(section.key)">
        <mat-expansion-panel-header>
            {{section.title}}
        </mat-expansion-panel-header>
        @if (isSectionOpen(section)) {
        @for (item of section.items; track item) {
        <legend-item [item]="item"></legend-item>
        }
        }
    </mat-expansion-panel>
    }
</mat-accordion>