﻿@use "@angular/material" as mat;

$app-primary: mat.define-palette(mat.$green-palette, 600);

.spinner-container {
    padding: 3px;
}

.recording-button {
    color: red;
}

.following {
    color: mat.get-color-from-palette($app-primary)
}
