@use "@angular/material" as mat;

$app-primary: mat.define-palette(mat.$green-palette, 600);

.high-button {
    height: 44px;
}

.space-after {
    margin-left: 5px;
}

.margin-top {
    margin-top: 10px;
}

.margin-sides {
    margin-left: 10px;
    margin-right: 10px;
}

.profile-image { 
    max-width: 80%; 
    margin: 10%;
}

.eye-end {
    float: left;
    margin-right: 10px;
}

[dir=ltr] .eye-end {
    float: right;
    margin-left: 10px;
}
.circle {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid white 1px;
    font-size: 8px;
    color: white;
    line-height: normal;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.circle.online {
    background: #080;
}

.circle.offline {
    background: #f00;
}

::ng-deep .mdc-list-item__primary-text {
    width: 100%;
}

.primary-text {
    color: mat.get-color-from-palette($app-primary)
}