$app-button-size: 36px;

.table {
    display: table
}

.space-after {
    margin-left: 5px;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.button-height {
    height: $app-button-size;
}

.margin-top {
    margin-top: 10px;
}

.margin-sides {
    margin-left: 10px;
    margin-right: 10px;
}

.profile-image { 
    max-width: 80%; 
    margin: 10%;
}

.eye-end {
    float: left;
    margin-right: 10px;
}

[dir=ltr] .eye-end {
    float: right;
    margin-left: 10px;
}
.circle {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid white 1px;
    font-size: 8px;
    color: white;
    line-height: normal;
}

.circle.online {
    background: #080;
}

.circle.offline {
    background: #f00;
}