@use "@angular/material" as mat;

.space-after {
    margin-left: 5px;
}

.margin-top {
    margin-top: 10px;
}

.margin-sides {
    margin-left: 10px;
    margin-right: 10px;
}

.profile-image {
    max-width: 48px;
    margin: 5px 5px;
}

::ng-deep .mdc-list-item__primary-text {
    width: 100%;
}

.primary-text {
    color: #32CD6D
}