@use "@angular/material" as mat;

.high-button {
    height: 44px;
}

.space-after {
    margin-left: 5px;
}

.margin-top {
    margin-top: 10px;
}

.margin-sides {
    margin-left: 10px;
    margin-right: 10px;
}

.profile-image { 
    max-width: 80%; 
    margin: 20% 10%;
}

.eye-end {
    float: right;
    margin-left: 10px;
}

[dir=rtl] .eye-end {
    float: left;
    margin-right: 10px;
}

.circle {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: solid white 1px;
    font-size: 8px;
    color: white;
    line-height: normal;
    z-index: 2;
    display: flex;
    justify-content: center;
}

[dir=rtl] .circle {
    left: 1px;
    right: unset;
}

.circle.online {
    background: #080;
}

.circle.offline {
    background: #f00;
}

.circle-line {
    position: absolute;
    top: 6px;
    right: 1px;
    border: solid white 1px;
    font-size: 8px;
    color: #fff;
    line-height: normal;
    z-index: 3;
    display: flex;
    justify-content: center;
    width: 10px;
    transform: rotate(-45deg);
}

[dir=rtl] .circle-line {
    left: 1px;
    right: unset;
}

::ng-deep .mdc-list-item__primary-text {
    width: 100%;
}

.primary-text {
    color: #32CD6D
}