@if (!isIFrame()) {
<button mat-button routerLink="/map" angulartics2On="click" angularticsCategory="Menu"
  angularticsAction="Plan & Explore" class="max-md:hidden! text-white!">
  <i class="fa fa-lg icon-map-o mat-icon"></i>
  <span class="mx-1">{{resources.planAndExplore}}</span>
</button>
}
@if (!isIFrame() && !isLoggedIn()) {
<button mat-raised-button (click)="login()">{{resources.signIn}}</button>
}
<button mat-button [matMenuTriggerFor]="appMenu" angulartics2On="click" angularticsCategory="Menu"
  angularticsAction="Toggle main menu" class="!h-[56px] text-white!">
  <span class="flex flex-row justify-center items-center">
    @if (isLoggedIn()) {
    @if (userInfo?.imageUrl) {
    <img [src]="userInfo.imageUrl" alt="" class="max-h-[48px] me-4 rounded-full" />
    } @else {
    <i class="fa icon-user-circle fa-lg me-4"></i>
    }
    }
    <i class="fa fa-lg icon-bars"></i>
  </span>
</button>
<mat-menu #appMenu="matMenu" xPosition="before">
  <ng-template matMenuContent>
    <div [dir]="resources.direction">
      @if (isLoggedIn()) {
      <button mat-menu-item (click)="openTraces()" angulartics2On="click" angularticsCategory="User Menu"
        angularticsAction="User traces open">
        <span><i class="fa fa-lg icon-recordings"></i> {{resources.myTraces}}</span>
      </button>
      <button mat-menu-item routerLink="/shares" angulartics2On="click" angularticsCategory="User Menu"
        angularticsAction="User shares open">
        <span><i class="fa fa-lg icon-mixcloud"></i> {{resources.mySavesInTheCloud}}</span>
      </button>
      @if (isPurchaseAvailable()) {
      <button mat-menu-item (click)="orderOfflineMaps()" angulartics2On="click" angularticsCategory="Menu"
        angularticsAction="Order">
        <i class="text-green-600 fa fa-lg icon-dollar mat-icon"></i>
        <span class="mx-1 text-green-600">{{resources.purchaseSubscription}}</span>
      </button>
      }
      @if (isRenewAvailable()) {
      <button mat-menu-item (click)="orderOfflineMaps()" angulartics2On="click" angularticsCategory="Menu"
        angularticsAction="Renew">
        <i class="text-green-600 fa fa-lg icon-dollar mat-icon"></i>
        <span class="text-green-600 mx-1">{{resources.renewSubscription}}</span>
      </button>
      }
      @if (!isOfflineDownloadAvailable()) {
      <button mat-menu-item routerLink="/offline-management" angulartics2On="click" angularticsCategory="User Menu"
        angularticsAction="Download">
        <i class="fa fa-lg icon-download mat-icon"></i>
        <span class="mx-1">{{resources.downloadMapForOfflineUse}}</span>
      </button>
      }
      <button mat-menu-item (click)="openConfigurationDialog()" angulartics2On="click" angularticsCategory="User Menu"
        angularticsAction="Advanced settings open">
        <span><i class="fa fa-lg icon-cogs"></i> {{resources.advancedSettings}}</span>
      </button>
      <button mat-menu-item (click)="logout()" angulartics2On="click" angularticsCategory="User Menu"
        angularticsAction="Logout">
        <span><i class="fa fa-lg icon-sign-out"></i> {{resources.logout}}</span>
      </button>
      <hr />
      }
      @if (!isIFrame()) {
      <button mat-menu-item routerLink="/map" angulartics2On="click" angularticsCategory="Menu"
        angularticsAction="Plan & Explore" class="block md:hidden!">
        <i class="fa fa-lg icon-map-o mat-icon"></i>
        <span class="mx-1">{{resources.planAndExplore}}</span>
      </button>
      }
      <button mat-menu-item (click)="openLanguage()" angulartics2On="click" angularticsCategory="Menu"
        angularticsAction="Open language selection">
        <i class="fa fa-lg icon-language mat-icon"></i>
        <span class="mx-1">Language</span>
      </button>
      @if (!isIFrame()) {
      <button mat-menu-item routerLink="/about" angulartics2On="click" angularticsCategory="Menu"
        angularticsAction="About">
        <i class="fa fa-lg icon-info mat-icon"></i>
        <span class="mx-1">{{resources.about}}</span>
      </button>
      <button mat-menu-item (click)="reportAnIssue()" angulartics2On="click" angularticsCategory="Menu"
        angularticsAction="Report an issue">
        <i class="fa fa-lg icon-envelope mat-icon"></i>
        <span class="mx-1">{{resources.reportAnIssue}}</span>
      </button>
      }
    </div>
  </ng-template>
</mat-menu>