@if (!isIFrame() && !isLoggedIn()) {
<button mat-button (click)="login()">Sign in!</button>
}
<button mat-button [matMenuTriggerFor]="appMenu" angulartics2On="click" angularticsCategory="Menu"
  angularticsAction="Toggle main menu" class="!h-[56px]">
  <span class="flex flex-row justify-center items-center">
    @if (isLoggedIn()) {
    @if (userInfo?.imageUrl) {
    <img [src]="userInfo.imageUrl" alt="" class="max-h-[48px] me-4 rounded-full" />
    } @else {
    <i class="fa icon-user-circle fa-lg"></i>
    }
    }
    <i class="fa fa-lg icon-bars"></i>
  </span>
</button>
<mat-menu #appMenu="matMenu" xPosition="before">
  <ng-template matMenuContent>
    <div>
      @if (isLoggedIn()) {
      <button mat-menu-item (click)="openTraces()" angulartics2On="click" angularticsCategory="User Menu"
        angularticsAction="User traces open">
        <span><i class="fa fa-lg icon-recordings"></i> {{resources.myTraces}}</span>
      </button>
      <button mat-menu-item (click)="openShares()" angulartics2On="click" angularticsCategory="User Menu"
        angularticsAction="User shares open">
        <span><i class="fa fa-lg icon-mixcloud"></i> {{resources.myShares}}</span>
      </button>
      <button mat-menu-item (click)="openConfigurationDialog()" angulartics2On="click" angularticsCategory="User Menu"
        angularticsAction="Advanced settings open">
        <span><i class="fa fa-lg icon-cogs"></i> {{resources.advancedSettings}}</span>
      </button>
      <button mat-menu-item (click)="logout()" angulartics2On="click" angularticsCategory="User Menu"
        angularticsAction="Logout">
        <span><i class="fa fa-lg icon-sign-out"></i> {{resources.logout}}</span>
      </button>
      <hr />
      }
      <button mat-menu-item routerLink="/map" angulartics2On="click" angularticsCategory="Menu"
        angularticsAction="Plan & Explore">
        <span class="flex flex-row justify-center items-center">
          <span class="w-1/12 text-center"><i class="fa fa-lg icon-map-o mat-icon"></i></span>
          <!-- HM TODO: translate-->
          <span class="flex-1 margin-sides">Plan & Explore</span>
        </span>
      </button>
      <button mat-menu-item (click)="selectSharesAndFiles()" angulartics2On="click" angularticsCategory="Menu"
        angularticsAction="Open share and files">
        <span class="flex flex-row justify-center items-center">
          <span class="w-1/12 text-center"><i class="fa fa-lg icon-share-alt mat-icon"></i></span>
          <span class="flex-1 margin-sides">{{resources.save}} - {{resources.share}} - {{resources.files}}</span>
        </span>
      </button>
      @if (isShowOrderButton()) {
      <button mat-menu-item (click)="orderOfflineMaps()" angulartics2On="click" angularticsCategory="Menu"
        angularticsAction="Order">
        <span class="flex flex-row justify-center items-center primary-text">
          <span class="w-1/12 text-center"><i class="fa fa-lg icon-dollar mat-icon"></i></span>
          <span class="flex-1 margin-sides">{{resources.purchaseOfflineMapsShort}}</span>
        </span>
      </button>
      }
      <button mat-menu-item (click)="openLanguage()" angulartics2On="click" angularticsCategory="Menu"
        angularticsAction="Open language selection">
        <span class="flex flex-row justify-center items-center">
          <span class="w-1/12 text-center"><i class="fa fa-lg icon-language mat-icon"></i></span>
          <span class="flex-1 margin-sides">Language</span>
        </span>
      </button>
      <button mat-menu-item routerLink="/" angulartics2On="click" angularticsCategory="Menu" angularticsAction="About">
        <span class="flex flex-row justify-center items-center">
          <span class="w-1/12 text-center"><i class="fa fa-lg icon-info mat-icon"></i></span>
          <span class="flex-1 margin-sides">{{resources.about}}</span>
        </span>
      </button>
      @if (!isIFrame()) {
      <button mat-menu-item routerLink="/contact-us" angulartics2On="click" angularticsCategory="Menu"
        angularticsAction="Contact us">
        <span class="flex flex-row justify-center items-center">
          <span class="w-1/12 text-center"><i class="fa fa-lg icon-envelope mat-icon"></i></span>
          <span class="flex-1 margin-sides">{{resources.reportAnIssue}}</span>
        </span>
      </button>
      }
    </div>
  </ng-template>
</mat-menu>