.link-container {
    text-decoration: none;
}

.open-in-app {
    color: #082254;
    font-size: 17px;
    text-align: center;
    & span {
        max-width: 100px;
        word-wrap: break-word;
    }
    & img {
        margin-bottom: -20px;
    }
}

.logo {
    background-color: #fffa;
    border-radius: 50%;
}
