@use "variables" as v;

$control-border: 4px;
$container-height-small-screen: 130px;
$container-height: 200px;
$container-height-expanded: 300px;
$button-height: 36px;
$buttons-margin: 5px;

.chart-control-container {
    width: 500px;
    height: $container-height;
}

.chart-control-container.expanded {
    width: calc(100vw - #{$control-border});
    height: $container-height-expanded;
}

.chart-control-container.sidebar.expanded {
    width: calc(100vw - #{v.$app-sidebar-width} - 10px - #{$control-border});
}

.chart-container {
    height: $container-height;
    padding: 0 36px;
    background: white;
    position: relative;
}

.chart-table {
    height: 100%;
}

.chart-table i,
.chart-table span {
    font-size: x-large;
}

.units {
    font-size: small !important;
}

.chart-control-container.expanded .chart-container {
    height: $container-height-expanded;
}

.sub-route-statistics-container {
    position: absolute !important;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid black;
    background: white;
    display: inline;
}

.label-margin {
    margin: 0 12px;
    white-space: nowrap;
}

.chart-button {
    position: absolute !important;
    min-width: unset !important;
}

.chart-close-button {
    top: $buttons-margin;
    left: $buttons-margin;
}

.chart-expand-button {
    top: calc(#{$buttons-margin} + #{$button-height});
    left: $buttons-margin;
}

.chart-more-button {
    top: calc(#{$buttons-margin} + 2 * #{$button-height});
    left: $buttons-margin;
}

.chart-graph-button {
    bottom: $buttons-margin;
    right: $buttons-margin;
}

.chart-table-button {
    bottom: calc(#{$buttons-margin} + #{$button-height});
    right: $buttons-margin;
}

.chart-container-tooltip {
    top: 20px;
    position: absolute
}

.chart-buttons {
    background: white;
}

@media (max-width: 550px) {
    .hidden-xs {
        display: none !important
    }
    
    .chart-control-container {
        width: calc(100vw - 2 * #{$control-border});
        height: $container-height-small-screen;
    }

    .chart-container {
        height: $container-height-small-screen;
    }

    .chart-buttons .mat-button {
        padding: 0 !important;
    }

    .chart-more-button {
        top: calc(#{$buttons-margin} + #{$button-height});
        left: $buttons-margin;
    }
}
