@use "variables" as v;

$control-border: 4px;
$container-height-small-screen: 130px;
$container-height: 200px;
$container-height-expanded: 300px;
$buttons-margin: 5px;

.chart-control-container {
    width: 500px;
    height: $container-height;
}

.chart-control-container.expanded {
    width: calc(100vw - #{$control-border} - #{v.$app-button-size} - 2 * #{$buttons-margin});
    height: $container-height-expanded;
}

.chart-control-container.sidebar.expanded {
    width: calc(100vw - #{v.$app-sidebar-width} - 10px - #{$control-border});
}

.chart-container {
    height: $container-height;
    padding: 0 36px;
    background: white;
    position: relative;
}

.chart-table {
    height: 100%;
}

.chart-table i,
.chart-table span {
    font-size: x-large;
}

.units {
    font-size: small !important;
}

.chart-control-container.expanded .chart-container {
    height: $container-height-expanded;
}

.sub-route-statistics-container {
    position: absolute !important;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid black;
    background: white;
    display: inline;
}

.label-margin {
    margin: 0 12px;
    white-space: nowrap;
}

.chart-button {
    position: absolute !important;
    min-width: unset !important;
}

.chart-container-tooltip {
    top: 20px;
    position: absolute
}

.chart-buttons {
    background: white;
}

@media (width <= 550px) {
    .chart-control-container {
        width: calc(100vw - 2 * #{$control-border});
        height: $container-height-small-screen;
    }

    .chart-container {
        height: $container-height-small-screen;
    }

    .chart-buttons .mat-mdc-button {
        padding: 0 !important;
    }
}

@keyframes scale-in {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scale-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.2);
  }
}

.chart-animated {
  transform-origin: bottom left;
}

[dir=rtl] .chart-animated {
    transform-origin: bottom right;
}

.chart-enter {
  animation: scale-in 200ms ease-out forwards;
}

.chart-leave {
  animation: scale-out 200ms ease-out forwards;
}
