<div class="side-control mapboxgl-ctrl" *ngIf="!isOpen && (searchVisible$ | async)" [dir]="resources.direction">
    <button mat-button (click)="toggleOpen()" matTooltip="{{resources.search}}" matTooltipPosition="left" angulartics2On="click" angularticsCategory="Search" angularticsAction="Search open"><i class="fa icon-search fa-lg"></i></button>
</div>
<div *ngIf="isOpen && (searchVisible$ | async)">
    <div class="side-control mapboxgl-ctrl" fxLayout="row">
        <button mat-button class="pull-right" (click)="toggleDirectional()" matTooltip="{{resources.directionalSearch}}" matTooltipPosition="left" angulartics2On="click" angularticsCategory="Search" angularticsAction="Toggle directional search"><i class="fa fa-lg" [ngClass]="{'icon-plus': !directional.isOn, 'icon-minus': directional.isOn}"></i></button>
        <div [dir]="resources.direction">
            <mat-form-field class="search-input-container">
                <input type="text" matInput #searchFromInput class="control-container-item" [formControl]="searchFrom" [matAutocomplete]="autoFrom" placeholder="{{resources.searchPlaceHolder}}" [dir]="resources.getDirection(fromContext.searchTerm)" (focus)="hasFocus = true" (blur)="hasFocus = false">
            </mat-form-field>
            <mat-autocomplete positionY="below" #autoFrom="matAutocomplete" [displayWith]="displayResults">
                <mat-option *ngFor="let result of fromContext.searchResults" [value]="result" [ngClass]="[resources.getTextAlignment(result.title), 'search-result-option']" [dir]="resources.getDirection(result.title)">
                    <i *ngIf="result.icon" class="fa" [ngClass]="result.icon" [style.color]="result.iconColor"></i>
                    <span>{{result.displayName}}</span>
                </mat-option>
            </mat-autocomplete>
        </div>
        <button mat-button class="pull-right" (click)="toggleOpen()" angulartics2On="click" angularticsCategory="Search" angularticsAction="Search close"><i class="fa icon-search fa-lg"></i></button>
    </div>
    <div class="side-control mapboxgl-ctrl pull-left-important" fxLayout="row" *ngIf="directional.isOn" [style.float]="'left'">
        <button mat-button class="pull-right" (click)="setRouting('Hike')" [ngClass]="{active : routingType == 'Hike' }" matTooltip="{{resources.hikeRouting}}" matTooltipPosition="below"><i class="fa icon-hike fa-lg"></i></button>
        <button mat-button class="pull-right" (click)="setRouting('Bike')" [ngClass]="{active : routingType == 'Bike' }" matTooltip="{{resources.bikeRouting}}" matTooltipPosition="below"><i class="fa icon-bike fa-lg"></i></button>
        <button mat-button class="pull-right" (click)="setRouting('4WD')" [ngClass]="{active : routingType == '4WD' }" matTooltip="{{resources.fourWheelDriveRouting}}" matTooltipPosition="below"><i class="fa icon-four-by-four fa-lg"></i></button>
        <button mat-button class="pull-right" (click)="setRouting('None')" [ngClass]="{active : routingType == 'None' }" matTooltip="{{resources.straightLines}}" matTooltipPosition="below"><i class="fa icon-none fa-lg"></i></button>
    </div>
    <br *ngIf="directional.isOn" />
    <div class="side-control mapboxgl-ctrl" *ngIf="directional.isOn" fxLayout="row">
        <button mat-button class="pull-right" (click)="searchRoute()"><i class="fa icon-arrow-left fa-lg"></i></button>
        <div [dir]="resources.direction">
            <mat-form-field class="pull-right search-input-container">
                <input type="text" matInput #searchToInput [formControl]="searchTo" [matAutocomplete]="autoTo" class="control-container-item" placeholder="{{resources.searchPlaceHolder}}" [dir]="resources.getDirection(toContext.searchTerm)">
            </mat-form-field>
            <mat-autocomplete positionY="below" #autoTo="matAutocomplete" [displayWith]="displayResults">
                <mat-option *ngFor="let result of toContext.searchResults" [value]="result" [ngClass]="resources.getTextAlignment(result.title)" [dir]="resources.getDirection(result.title)">
                    <i *ngIf="result.icon" class="fa" [ngClass]="result.icon"></i>
                    {{result.displayName}}
                </mat-option>
            </mat-autocomplete>
        </div>
        <button mat-button class="pull-right" (click)="toggleOpen()" angulartics2On="click" angularticsCategory="Search" angularticsAction="Search close"><i class="fa icon-search fa-lg"></i></button>
    </div>
</div>
<div *ngIf="directional.showResults && directional.routeCoordinates.length > 0">
    <mgl-geojson-source id="directional-source">
        <mgl-feature id="0" [geometry]="{ type: 'LineString', coordinates: directional.routeCoordinates }">
        </mgl-feature>
        <mgl-feature #start id="1" [properties]="{ 'class': 'start' }" [geometry]="{ type: 'Point', coordinates: directional.routeCoordinates[0] }">
        </mgl-feature>
        <mgl-feature id="2" [properties]="{ 'class': 'end' }" [geometry]="{ type: 'Point', coordinates: directional.routeCoordinates[directional.routeCoordinates.length - 1] }">
        </mgl-feature>
    </mgl-geojson-source>
    <mgl-layer id="directional-layer"
               type="line"
               source="directional-source"
               [paint]="{ 'line-color': 'blue', 'line-width': 3 }">
    </mgl-layer>
    <mgl-layer id="directional-layer-start"
               type="circle"
               source="directional-source"
               [filter]="['==', 'class', 'start']"
               [paint]="{ 'circle-stroke-color': '#43a047', 'circle-radius': 7, 'circle-stroke-width': 3, 'circle-color': 'blue' }"
               (layerClick)="openDirectionalSearchPopup($event)">
    </mgl-layer>
    <mgl-layer id="directional-layer-end"
               type="circle"
               source="directional-source"
               [filter]="['==', 'class', 'end']"
               [paint]="{ 'circle-stroke-color': 'red', 'circle-radius': 7, 'circle-stroke-width': 3, 'circle-color': 'blue' }"
               (layerClick)="openDirectionalSearchPopup($event)">
    </mgl-layer>
    <mgl-popup [lngLat]="directional.overlayLocation" *ngIf="directional.overlayLocation" [closeOnClick]="true">
        <h3 *ngIf="directional.routeTitle" [ngClass]="resources.getTextAlignment(directional.routeTitle)" [dir]="resources.getDirection(directional.routeTitle)" class="chrome-wordwrap-fix">{{directional.routeTitle}}</h3>
        <div fxLayout="row">
            <div fxFlex="33">
                <button mat-button fxFill (click)="convertToRoute()" matTooltip="{{resources.convertToRoute}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Search" angularticsAction="Convert search to route"><i class="fa icon-plus"></i></button>
            </div>
            <div fxFlex="33">
                <button mat-button fxFill (click)="directionalCleared()" matTooltip="{{resources.clear}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Search" angularticsAction="Remove search route from map"><i class="fa icon-eye-slash"></i></button>
            </div>
            <div fxFlex>
                <button mat-button fxFill (click)="hideCoordinates = !hideCoordinates" matTooltip="{{resources.showCoordinates}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Search" angularticsAction="Toggle coordinates"><i class="fa icon-globe"></i></button>
            </div>
        </div>
        <div *ngIf="!hideCoordinates">
            <coordinates [latlng]="directional.overlayLocation"></coordinates>
        </div>
    </mgl-popup>
</div>
