@use '@angular/material' as mat;

.align-next-to-menu {
    top: env(safe-area-inset-top, 0); 
    right: 85px
}

.pull-left-important {
    float: left !important;
}

.search-input-container {
    width: calc(100vw - 178px);
    @include mat.all-component-densities(-3);
}

.search-result-option {
    white-space: normal;
    overflow: visible;
    height: auto;
    display: flex;
    line-height: inherit !important;
    height: inherit !important;
    align-items: baseline;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

    .search-result-option i {
        padding: 0 5px 0 0;
    }

    .search-result-option[dir=rtl] i {
        padding: 0 0 0 5px;
    }

@media (width > 550px) {
    .search-input-container {
        width: 350px;
    }
}
