<mat-form-field class="search-input-container" [class.logged-in]="isLoggedIn()" subscriptSizing="dynamic">
  <input type="text" matInput #searchFromInput class="control-container-item" [formControl]="searchFrom"
    [matAutocomplete]="autoFrom" placeholder="{{resources.searchPlaceHolder}}"
    [dir]="resources.getDirection(fromContext.searchTerm)" (focus)="focusOnSearchInput()">
  <mat-autocomplete positionY="below" autoActiveFirstOption="true" #autoFrom="matAutocomplete"
    [displayWith]="displayResults">
    @for (result of fromContext.searchResults; track result) {
    <mat-option [value]="result" [ngClass]="[resources.getTextAlignment(result.title), 'search-result-option']"
      [dir]="resources.getDirection(result.title)">
      @if (result.hasExtraData) {
      <span class="has-extra-data" [style.background]="result.iconColor"></span>
      }
      @if (result.icon) {
      <i class="fa" [ngClass]="result.icon" [style.color]="result.iconColor"></i>
      }
      <span>{{result.displayName}}</span>
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>