@use '@angular/material' as mat;

.pull-left-important {
    float: left !important;
}

.search-input-container {
    width: 200px;
    @include mat.all-component-densities(-3);
}

.search-result-option {
    white-space: normal;
    overflow: visible;
    height: auto;
    display: flex;
    line-height: inherit !important;
    height: inherit !important;
    align-items: baseline;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

    .search-result-option i {
        padding: 0 5px 0 0;
    }

    .search-result-option[dir=rtl] i {
        padding: 0 0 0 5px;
    }

@media only screen and (min-width : 768px) {
    /* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
    .search-input-container .mat-form-field-wrapper {
        width: 100%;
    }

    .search-input-container {
        width: 350px;
    }
}
