@import "fonts/icons.css";
@import "font-awesome/css/font-awesome.css";
@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "ng2-dnd/bundles/style.css";
@import "./dialogs.scss";

@import "~@angular/material/theming";

@include mat-core();

$app-primary: mat-palette($mat-blue, 600);
$app-accent: mat-palette($mat-yellow);
$app-warm: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warm);
$app-background: map-get($app-theme, background);

@include angular-material-theme($app-theme);

$app-sidebar-width: 400px;
$app-left-buttons: 55px;

html {
    height: 100%;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

.input-wrapper-spacer {
    height: 0;
    margin-bottom: 1rem;
}

.leaflet-left {
    z-index: 1020 !important;
}

.leaflet-bottom.leaflet-left {
    z-index: 1000 !important;
}

.leaflet-bottom.leaflet-right {
    z-index: 980 !important;
}

@media (max-width: 550px) {
    .leaflet-bottom.leaflet-right {
        z-index: 1030 !important;
    }

    .route-statistics-control-container {
        margin-bottom: 0 !important;
        margin-right: 0 !important;
    }
}

.leaflet-container a.leaflet-active,
.active {
    outline: 2px solid mat-color($app-primary) !important;
}

ngx-image-gallery .image {
    outline: none !important;
}

.cdk-overlay-container {
    z-index: 1500 !important;
}

.cursor-default {
    cursor: default !important;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-zoom-in {
    cursor: zoom-in;
}

.cursor-move {
    cursor: move;
}

.stack-icon-top {
    top: -2px;
}

.stack-icon-small {
    font-size: 0.75em !important;
}

.stack-icon-large {
    font-size: 1.25em !important;
}

.has-extra-data {
    width: 4px;
    height: 4px;
    display: block;
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 50%;
    z-index: 1;
}

.control-container {
    display: table;
}

.leaflet-touch .control-container-item {
    height: 30px;
}

.control-container-item {
    display: table-cell;
    vertical-align: middle;
    height: 26px;
    background: white !important;
    border-right: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
}

.control-container-item.gutters {
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap
}

.control-icon-first {
    float: right;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom: 0 !important;
}

.control-icon-last {
    float: right;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 4px !important;
    border-bottom: 0 !important;
}

.chrome-wordwrap-fix {
    word-wrap: break-word;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.img-responsive {
    max-width: 100%;
}

.img-placeholder {
    width: 100px;
}

.img-center {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    max-height: 100%;
}

.img-container-small {
    position: relative;
    width: 100%;
    height: 200px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Margins*/
.margin-10 {
    margin-left: 10px;
    margin-right: 0;
}

[dir=rtl] .margin-10 {
    margin-right: 10px;
    margin-left: 0;
}

.margin-10-reverse {
    margin-left: 0 !important;
    margin-right: 10px !important;
}

[dir=rtl] .margin-10-reverse {
    margin-right: 0 !important;
    margin-left: 10px !important;
}
/* Margins*/

@media print {
    .mat-tooltip,
    .leaflet-bar {
        display: none !important;
    }

    .route-statistics-control-container .leaflet-bar {
        display: unset !important;
    }
}

.marker-popup {
    width: 300px;
}

.hidden {
    display: none !important;
}

@media (max-width:767px) {
    .hidden-xs {
        display: none !important
    }

    .marker-popup {
        width: 260px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none !important
    }
}

/* Segment loading indicator */
.loading-segment-indicator {
    -webkit-animation: dash .4s linear infinite;
    animation: dash .4s linear infinite;
}

.segment-readonly-indicator {
    -webkit-animation: dash-long 1.0s linear infinite;
    animation: dash-long 1.0s linear infinite;
}

@-webkit-keyframes dash {
    from {
        stroke-dashoffset: 20;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    from {
        stroke-dashoffset: 20;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes dash-long {
    from {
        stroke-dashoffset: 40;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes dash-long {
    from {
        stroke-dashoffset: 40;
    }

    to {
        stroke-dashoffset: 0;
    }
}
/* Segment loading indicator end */
