@use "~@angular/material" as mat;
@import "~scss/_variables.scss";

.row-hover {
    padding: 0 10px;
    transition: background .2s ease;
}

.row-hover:hover {
    text-decoration: none;
    color: black;
    background: mat.get-color-from-palette($app-background, hover, 0.12);
}

.short-button {
    line-height: unset !important;
    padding: 0;
}