.row-hover {
    padding: 0 10px;
    transition: background .2s ease;
}

.row-hover:hover {
    text-decoration: none;
    color: black;
    background: rgba(0, 0, 0, 0.12);
}

.short-button {
    line-height: unset !important;
    padding: 0;
}

.break-all {
    word-break: break-all;
}