<div [dir]="resources.direction">
    <div fxLayout="row" *ngIf="isPurchaseAvailable()">
        <button mat-raised-button color="primary" fxFill (click)="orderOfflineMaps()" angulartics2On="click" angularticsCategory="Download" angularticsAction="Purchase offline maps"><i class="fa icon-dollar"></i> {{resources.purchaseOfflineMaps}}</button>
    </div>
    <div fxLayout="row" *ngIf="isOfflineDownloadAvailable()">
        <button mat-raised-button color="primary" fxFill (click)="downloadOfflineMaps()" angulartics2On="click" angularticsCategory="Download" angularticsAction="Download offline maps"><i class="fa icon-download"></i> {{resources.infoDownloadMapForOfflineUse}}</button>
    </div>
    <mat-accordion multi="true">
        <mat-expansion-panel [expanded]="getExpandState('Base Layers')" (opened)="expand('Base Layers')" (closed)="collapse('Base Layers')">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div fxFill fxLayout="row">
                        <div fxFlex>
                            <p fxFill>{{resources.baseLayers}}</p>
                        </div>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let baseLayer of (baseLayers | async)">
                <div class="cursor-pointer row-hover" fxLayout="row" fxLayoutAlign="none none" (click)="selectBaseLayer(baseLayer)">
                    <div fxFlex="10"></div>
                    <div fxFlex="15">
                        <span><i class="fa" [ngClass]="{'icon-eye': isBaseLayerSelected(baseLayer), 'icon-eye-slash': !isBaseLayerSelected(baseLayer)}"></i></span>
                    </div>
                    <div fxFlex>
                        <span>{{resources.translate(baseLayer.key)}}</span>
                    </div>
                    <div *ngIf="baseLayer.isEditable" fxFlex="10">
                        <button fxFill mat-button class="short-button" (click)="editBaseLayer($event, baseLayer)" matTooltip="{{resources.baseLayerProperties}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="Layers" angularticsAction="Edit base layer"><i class="fa icon-ellipsis-v"></i></button>
                    </div>
                    <div *ngIf="showOfflineButton(baseLayer)" fxFlex="10">
                        <button fxFill mat-button class="short-button" [class.active]="baseLayer.isOfflineOn" (click)="toggleOffline($event, baseLayer, false)" matTooltip="{{resources.baseLayerProperties}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="Layers" angularticsAction="Toggle base layer offline"><i class="fa icon-{{baseLayer.isOfflineOn ? 'offline' : 'online'}}"></i></button>
                    </div>
                </div>
            </div>
            <button mat-button (click)="addBaseLayer($event)" angulartics2On="click" angularticsCategory="Layers" angularticsAction="Add base layer"><i class="fa fa-lg icon-plus"></i> {{resources.addBaseLayer}}</button>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="getExpandState('Overlays')" (opened)="expand('Overlays')" (closed)="collapse('Overlays')">
            <mat-expansion-panel-header>
                <div fxFill fxLayout="row">
                    <div fxFlex>
                        <p fxFill>{{resources.overlays}}</p>
                    </div>
                    <div fxFlex="20">
                        <button fxFill mat-button (click)="hideAllOverlays($event)" angulartics2On="click" angularticsCategory="Layers" angularticsAction="Hide all overlays"><i class="fa fa-lg" [ngClass]="isAllOverlaysHidden() ? 'icon-eye-slash' : 'icon-eye'"></i></button>
                    </div>
                </div>
            </mat-expansion-panel-header>
            <div *ngFor="let overlay of (overlays | async)">
                <div fxLayout="row" class="cursor-pointer row-hover" (click)="toggleVisibility(overlay)" angulartics2On="click" angularticsCategory="Layers" angularticsAction="Toggle overlay visiblity {{overlay.key}}">
                    <div fxFlex="10"></div>
                    <div fxFlex="15">
                        <span><i class="fa" [ngClass]="{'icon-eye': overlay.visible, 'icon-eye-slash': !overlay.visible}"></i></span>
                    </div>
                    <div fxFlex>
                        <span>{{resources.translate(overlay.key)}}</span>
                    </div>
                    <div *ngIf="overlay.isEditable" fxFlex="10">
                        <button mat-button fxFill class="short-button" (click)="editOverlay($event, overlay)" matTooltip="{{resources.overlayProperties}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="Layers" angularticsAction="Edit overlay"><i class="fa icon-ellipsis-v"></i></button>
                    </div>
                    <div *ngIf="showOfflineButton(overlay)" fxFlex="10">
                        <button fxFill mat-button class="short-button" [class.active]="overlay.isOfflineOn" (click)="toggleOffline($event, overlay, true)" matTooltip="{{resources.baseLayerProperties}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="Layers" angularticsAction="Toggle overlay offline"><i class="fa icon-{{overlay.isOfflineOn ? 'offline' : 'online'}}"></i></button>
                    </div>
                </div>
            </div>
            <button mat-button (click)="addOverlay($event)" matTooltipPosition="below" angulartics2On="click" angularticsCategory="Layers" angularticsAction="Add overlay"><i class="fa fa-lg icon-plus"></i> {{resources.addOverlay}} </button>
        </mat-expansion-panel>
        <ng-container *ngFor="let categoriesGroup of (categoriesGroups | async)">
            <categories-group [categoriesGroup]="categoriesGroup"></categories-group>
        </ng-container>
        <mat-expansion-panel [expanded]="getExpandState('Private Routes')" (opened)="expand('Private Routes')" (closed)="collapse('Private Routes')">
            <mat-expansion-panel-header>
                <div fxFill fxLayout="row">
                    <div fxFlex>
                        <p fxFill>{{resources.privateRoutes}}</p>
                    </div>
                </div>
            </mat-expansion-panel-header>
            <div cdkDropList (cdkDropListDropped)="dropRoute($event)">
                <div *ngFor="let route of (routes | async); let i = index" cdkDrag>
                    <div fxLayout="row" class="cursor-pointer row-hover" (click)="toggleRoute(route)">
                        <div fxFlex="10"></div>
                        <div fxFlex="15">
                            <span [ngStyle]="{'color': route.color}">
                                <i class="fa" [ngClass]="{'icon-pencil': isRouteSelected(route), 'icon-eye': isRouteVisible(route) && !isRouteSelected(route), 'icon-eye-slash': !isRouteVisible(route) }"></i>
                            </span>
                        </div>
                        <div fxFlex matTooltip="{{route.description}}" matTooltipPosition="below" class="cursor-move">
                            <span [style.color]="route.color">{{route.name}}</span>
                        </div>
                        <div fxFlex="10">
                            <button fxFill mat-button class="short-button" (click)="editRoute(route, $event)" matTooltip="{{resources.routeProperties}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="Route" angularticsAction="Edit route"><i class="fa icon-ellipsis-v"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <button mat-button (click)="addRoute($event)" matTooltipPosition="below" angulartics2On="click" angularticsCategory="Layers" angularticsAction="Add route"><i class="fa fa-lg icon-plus"></i> {{resources.addRoute}}</button>
        </mat-expansion-panel>
    </mat-accordion>
    <div fxLayout="row" *ngIf="isOfflineDownloadAvailable() && (lastModified | async)">
        <div fxFill class="margin-10">{{resources.lastUpdatedOn}} {{lastModified | async | date:'dd/MM/yyyy'}}</div>
    </div>
    <p class="margin-10" *ngIf="isOfflineDownloadAvailable()">{{resources.offlinePurchaseGraditude}}</p>
</div>