﻿<div class="sidebar-wrapper" *ngIf="visible" [dir]="resources.direction" [@animateSidebar]="{value: '', params: {startTransform: resources.direction === 'rtl' ? 'translateX(-100%)' : 'translateX(100%)'} }">
    <div [ngSwitch]="viewName">
        <div *ngSwitchCase="'layers'">
            <layers-sidebar></layers-sidebar>
        </div>
        <div *ngSwitchCase="'info'">
            <info-sidebar></info-sidebar>
        </div>
        <div *ngSwitchCase="'public-poi'">
            <public-poi-sidebar></public-poi-sidebar>
        </div>
    </div>
</div>