@use "variables" as v;
@use "@angular/material" as mat;
@use "common" as common;

/* added direction to fix issue with scroll bar and legend maps */
.sidebar-wrapper {
    position: fixed;
    top: env(safe-area-inset-top, 0);
    bottom: env(safe-area-inset-bottom, 0);
    right: 0;
    width: v.$app-sidebar-width;
    line-height: 24px;
    overflow-x: hidden;
    overflow-y: auto;
    color: black;
    direction: ltr;
    background: mat.m2-get-color-from-palette(common.$app-background, card);
    z-index: v.$app-left-z-index + 5;
}

.sidebar-wrapper[dir=rtl] {
    right: unset;
    left: 0;
}


@media (width <=550px) {
    .sidebar-wrapper {
        width: 100vw;
        box-sizing: border-box;
    }

    .sidebar-wrapper:has(public-poi-sidebar) {
        top: 40vh;
        height: 60vh;
    }

    .sidebar-wrapper:has(public-poi-sidebar .minimized) {
        top: 85vh;
        height: 15vh;
    }
}

@keyframes sidebar-slide-ltr-in {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes sidebar-slide-ltr-out {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes sidebar-slide-rtl-in {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes sidebar-slide-rtl-out {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.sidebar-enter {
    animation: sidebar-slide-ltr-in 500ms ease-out forwards;
}

.sidebar-leave {
    animation: sidebar-slide-ltr-out 500ms ease-out forwards;
}

.sidebar-enter[dir=rtl] {
    animation: sidebar-slide-rtl-in 500ms ease-out forwards;
}

.sidebar-leave[dir=rtl] {
    animation: sidebar-slide-rtl-out 500ms ease-out forwards;
}