﻿<router-outlet></router-outlet>
<div class="sidebar-wrapper" *ngIf="isSidebarVisible()" [@animateSidebar]>
    <div class="sidebar-header">
        <h3 class="text-center title">{{getTitle()}}</h3>
        <div class="close-button">
            <button mat-button type="button" (click)="close()" tabindex="-1"><i class="fa fa-lg icon-close"></i></button>
        </div>
    </div>
    <div [ngSwitch]="getViewName()">
        <div *ngSwitchCase="'layers'">
            <layers-sidebar></layers-sidebar>
        </div>
        <div *ngSwitchCase="'info'">
            <info-sidebar></info-sidebar>
        </div>
    </div>
</div>