<div class="leaflet-bar" *ngIf="!isOpen" [dir]="resources.direction">
    <a class="cursor-pointer" (click)="toggleSaveAs($event)" matTooltip="{{resources.saveAs}}" matTooltipPosition="right" angulartics2On="click" angularticsCategory="Files" angularticsAction="Save as open"><i class="fa icon-save-as fa-lg"></i></a>
</div>
<div class="leaflet-bar" *ngIf="isOpen" [dir]="resources.direction">
    <div class="save-as-dropdown">
        <mat-form-field fxFill>
            <mat-select placeholder="{{resources.saveAs}}" fxFill #dropdown="matSelect">
                <mat-option *ngFor="let format of formats" [value]="format" (click)="saveAs(format, $event)" [dir]="'ltr'">
                    {{format.label}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <a class="cursor-pointer save-as-button" (click)="toggleSaveAs($event)" angulartics2On="click" angularticsCategory="Files" angularticsAction="Save as close"><i class="fa icon-save-as fa-lg"></i></a>
</div>