@import "~scss/_variables.scss";
/* Extra Small Devices, Phones */
.save-as-dropdown {
    float: right;
    height: $app-button-size;
    width: 200px;
    border: none;
    padding: 0 10px;
}

    .save-as-dropdown .mat-form-field-infix {
        padding: 0.25em !important;
    }


@media only screen and (min-width : 768px) {
    .save-as-dropdown {
        width: 300px;
    }
}
