<aol-layer-tile>
    <aol-source-xyz [url]="getBaseLayer()"></aol-source-xyz>
</aol-layer-tile>

<aol-layer-tile *ngFor="let overlay of getOverlays(); let zIdx = index"
                [zIndex]="zIdx + 10"
                [visible]="overlay.visible"
                [opacity]="overlay.opacity">
    <aol-source-xyz [url]="overlay.address"></aol-source-xyz>
</aol-layer-tile>

<div *ngFor="let categoriesType of categoriesTypes">
    <aol-layer-vector [visible]="isVisible(categoriesType)">
        <aol-source-cluster [distance]="distance">
            <aol-source-vector></aol-source-vector>
        </aol-source-cluster>
    </aol-layer-vector>
</div>
