<div class="side-control">
    <button mat-button (click)="toggleTracking()" [class.active]="isActive()" matTooltip="{{resources.showMeWhereIAm}}" matTooltipPosition="right" angulartics2On="click" angularticsCategory="Location" angularticsAction="Toggle GPS location">
        <i *ngIf="isDisabled() || isActive() && isFollowing" class="fa fa-lg icon-crosshairs"></i>
        <i *ngIf="isActive() && !isFollowing" class="fa fa-lg icon-follow-me"></i>
        <div *ngIf="isLoading()" class="spinner-container">
            <mat-spinner diameter="24"></mat-spinner>
        </div>
    </button>
    <button mat-button (click)="toggleKeepNorthUp()" [class.active]="isKeepNorthUp"><div [style.transform]="getRotationAngle()" matTooltip="{{resources.northUp}}" matTooltipPosition="right" angulartics2On="click" angularticsCategory="Location" angularticsAction="North Up"><i class="icon-north"></i></div></button>
    <button mat-button *ngIf="canRecord()" (click)="toggleRecording()" [class.active]="isRecording()">
        <i *ngIf="!isRecording()" class="fa fa-lg icon-circle recording-button"></i>
        <i *ngIf="isRecording()" class="fa fa-lg icon-square"></i>
    </button>
</div>

<aol-layer-vector *ngIf="locationCoordinate" [visible]="locationCoordinate != null"> <!--HM TODO: [updateWhileAnimating]="true"-->
    <aol-source-vector>
        <aol-feature [id]="'location'">
            <aol-geometry-point>
                <aol-coordinate [x]="locationCoordinate.lng" [y]="locationCoordinate.lat" [srid]="'EPSG:4326'"></aol-coordinate>
            </aol-geometry-point>
            <aol-style>
                <aol-style-text [text]="resources.getCharacterForIcon('icon-crosshairs')" font="normal 30px IsraelHikingMap">
                    <aol-style-fill [color]="'blue'"></aol-style-fill>
                </aol-style-text>
            </aol-style>
        </aol-feature>
        <aol-feature>
            <aol-geometry-circle [radius]="locationCoordinate.radius">
                <aol-coordinate [x]="locationCoordinate.lng" [y]="locationCoordinate.lat" [srid]="'EPSG:4326'"></aol-coordinate>
            </aol-geometry-circle>
            <aol-style>
                <aol-style-fill [color]="'rgba(19, 106, 224, 0.2)'"></aol-style-fill>
                <aol-style-stroke [color]="'#136AEC'" [width]="2"></aol-style-stroke>
            </aol-style>
        </aol-feature>
    </aol-source-vector>
</aol-layer-vector>
<gps-location-overlay [latlng]="locationCoordinate" [isOpen]="isLocationOverlayOpen" (closed)="isLocationOverlayOpen = false"></gps-location-overlay>
