<div class="side-control">
    <button mat-button (click)="toggleTracking()" [class.active]="isActive()" matTooltip="{{resources.showMeWhereIAm}}" matTooltipPosition="right" angulartics2On="click" angularticsCategory="Location" angularticsAction="Toggle GPS location">
        <i *ngIf="isDisabled() || isActive() && isFollowing" class="fa fa-lg icon-crosshairs"></i>
        <i *ngIf="isActive() && !isFollowing" class="fa fa-lg icon-follow-me"></i>
        <div *ngIf="isLoading()" class="spinner-container">
            <mat-spinner diameter="24"></mat-spinner>
        </div>
    </button>
    <button mat-button *ngIf="canRecord()" (click)="toggleRecording()">
        <i *ngIf="!isRecording()" class="fa fa-lg icon-circle recording-button"></i>
        <i *ngIf="isRecording()" class="fa fa-lg icon-square"></i>
    </button>
</div>

<aol-layer-vector *ngIf="locationCoordinate != null" [visible]="locationCoordinate != null">
    <aol-source-vector>
        <aol-feature>
            <aol-geometry-point>
                <aol-coordinate [x]="locationCoordinate.x" [y]="locationCoordinate.y" [srid]="'EPSG:4326'"></aol-coordinate>
            </aol-geometry-point>
            <aol-style>
                <aol-style-text [text]="'\uf05b'" font="normal 30px IsraelHikingMap">
                    <aol-style-fill [color]="'blue'"></aol-style-fill>
                </aol-style-text>
            </aol-style>
        </aol-feature>
    </aol-source-vector>
</aol-layer-vector>

<aol-overlay *ngIf="locationCoordinate != null">
    <!--HM TODO: facilitate close-->
    <aol-coordinate [x]="locationCoordinate.x"
                    [y]="locationCoordinate.y"
                    [srid]="'EPSG:4326'">
    </aol-coordinate>
    <aol-content>
        <gps-location-marker-popup></gps-location-marker-popup>
    </aol-content>
</aol-overlay>
