.table {
    display: table
}

.space-after {
    margin-left: 5px;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.button-height {
    height: 26px;
}

.leaflet-touch .button-height {
    height: 30px;
}

.margin-top {
    margin-top: 10px;
}

.margin-sides {
    margin-left: 10px;
    margin-right: 10px;
}