@import "~scss/_variables.scss";

.table {
    display: table
}

.space-after {
    margin-left: 5px;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.button-height {
    height: $app-button-size;
}

.margin-top {
    margin-top: 10px;
}

.margin-sides {
    margin-left: 10px;
    margin-right: 10px;
}