<div class="side-control mapboxgl-ctrl" *ngIf="!isLoggedIn()" [dir]="resources.direction">
    <div class="control-container">
        <button mat-button class="pull-right" (click)="login()" matTooltip="{{resources.login}}" matTooltipPosition="below" angulartics2On="click" angularticsCategory="OSM" angularticsAction="OSM login - sign-in icon"><i class="fa icon-sign-in"></i></button>
        <div class="pull-right">
            <div class="control-container-item gutters cursor-pointer" (click)="login()" matTooltip="{{resources.osmLoginExplanation}}" matTooltipPosition="below" angulartics2On="click" angularticsCategory="OSM" angularticsAction="OSM login - face and text">
                <span class="pull-right space-after"><i class="fa fa-lg" [ngClass]="{'icon-frown-o': isOnline(), 'icon-offline': !isOnline()}"></i></span>
                <span class="pull-right hidden-xs"> {{resources.unknownUser}}</span>
            </div>
        </div>
    </div>
</div>

<div class="side-control mapboxgl-ctrl" *ngIf="isLoggedIn()">
    <div class="control-container">
        <button mat-button class="pull-right" (click)="logout()" matTooltip="{{resources.logout}}" matTooltipPosition="below" angulartics2On="click" angularticsCategory="OSM" angularticsAction="OSM logout"><i class="fa fa-lg" [ngClass]="{'icon-sign-out': isOnline(), 'icon-offline': !isOnline()}" ></i></button>
        <div class="pull-right">
            <div class="control-container-item gutters cursor-pointer" [matMenuTriggerFor]="appMenu" matTooltip="{{resources.myProfile}}">
                <div class="table-cell button-height">
                    <img *ngIf="userInfo.imageUrl" class="pull-right space-after" [src]="userInfo.imageUrl | offlineImage:'true' | async" alt="" width="16" height="16" />
                    <span class="pull-right space-after" *ngIf="!userInfo.imageUrl"><i class="fa icon-user fa-lg"></i> </span>
                    <span class="pull-right hidden-xs"> {{userInfo.displayName}}</span>
                </div>
            </div>
        </div>
        <mat-menu #appMenu="matMenu" xPosition="before">
            <ng-template matMenuContent>
                <div [dir]="resources.direction">
                    <div fxLayout="row" class="margin-sides">
                        <div class="table">
                            <img *ngIf="userInfo.imageUrl" class="pull-right space-after" [src]="userInfo.imageUrl | offlineImage | async" alt="" width="64" height="64" />
                            <div class="table-cell">
                                <span class="text-large">{{userInfo.displayName}}</span><br />
                                {{getRank().name}}
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row" class="margin-top margin-sides">
                        <mat-progress-bar [color]="getProgressbarType()" mode="determinate" [value]="getRankPercentage()"></mat-progress-bar>
                    </div>
                    <div fxLayout="row" class="margin-sides">
                        <span class="text-small">{{userInfo.changeSets}} {{resources.changes}} ({{getRankPercentage() | number : '1.0-0'}}%)</span>
                    </div>
                    <button mat-menu-item (click)="openTraces()" angulartics2On="click" angularticsCategory="OSM" angularticsAction="OSM user traces open">
                        <span><i class="fa fa-lg icon-recordings"></i> {{resources.myTraces}}</span>
                    </button>
                    <button mat-menu-item (click)="openShares()" angulartics2On="click" angularticsCategory="OSM" angularticsAction="OSM user shares open">
                        <span><i class="fa fa-lg icon-share-alt"></i> {{resources.myShares}}</span>
                    </button>
                    <button mat-menu-item *ngIf="isApp()" (click)="openConfigurationDialog()" angulartics2On="click" angularticsCategory="OSM" angularticsAction="OSM user advanced settings open">
                        <span><i class="fa fa-lg icon-cogs"></i> {{resources.advancedSettings}}</span>
                    </button>
                    <button mat-menu-item *ngIf="isApp()" (click)="reportAnIssue()" angulartics2On="click" angularticsCategory="OSM" angularticsAction="OSM user report an issue">
                        <span><i class="fa fa-lg icon-envelope"></i> {{resources.reportAnIssue}}</span>
                    </button>
                    <a mat-menu-item *ngIf="!isApp()" href="https://github.com/IsraelHikingMap/Site/issues/new" target="_blank" angulartics2On="click" angularticsCategory="OSM" angularticsAction="OSM user report an issue github">
                        <span><i class="fa fa-lg icon-envelope"></i> {{resources.reportAnIssue}}</span>
                    </a>
                    <button mat-menu-item (click)="logout()" angulartics2On="click" angularticsCategory="OSM" angularticsAction="OSM logout">
                        <span><i class="fa fa-lg icon-sign-out"></i> {{resources.logout}}</span>
                    </button>
                </div>
            </ng-template>
        </mat-menu>
    </div>
</div>