/*height: 250px;*/
.route-statistics-popup {
    background: #000000;
    background: rgba(0,0,0,0.3);
    position: absolute;
    overflow: hidden;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    top: 55%;
    left: 15%;
    right: 15%;
    bottom: 70px;
}

.route-statistics-header {
    cursor: move;
    margin-top: 10px;
}

.route-statistics-chart {
    position: absolute;
    top: 50px;
    bottom: 5px;
    width: 100%;
}

    .route-statistics-chart svg * {
        pointer-events: none;
    }

.tooltip-inner a {
    color: #79bdf7;
}

.route-statistics-popup {
    z-index: 800;
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .route-statistics-popup {
        left: 10%;
        right: 10%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .route-statistics-popup {
        left: 6%;
        right: 6%
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .route-statistics-popup {
        left: 4%;
        right: 4%
    }
}
