@import "~common.scss";

$control-border: 4px;

.chart-control-container {
    width: 500px;
    height: 200px;
}

.chart-control-container.expanded {
    width: calc(100vw - #{$app-left-buttons} - #{$control-border});
    height: 300px;
}

.chart-control-container.sidebar.expanded {
    width: calc(100vw - #{$app-sidebar-width} - #{$app-left-buttons} - 20px - 10px - #{$control-border});
    height: 300px;
}


.chart-container {
    width: 100%;
    height: 164px;
    background: white;
    position: relative;
}

.chart-control-container.expanded .chart-container {
    height: 264px;
}

.chart-close-button {
    position: absolute !important;
    top: 5px;
    left: 5px;
    min-width: unset !important;
}

.chart-expand-button {
    position: absolute !important;
    top: 41px;
    left: 5px;
    min-width: unset !important;
}

.chart-container-tooltip {
    top: 20px;
    position: absolute
}

.chart-buttons {
    background: white;
}

@media (max-width: 550px) {
    .chart-control-container {
        width: 100vw;
        height: 130px;
    }

    .chart-container {
        height: 94px;
    }

    .chart-buttons .mat-button {
        padding: 0 !important;
    }
}
