.search-input-container {
    width: 200px;
}

.search-input-container .mat-input-wrapper {
    margin: 0 !important;
    padding: 0 !important;
    width: 200px;
}

.search-input-container .mat-input-underline {
    bottom: 0.1em !important;
}

.search-input-container .mat-input-infix {
    padding: 0 !important;
    border: 0 !important;
}

.search-input-container input {
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0 !important;
}

.search-result-option {
    white-space: normal;
    overflow: visible;
    height: auto;
    display: flex;
    line-height: inherit !important;
    height: inherit !important;
    align-items: baseline;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.search-result-option i {
    padding: 0 5px 0 0;
}

    .search-result-option[dir=rtl] i {
        padding: 0 0 0 5px;
    }

@media only screen and (min-width : 768px) {
    .search-input-container .mat-input-wrapper {
        width: 100%;
    }
    .search-input-container {
        width: 350px;
    }
}
