<div class="leaflet-bar" [hidden]="isVisible" [dir]="resources.direction">
    <a class="cursor-pointer" (click)="toggleVisibility($event)" matTooltip="{{resources.search}}" matTooltipPosition="left" angulartics2On="click" angularticsCategory="Search" angularticsAction="Search toggle"><i class="fa icon-search fa-lg"></i></a>
</div>
<div [hidden]="!isVisible">
    <div class="leaflet-bar" fxLayout="row">
        <a class="cursor-pointer control-icon-last" (click)="toggleDirectional($event)" matTooltip="{{resources.directionalSearch}}" matTooltipPosition="left" angulartics2On="click" angularticsCategory="Search" angularticsAction="Toggle directional search on"><i class="fa fa-lg" [ngClass]="{'icon-plus': !isDirectional, 'icon-minus': isDirectional}"></i></a>
        <div [dir]="resources.direction">
            <mat-form-field class="search-input-container">
                <input type="text" matInput #searchFromInput class="control-container-item" [formControl]="searchFrom" [matAutocomplete]="autoFrom" placeholder="{{resources.searchPlaceHolder}}" [dir]="resources.getDirection(fromContext.searchTerm)" (focus)="hasFocus = true" (blur)="hasFocus = false">
            </mat-form-field>
            <mat-autocomplete positionY="below" #autoFrom="matAutocomplete" [displayWith]="displayResults">
                <mat-option *ngFor="let result of fromContext.searchResults" [value]="result" [ngClass]="[resources.getTextAlignment(result.title), 'search-result-option']" [dir]="resources.getDirection(result.title)">
                    <i [hidden]="!result.icon" class="fa" [ngClass]="result.icon" [style.color]="result.iconColor"></i>
                    <span>{{result.displayName}}</span>
                </mat-option>
            </mat-autocomplete>
        </div>
        <a class="cursor-pointer control-icon-first" (click)="toggleVisibility($event)"><i class="fa icon-search fa-lg"></i></a>
    </div>
    <br [hidden]="!isDirectional"/>
    <div fxLayout="row" [hidden]="!isDirectional">
        <div class="pull-left leaflet-bar">
            <a class="cursor-pointer pull-left" (click)="setRouting('Hike', $event)" [ngClass]="{'leaflet-active' : routingType == 'Hike' }" matTooltip="{{resources.hikeRouting}}" matTooltipPosition="below"><i class="fa icon-hike fa-lg"></i></a>
            <a class="cursor-pointer pull-left" (click)="setRouting('Bike', $event)" [ngClass]="{'leaflet-active' : routingType == 'Bike' }" matTooltip="{{resources.bikeRouting}}" matTooltipPosition="below"><i class="fa icon-bike fa-lg"></i></a>
            <a class="cursor-pointer pull-left" (click)="setRouting('4WD', $event)" [ngClass]="{'leaflet-active' : routingType == '4WD' }" matTooltip="{{resources.fourWheelDriveRouting}}" matTooltipPosition="below"><i class="fa icon-four-by-four fa-lg"></i></a>
            <a class="cursor-pointer pull-left" (click)="setRouting('None', $event)" [ngClass]="{'leaflet-active' : routingType == 'None' }" matTooltip="{{resources.straightLines}}" matTooltipPosition="below"><i class="fa icon-none fa-lg"></i></a>
        </div>
    </div>
    <br [hidden]="!isDirectional"/>
    <div class="leaflet-bar" [hidden]="!isDirectional" fxLayout="row">
        <a class="cursor-pointer control-icon-last" (click)="searchRoute($event)"><i class="fa icon-arrow-left fa-lg"></i></a>
        <div [dir]="resources.direction">
            <mat-form-field class="pull-right search-input-container">
                <input type="text" matInput #searchToInput [formControl]="searchTo" [matAutocomplete]="autoTo" class="control-container-item" placeholder="{{resources.searchPlaceHolder}}" [dir]="resources.getDirection(toContext.searchTerm)">
            </mat-form-field>
            <mat-autocomplete positionY="below" #autoTo="matAutocomplete" [displayWith]="displayResults">
                <mat-option *ngFor="let result of toContext.searchResults" [value]="result" [ngClass]="resources.getTextAlignment(result.title)" [dir]="resources.getDirection(result.title)">
                    <i [hidden]="!result.icon" class="fa" [ngClass]="result.icon"></i>
                    {{result.displayName}}
                </mat-option>
            </mat-autocomplete>
        </div>
        <a class="control-icon-first" (click)="toggleVisibility($event)"><i class="fa icon-search fa-lg"></i></a>
    </div>
</div>