<div class="side-control" *ngIf="!isVisible" [dir]="resources.direction">
    <button mat-button (click)="toggleVisibility()" matTooltip="{{resources.search}}" matTooltipPosition="left" angulartics2On="click" angularticsCategory="Search" angularticsAction="Search toggle"><i class="fa icon-search fa-lg"></i></button>
</div>
<div *ngIf="isVisible">
    <div class="side-control" fxLayout="row">
        <button mat-button class="pull-right" (click)="toggleDirectional()" matTooltip="{{resources.directionalSearch}}" matTooltipPosition="left" angulartics2On="click" angularticsCategory="Search" angularticsAction="Toggle directional search on"><i class="fa fa-lg" [ngClass]="{'icon-plus': !directional.isOn, 'icon-minus': directional.isOn}"></i></button>
        <div [dir]="resources.direction">
            <mat-form-field class="search-input-container">
                <input type="text" matInput #searchFromInput class="control-container-item" [formControl]="searchFrom" [matAutocomplete]="autoFrom" placeholder="{{resources.searchPlaceHolder}}" [dir]="resources.getDirection(fromContext.searchTerm)" (focus)="hasFocus = true" (blur)="hasFocus = false">
            </mat-form-field>
            <mat-autocomplete positionY="below" #autoFrom="matAutocomplete" [displayWith]="displayResults">
                <mat-option *ngFor="let result of fromContext.searchResults" [value]="result" [ngClass]="[resources.getTextAlignment(result.title), 'search-result-option']" [dir]="resources.getDirection(result.title)">
                    <i *ngIf="result.icon" class="fa" [ngClass]="result.icon" [style.color]="result.iconColor"></i>
                    <span>{{result.displayName}}</span>
                </mat-option>
            </mat-autocomplete>
        </div>
        <button mat-button class="pull-right" (click)="toggleVisibility()"><i class="fa icon-search fa-lg"></i></button>
    </div>
    <div class="side-control pull-left-important" fxLayout="row" *ngIf="directional.isOn" [style.float]="'left'">
        <button mat-button class="pull-right" (click)="setRouting('Hike')" [ngClass]="{active : routingType == 'Hike' }" matTooltip="{{resources.hikeRouting}}" matTooltipPosition="below"><i class="fa icon-hike fa-lg"></i></button>
        <button mat-button class="pull-right" (click)="setRouting('Bike')" [ngClass]="{active : routingType == 'Bike' }" matTooltip="{{resources.bikeRouting}}" matTooltipPosition="below"><i class="fa icon-bike fa-lg"></i></button>
        <button mat-button class="pull-right" (click)="setRouting('4WD')" [ngClass]="{active : routingType == '4WD' }" matTooltip="{{resources.fourWheelDriveRouting}}" matTooltipPosition="below"><i class="fa icon-four-by-four fa-lg"></i></button>
        <button mat-button class="pull-right" (click)="setRouting('None')" [ngClass]="{active : routingType == 'None' }" matTooltip="{{resources.straightLines}}" matTooltipPosition="below"><i class="fa icon-none fa-lg"></i></button>
    </div>
    <br *ngIf="directional.isOn" />
    <div class="side-control" *ngIf="directional.isOn" fxLayout="row">
        <button mat-button class="pull-right" (click)="searchRoute()"><i class="fa icon-arrow-left fa-lg"></i></button>
        <div [dir]="resources.direction">
            <mat-form-field class="pull-right search-input-container">
                <input type="text" matInput #searchToInput [formControl]="searchTo" [matAutocomplete]="autoTo" class="control-container-item" placeholder="{{resources.searchPlaceHolder}}" [dir]="resources.getDirection(toContext.searchTerm)">
            </mat-form-field>
            <mat-autocomplete positionY="below" #autoTo="matAutocomplete" [displayWith]="displayResults">
                <mat-option *ngFor="let result of toContext.searchResults" [value]="result" [ngClass]="resources.getTextAlignment(result.title)" [dir]="resources.getDirection(result.title)">
                    <i *ngIf="result.icon" class="fa" [ngClass]="result.icon"></i>
                    {{result.displayName}}
                </mat-option>
            </mat-autocomplete>
        </div>
        <button mat-button class="pull-right" (click)="toggleVisibility()"><i class="fa icon-search fa-lg"></i></button>
    </div>
</div>
<div *ngIf="directional.showResults && directional.routeCoordinates.length > 0">
    <aol-layer-vector>
        <aol-source-vector>
            <aol-feature>
                <aol-geometry-linestring>
                    <aol-collection-coordinates [coordinates]="directional.routeCoordinates"
                                                [srid]="'EPSG:4326'">
                    </aol-collection-coordinates>
                </aol-geometry-linestring>
            </aol-feature>
            <aol-feature>
                <aol-geometry-point>
                    <aol-coordinate [x]="directional.routeCoordinates[0][0]"
                                    [y]="directional.routeCoordinates[0][1]"
                                    [srid]="'EPSG:4326'">
                    </aol-coordinate>
                </aol-geometry-point>
                <aol-style>
                    <aol-style-circle [radius]="5">
                        <aol-style-stroke [color]="'black'" [width]="1"></aol-style-stroke>
                        <aol-style-fill [color]="'green'"></aol-style-fill>
                    </aol-style-circle>
                </aol-style>
            </aol-feature>
            <aol-feature>
                <aol-geometry-point>
                    <aol-coordinate [x]="directional.routeCoordinates[directional.routeCoordinates.length - 1][0]"
                                    [y]="directional.routeCoordinates[directional.routeCoordinates.length - 1][1]"
                                    [srid]="'EPSG:4326'">
                    </aol-coordinate>
                </aol-geometry-point>
                <aol-style>
                    <aol-style-circle [radius]="5">
                        <aol-style-stroke [color]="'black'" [width]="1"></aol-style-stroke>
                        <aol-style-fill [color]="'red'"></aol-style-fill>
                    </aol-style-circle>
                </aol-style>
            </aol-feature>
        </aol-source-vector>
    </aol-layer-vector>
    <directional-search-results-overlay [title]="directional.routeTitle"
                                        [isOpen]="directional.isOverlayOpen"
                                        (cleared)="directionalCleared()"
                                        (convertToRoute)="convertToRoute()"
                                        [latlng]="{
                             lat: directional.routeCoordinates[directional.routeCoordinates.length - 1][1],
                             lng: directional.routeCoordinates[directional.routeCoordinates.length - 1][0]
                }">
    </directional-search-results-overlay>
</div>