<div class="leaflet-bar">
    <a class="cursor-pointer" (click)="zoomIn($event)" title="{{resources.zoomIn}}" mdTooltip="{{resources.zoomIn}}" mdTooltipPosition="right" angulartics2On="click" angularticsCategory="Zoom" angularticsEvent="Zoom-in"><i class="fa fa-lg icon-plus"></i></a> 
    <a class="cursor-pointer" (click)="zoomOut($event)" title="{{resources.zoomOut}}" mdTooltip="{{resources.zoomOut}}" mdTooltipPosition="right" angulartics2On="click" angularticsCategory="Zoom" angularticsEvent="Zoom-out"><i class="fa fa-lg icon-minus"></i></a> 
</div>
