<div class="leaflet-bar">
    <a class="cursor-pointer" (click)="zoomIn($event)" title="{{resources.zoomIn}}" matTooltip="{{resources.zoomIn}}" matTooltipPosition="right" angulartics2On="click" angularticsCategory="Zoom" angularticsAction="Zoom-in"><i class="fa fa-lg icon-plus"></i></a> 
    <a class="cursor-pointer" (click)="zoomOut($event)" title="{{resources.zoomOut}}" matTooltip="{{resources.zoomOut}}" matTooltipPosition="right" angulartics2On="click" angularticsCategory="Zoom" angularticsAction="Zoom-out"><i class="fa fa-lg icon-minus"></i></a> 
</div>
