<div class="side-control mapboxgl-ctrl">
    <button mat-button class="no-padding" (click)="zoomIn()" matTooltip="{{resources.zoomIn}}" matTooltipPosition="right" angulartics2On="click" angularticsCategory="Zoom" angularticsAction="Zoom-in"><i class="fa fa-lg icon-plus"></i></button>
    <button mat-button class="no-padding" (click)="zoomOut()" matTooltip="{{resources.zoomOut}}" matTooltipPosition="right" angulartics2On="click" angularticsCategory="Zoom" angularticsAction="Zoom-out"><i class="fa fa-lg icon-minus"></i></button>
</div>
