<div class="sidebar-header flex flex-row justify-center items-center sticky top-0 z-10 bg-white"
    [dir]="resources.direction">
    <div class="flex-1 text-center text-xl title">{{resources.privateRoutes}}</div>
    <button mat-button class="w-1/6" type="button" (click)="close()" tabindex="-1"><i
            class="fa fa-lg icon-close"></i></button>
</div>
<div [dir]="resources.direction">
    <div class="flex flex-row w-full">
        <div class="flex-1">
            <button mat-button class="w-full" (click)="addRoute($event)" matTooltip="{{resources.addRoute}}"
                matTooltipPosition="below" angulartics2On="click" angularticsCategory="Private Routes"
                angularticsAction="Add route">
                <i class="fa fa-lg icon-plus"></i>
            </button>
        </div>
        <div class="flex-1">
            <button mat-button class="w-full" (click)="share()" matTooltip="{{resources.share}}"
                matTooltipPosition="below" angulartics2On="click" angularticsCategory="Private Routes"
                angularticsAction="Share">
                <i class="fa fa-lg icon-share-alt"></i>
            </button>
        </div>
        <div class="flex-1">
            <button mat-button class="w-full" (click)="toggleAllRoutes($event)" matTooltipPosition="below"
                angulartics2On="click" angularticsCategory="Private Routes" angularticsAction="Toggle all routes">
                <i class="fa fa-lg" [ngClass]="isAllRoutesHidden() ? 'icon-eye-slash' : 'icon-eye'"></i>
            </button>
        </div>
        <div class="flex-1">
            <label>
                <a mat-button class="w-full" angulartics2On="click" matTooltip="{{resources.openAFile}}"
                    matTooltipPosition="below" angularticsCategory="Private Routes" angularticsAction="Open file">
                    <i class="fa fa-lg icon-folder-open"></i>
                </a>
                <input type="file" name="file" (change)="openFile($event)" [style.display]="'none'" />
            </label>
        </div>
        <div class="flex-1">
            <button mat-button class="w-full" (click)="deleteAllRoutes($event)"
                matTooltip="{{resources.deleteAllRoutes}}" matTooltipPosition="below" angulartics2On="click"
                angularticsCategory="Private Routes" angularticsAction="Delete all routes">
                <i class="fa fa-lg icon-trash"></i>
            </button>
        </div>
    </div>

    @for (route of routes; track route.id; let i = $index) {
    <div class="flex flex-col w-full">
        <mat-radio-button [checked]="isRouteSelected(route)" color="primary" (click)="selectRoute($event, route)">
            <h3 [style.color]="route.color">{{route.name}}</h3>
        </mat-radio-button>
        <div class="w-full">
            <div class="flex flex-row w-full">
                <div matTooltip="{{resources.gain}}" matTooltipPosition="above" class="mx-2">
                    <i class="fa icon-arrow-up"></i>
                    <span class="mx-1">{{getStatistics(route).gain | distance}}</span>
                </div>
                <div matTooltip="{{resources.loss}}" matTooltipPosition="above" class="mx-2">
                    <i class="fa icon-arrow-down"></i>
                    <span class="mx-1">{{getStatistics(route).loss | distance}}</span>
                </div>
                <div matTooltip="{{resources.length}}" matTooltipPosition="above" class="mx-2">
                    <i class="fa icon-arrow-right"></i>
                    <span class="mx-1">{{getStatistics(route).length | distance}}</span>
                </div>
            </div>
        </div>
    </div>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <div class="flex flex-row w-full">
                    <mat-menu #appMenu="matMenu" overlapTrigger="false" [xPosition]="'before'">
                        <button mat-menu-item (click)="saveRouteToFile(route)" angulartics2On="click"
                            angularticsCategory="Route" angularticsAction="Save route to file">
                            <i class="fa fa-lg icon-external-link-square"></i>
                            <span class="ms-2">{{resources.saveRouteToFile}}</span>
                        </button>
                        <button mat-menu-item (click)="moveToRoute(route)" angulartics2On="click"
                            angularticsCategory="Route" angularticsAction="Move to route">
                            <i class="fa fa-lg icon-crosshairs"></i>
                            <span class="ms-2">{{resources.moveToRoute}}</span>
                        </button>
                        <button mat-menu-item (click)="makeAllPointsEditable(route)" angulartics2On="click"
                            angularticsCategory="Route" angularticsAction="Make all points editable">
                            <i class="fa fa-lg icon-map-marker-group"></i>
                            <span class="ms-2">{{resources.generateMarkersForAllPoints}}</span>
                        </button>
                        <button mat-menu-item (click)="reverseRoute(route)" angulartics2On="click"
                            angularticsCategory="Route" angularticsAction="Reverse route">
                            <i class="fa fa-lg icon-arrows-h"></i>
                            <span class="ms-2">{{resources.reverseRoute}}</span>
                        </button>
                    </mat-menu>
                    <button mat-button class="flex-1" (click)="deleteRoute($event, route)" angulartics2On="click"
                        angularticsCategory="Private Routes" angularticsAction="Delete route">
                        <i class="fa icon-trash"></i>
                    </button>
                    <button mat-button class="flex-1" (click)="toggleRouteVisibility($event, route)"
                        angulartics2On="click" angularticsCategory="Private Routes"
                        angularticsAction="Toggle route visibility">
                        <i class="fa" [ngClass]="isRouteVisible(route) ? 'icon-eye' : 'icon-eye-slash'"></i>
                    </button>
                    <button mat-button class="flex-1" [matMenuTriggerFor]="appMenu" (click)="$event.stopPropagation()">
                        <i class="fa icon-ellipsis-v"></i>
                    </button>
                </div>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="w-full">
            <mat-label>{{resources.name}}</mat-label>
            <input matInput #nameInput="ngModel" type="text" class="w-full" [ngModel]="route.name"
                (ngModelChange)="updateProperty(route, 'name', $event)" required="" [nameInUse]="route.name"
                [isRoute]="true" />
            @if (nameInput.errors && nameInput.errors.nameInUse) {
            <mat-error>{{resources.nameIsAlreadyInUse}}</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>{{resources.description}}</mat-label>
            <textarea matInput rows="2" type="text" class="w-full" [dir]="resources.getDirection(route.description)"
                [ngModel]="route.description" (ngModelChange)="updateProperty(route, 'description', $event)"></textarea>
        </mat-form-field>

        <div class="flex flex-row flex-wrap justify-between items-stretch">
            <div class="sm:w-1/2 w-full">
                <div class="flex flex-col gap-1">
                    @for (rowIndex of [0,1,2]; track rowIndex) {
                    <div class="button-row">
                        <div class="flex flex-row gap-1">
                            @for (currentColor of colors; track currentColor; let i = $index) {
                            <div class="flex-1" [hidden]="i % 3 !== rowIndex">
                                <button mat-mini-fab color="primary" class="w-full" type="button"
                                    [style.backgroundColor]="currentColor"
                                    (click)="updateProperty(route, 'color', currentColor)">
                                    @if (currentColor === route.color) {
                                    <i class="fa icon-check" [style.color]="getCheckIconColor(currentColor)"></i>
                                    }
                                </button>
                            </div>
                            }
                        </div>
                    </div>
                    }
                </div>
            </div>
            <div class="sm:w-1/2 w-full">
                <div class="flex flex-row w-full">
                    <label>{{resources.width}}</label>
                </div>
                <div class="flex flex-row w-full" dir="ltr">
                    <mat-slider class="w-full!" min="4" max="20" step="2" color="primary">
                        <input [ngModel]="route.weight" (ngModelChange)="updateProperty(route, 'weight', $event)"
                            matSliderThumb />
                    </mat-slider>
                </div>
                <div class="flex flex-row w-full">
                    <label>{{resources.opacity}}</label>
                </div>
                <div class="flex flex-row w-full" dir="ltr">
                    <mat-slider class="w-full!" min="0" max="1.0" step="0.1" color="primary">
                        <input [ngModel]="route.opacity" (ngModelChange)="updateProperty(route, 'opacity', $event)"
                            matSliderThumb />
                    </mat-slider>
                </div>
            </div>
        </div>
        <div class="flex flex-row" style="position: relative">
            <img width="100%" height="50px" src="content/legend/hike_legendLight4WDVehicles.png">
            <hr class="preview-line" [ngStyle]="{
                    'height': route.weight + 'px', 
                    'background-color': route.color, 
                    'opacity': route.opacity,
                    'margin-top': (17 - (route.weight / 2)) + 'px'
                }" />
        </div>
    </mat-expansion-panel>
    <br />
    }
</div>