.resizable {
    position: absolute;
}

    .resizable.no-transition {
        transition: none !important;
    }

.drag-handle-right, .drag-handle-left, .drag-handle-top, .drag-handle-bottom {
    display: block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    position: absolute;
    z-index: 1;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background: transparent;
}

    .drag-handle-right span, .drag-handle-left span, .drag-handle-top span, .drag-handle-bottom span {
        position: absolute;
        box-sizing: border-box;
        display: block;
        border: 1px solid white;
    }

    .drag-handle-right span, .drag-handle-left span {
        border-width: 0 3px;
        top: 50%;
        margin-top: -10px;
        margin: -10px 0 0 3.5px;
        height: 20px;
        width: 7px;
    }

    .drag-handle-top span, .drag-handle-bottom span {
        border-width: 3px 0;
        left: 50%;
        margin: 3.5px 0 0 -10px;
        width: 20px;
        height: 7px;
    }

.drag-handle-top {
    cursor: row-resize;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
}

.drag-handle-right {
    cursor: col-resize;
    height: 100%;
    right: 0;
    top: 0;
    margin: 0;
}

.drag-handle-bottom {
    cursor: row-resize;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
}

.drag-handle-left {
    cursor: col-resize;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
}
