.dropdown-toggle {
    text-transform: none !important;
    text-align: left;
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.dropdown-header {
    margin: 0 3px 5px 3px;
    border-bottom: 1px solid #e4e4e4;
    opacity: 0.8;
}

.dropdown-scroll {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
