.center-image {
    margin: 0 auto;
}

.bg-blue {
    background-color: #0000FF !important;
}

.bg-red {
    background-color: #FF0000 !important;
}

.bg-orange {
    background-color: #FF6600 !important;
}

.bg-pink {
    background-color: #FF00DD !important;
}

.bg-green {
    background-color: #008000 !important;
}

.bg-purple {
    background-color: #B700FF !important;
}

.bg-turquize {
    background-color: #00B0A4 !important;
}

.bg-yellow {
    background-color: #FFFF00 !important;
}

.bg-brown {
    background-color: #9C3E00 !important;
}

.bg-cyan {
    background-color: #00FFFF !important;
}

.bg-gray {
    background-color: #7F8282 !important;
}

.bg-dark {
    background-color: #101010 !important;
}

.fg-marker {
    color: green;
}

.fg-blue {
    color: #0000FF;
}

.fg-red {
    color: #FF0000;
}

.fg-orange {
    color: #FF6600;
}

.fg-pink {
    color: #FF00DD;
}

.fg-green {
    color: #008000;
}

.fg-purple {
    color: #B700FF;
}

.fg-turquize {
    color: #00B0A4;
}

.fg-yellow {
    color: #FFFF00;
}

.fg-brown {
    color: #9C3E00;
}

.fg-cyan {
    color: #00FFFF;
}

.fg-gray {
    color: #7F8282;
}

.fg-dark {
    color: #101010;
}
