<mat-toolbar [dir]="resources.direction" class="toolbar fixed z-50"
    [class]="isScrolled && isHome ? 'transition-all duration-300' : isHome ? 'transition-all duration-300 bg-transparent!' : ''">
    <div class="flex flex-grow items-center">
        @if (isIFrame()) {
        <img src="/content/logo.png" alt="Mapeak" height="48" />
        <span class="text-white">MAPEAK</span>
        } @else {
        <search></search>
        }
    </div>
    <main-menu></main-menu>
</mat-toolbar>
<div [class]="isHome ? '' : 'page-margin'">
    <router-outlet></router-outlet>
</div>