.toolbar {
    top: env(safe-area-inset-top, 0);
    background-color: #528CFA;
}

.page-margin {
    margin-top: var(--mat-toolbar-mobile-height);
}

@media (width >=600px) {
    .page-margin {
        margin-top: var(--mat-toolbar-standard-height);
    }
}