<div class="markdown-body">
    <h1 class="heading-element">Terms of Service</h1>
    <p>These terms and conditions ("Terms", "Agreement") are an agreement between "Israel Hiking Map" ("Israel Hiking
        Map", "us", "we" or "our") and you ("User", "you" or "your"). This Agreement sets forth the general terms and
        conditions of your use of the Israel Hiking Map mobile application, the Israel Hiking Map website and any of its
        products or services (collectively, "Services").</p>
    <h2 class="heading-element">Accounts and membership</h2>
    <p>If you create an account in OpenStreetMap using the Services you must accept OpenStreetMap's disclaimer and
        accept its copyright rules. You are responsible for maintaining the security of your account and you are fully
        responsible for all activities that occur under the account and any other actions taken in connection with it.
        We will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result
        of such acts or omissions.</p>
    <h2 class="heading-element">Backups</h2>
    <p>We are not responsible for Content residing in the Services. In no event shall we be held liable for any loss of
        any Content. It is your sole responsibility to maintain appropriate backup of your Content. Notwithstanding the
        foregoing, on some occasions and in certain circumstances, with absolutely no obligation, we may be able to
        restore some or all of your data that has been deleted as of a certain date and time when we may have backed up
        data for our own purposes. We make no guarantee that the data you need will be available.</p>
    <h2 class="heading-element">Links to external websites</h2>
    <p>Although these Services may link to other websites, we are not, directly or indirectly, implying any approval,
        association, sponsorship, endorsement, or affiliation with any linked entities, unless specifically stated
        herein. Some of the links in the Services may be "affiliate links". This means if you click on the link and
        purchase an item, Israel Hiking Map will receive an affiliate commission. We are not responsible for examining
        or evaluating, and we do not warrant the offerings of, any businesses or individuals or the content of their
        mobile applications or websites. We do not assume any responsibility or liability for the actions, products,
        services, and content of any other third-parties. You should carefully review the legal statements and other
        conditions of use of any mobile application and website which you access through a link from our Services. Your
        linking to any others' mobile applications and websites is at your own risk.</p>
    <h2 class="heading-element">Intellectual property rights</h2>
    <p>This Agreement does not transfer to you any intellectual property owned by Israel Hiking Map or third-parties,
        and all rights, titles, and interests in and to such property will remain (as between the parties) solely with
        Israel Hiking Map. All trademarks, service marks, graphics and logos used in connection with our Services, are
        trademarks or registered trademarks of Israel Hiking Map or Israel Hiking Map licensors. Other trademarks,
        service marks, graphics and logos used in connection with our Services may be the trademarks of other
        third-parties. Your use of our Services grants you no right or license to reproduce or otherwise use any Israel
        Hiking Map or third-party trademarks.</p>
    <h2 class="heading-element">Limitation of liability</h2>
    <p>To the fullest extent permitted by applicable law, in no event will Israel Hiking Map, its affiliates, officers,
        directors, employees, agents, suppliers or licensors be liable to any person for (a): any indirect, incidental,
        special, punitive, cover or consequential damages (including, without limitation, damages for loss of life,
        Injury, lost profits, revenue, sales, goodwill, use of content, impact on business, business interruption, loss
        of anticipated savings, loss of business opportunity) however caused, under any theory of liability, including,
        without limitation, contract, tort, warranty, breach of statutory duty, negligence or otherwise, even if Israel
        Hiking Map has been advised as to the possibility of such damages or could have foreseen such damages. To the
        maximum extent permitted by applicable law, the aggregate liability of Israel Hiking Map and its affiliates,
        officers, employees, agents, suppliers and licensors, relating to the services will be limited to an amount
        greater of one NIS or any amounts actually paid in cash by you to Israel Hiking Map for the prior one month
        period prior to the first event or occurrence giving rise to such liability. The limitations and exclusions also
        apply if this remedy does not fully compensate you for any losses or fails of its essential purpose.</p>
    <h2 class="heading-element">Changes and amendments</h2>
    <p>We reserve the right to modify this Agreement or its policies relating to the Services at any time, effective
        upon posting of an updated version of this Agreement in the mobile application or website. When we do, we will
        revise the updated date at the bottom of this page. Continued use of the Services after any such changes shall
        constitute your consent to such changes.</p>
    <h2 class="heading-element">Acceptance of these terms</h2>
    <p>You acknowledge that you have read this Agreement and agree to all its terms and conditions. By using the
        Services you agree to be bound by this Agreement. If you do not agree to abide by the terms of this Agreement,
        you are not authorized to use or access the Services.</p>
    <h1 class="heading-element">Privacy policy</h1>
    <p>This privacy policy ("Policy") describes how "Israel Hiking Map" ("Israel Hiking Map", "we", "us" or "our")
        collects, protects and uses the personally identifiable information ("Personal Information") you ("User", "you"
        or "your") may provide in the Israel Hiking Map mobile application, the Israel Hiking Map website and any of its
        products or services (collectively, "Services").</p>
    <p>It also describes the choices available to you regarding our use of your Personal Information and how you can
        access and update this information. This Policy does not apply to the practices of companies that we do not own
        or control, or to individuals that we do not employ or manage.</p>
    <h2 class="heading-element">Automatic collection of information</h2>
    <p>When you open the the Services our servers automatically record information that your device sends. This data may
        include information such as your device's IP address and location, device name and version, operating system
        type and version, language preferences, information you search for in our mobile application and website, access
        times and dates, and other statistics.</p>
    <p>Information collected automatically is used only to identify potential cases of abuse and establish statistical
        information regarding Services traffic and usage. This statistical information is not otherwise aggregated in
        such a way that would identify any particular user of the system.</p>
    <h2 class="heading-element">Collection of personal information</h2>
    <p>You can visit the the Services without telling us who you are or revealing any information by which someone could
        identify you as a specific, identifiable individual. If, however, you wish to use some of the Services'
        features, you will be asked to provide certain Personal Information (for example, your name and e-mail address).
        We receive and store any information you knowingly provide to us when you create an account, publish content,
        make a purchase, or fill any online forms in the Services. When required, this information may include the
        following:</p>
    <ul>
        <li>Account details such as user name, unique user ID, password, etc.</li>
        <li>Geolocation data of the mobile device such as latitude and longitude.</li>
        <li>Certain features on the mobile device such as contacts, calendar, gallery, etc.</li>
        <li>Any other materials you willingly submit to us such as articles, images, feedback, etc.</li>
    </ul>
    <p>You can choose not to provide us with your Personal Information, but then you may not be able to take advantage
        of some of the Services' features. Users who are uncertain about what information is mandatory are welcome to
        contact us.</p>
    <h2 class="heading-element">Managing personal information</h2>
    <p>You are able to delete certain Personal Information we have about you. The Personal Information you can delete
        may change as the Services change. When you delete Personal Information, however, we may maintain a copy of the
        unrevised Personal Information in our records for the duration necessary to comply with our obligations to our
        affiliates and partners, and for the purposes described below. If you would like to delete your Personal
        Information or permanently delete your account, please contact us.</p>
    <h2 class="heading-element">Storing personal information</h2>
    <p>We will retain and use your Personal Information for the period necessary to comply with our legal obligations,
        resolve disputes, and enforce our agreements unless a longer retention period is required or permitted by law.
        We may use any aggregated data derived from or incorporating your Personal Information after you update or
        delete it, but not in a manner that would identify you personally. Once the retention period expires, Personal
        Information shall be deleted. Therefore, the right to access, the right to erasure, the right to rectification
        and the right to data portability cannot be enforced after the expiration of the retention period.</p>
    <h2 class="heading-element">Use and processing of collected information</h2>
    <p>In order to make our Services available to you, or to meet a legal obligation, we need to collect and use certain
        Personal Information. If you do not provide the information that we request, we may not be able to provide you
        with the requested products or services. Some of the information we collect is directly from you via our
        Services. However, we may also collect Personal Information about you from other sources such as social media,
        emails, etc. Any of the information we collect from you may be used for the following purposes:</p>
    <ul>
        <li>Create and manage user accounts</li>
        <li>Fulfill and manage orders</li>
        <li>Deliver products or services</li>
        <li>Improve products and services</li>
        <li>Respond to inquiries and offer support</li>
        <li>Improve user experience</li>
        <li>Enforce terms and conditions and policies</li>
        <li>Protect from abuse and malicious users</li>
        <li>Respond to legal requests and prevent harm</li>
        <li>Run and operate our Services</li>
    </ul>
    <p>Processing your Personal Information depends on how you interact with our Services, where you are located in the
        world and if one of the following applies: (i) You have given your consent for one or more specific purposes.
        This, however, does not apply, whenever the processing of Personal Information is subject to California Consumer
        Privacy Act or European data protection law; (ii) Provision of information is necessary for the performance of
        an agreement with you and/or for any pre-contractual obligations thereof; (iii) Processing is necessary for
        compliance with a legal obligation to which you are subject; (iv) Processing is related to a task that is
        carried out in the public interest or in the exercise of official authority vested in us; (v) Processing is
        necessary for the purposes of the legitimate interests pursued by us or by a third party.</p>
    <p>Note that under some legislations we may be allowed to process information until you object to such processing
        (by opting out), without having to rely on consent or any other of the following legal bases below. In any case,
        we will be happy to clarify the specific legal basis that applies to the processing, and in particular whether
        the provision of Personal Information is a statutory or contractual requirement, or a requirement necessary to
        enter into a contract.</p>
    <h2 class="heading-element">Information transfer and storage</h2>
    <p>Depending on your location, data transfers may involve transferring and storing your information in a country
        other than your own. You are entitled to learn about the legal basis of information transfers to a country
        outside the European Union or to any international organization governed by public international law or set up
        by two or more countries, such as the UN, and about the security measures taken by us to safeguard your
        information. If any such transfer takes place, you can find out more by checking the relevant sections of this
        document or inquire with us using the information provided in the contact section.</p>
    <h2 class="heading-element">The rights of users</h2>
    <p>You may exercise certain rights regarding your information processed by us. In particular, you have the right to
        do the following: (i) you have the right to withdraw consent where you have previously given your consent to the
        processing of your information; (ii) you have the right to object to the processing of your information if the
        processing is carried out on a legal basis other than consent; (iii) you have the right to learn if information
        is being processed by us, obtain disclosure regarding certain aspects of the processing and obtain a copy of the
        information undergoing processing; (iv) you have the right to verify the accuracy of your information and ask
        for it to be updated or corrected; (v) you have the right, under certain circumstances, to restrict the
        processing of your information, in which case, we will not process your information for any purpose other than
        storing it; (vi) you have the right, under certain circumstances, to obtain the erasure of your Personal
        Information from us; (vii) you have the right to receive your information in a structured, commonly used and
        machine readable format and, if technically feasible, to have it transmitted to another controller without any
        hindrance. This provision is applicable provided that your information is processed by automated means and that
        the processing is based on your consent, on a contract which you are part of or on pre-contractual obligations
        thereof.</p>
    <h2 class="heading-element">The right to object to processing</h2>
    <p>Where Personal Information is processed for the public interest, in the exercise of an official authority vested
        in us or for the purposes of the legitimate interests pursued by us, you may object to such processing by
        providing a ground related to your particular situation to justify the objection. You must know that, however,
        should your Personal Information be processed for direct marketing purposes, you can object to that processing
        at any time without providing any justification. To learn, whether we are processing Personal Information for
        direct marketing purposes, you may refer to the relevant sections of this document.</p>
    <h2 class="heading-element">How to exercise these rights</h2>
    <p>Any requests to exercise User rights can be directed to the Owner through the contact details provided in this
        document. These requests can be exercised free of charge and will be addressed by the Owner as early as
        possible.</p>
    <h2 class="heading-element">California privacy rights</h2>
    <p>In addition to the rights as explained in this Privacy Policy, California residents who provide Personal
        Information (as defined in the statute) to obtain products or services for personal, family, or household use
        are entitled to request and obtain from us, once a calendar year, information about the Personal Information we
        shared, if any, with other businesses for marketing uses. If applicable, this information would include the
        categories of Personal Information and the names and addresses of those businesses with which we shared such
        personal information for the immediately prior calendar year (e.g., requests made in the current year will
        receive information about the prior year). To obtain this information please contact us.</p>
    <h2 class="heading-element">Billing and payments</h2>
    <p>In case of services requiring payment, the purchase will be done using a relevant application store ("Store") and
        under its sole responsibility and their terms and conditions. We do not request or have access to any credit
        card or other payment account information. The Store is also responsible for providing us with confirmation of
        your eligibility for purchased services.</p>
    <h2 class="heading-element">Privacy of children</h2>
    <p>We recognize the need to provide further privacy protections with respect to Personal Information we may collect
        from children and take many special precautions to protect the privacy of children. We do not require a child to
        disclose more information than is reasonably necessary to use the Services. We encourage children to consult
        with their parents before submitting any information to any mobile application and website, including Israel
        Hiking Map. We believe parents should be involved in the online activities of their children and suggest that
        parents do their best to provide their children with a safe and friendly online environment.</p>
    <h2 class="heading-element">Affiliates</h2>
    <p>We may disclose information about you to our affiliates for the purpose of being able to offer you related or
        additional products and services. Any information relating to you that we provide to our affiliates will be
        treated by those affiliates in accordance with the terms of this Privacy Policy.</p>
    <h2 class="heading-element">Links to other mobile applications and websites</h2>
    <p>Our Services contains links to other mobile applications and websites that are not owned or controlled by us.
        Please be aware that we are not responsible for the privacy practices of such other mobile applications,
        websites or third-parties. We encourage you to be aware when you leave our mobile application and website, and
        to read the privacy statements of each and every mobile application and website that may collect Personal
        Information.</p>
    <h2 class="heading-element">OpenStreetMap</h2>
    <p>We may disclose information about you to OpenStreetMap for the purpose of being able to offer you related or
        additional products and services. Any information relating to you that we provide to OpenStreetMap will be
        treated in accordance its Privacy Policy.</p>
    <h2 class="heading-element">Wikimedia Commons</h2>
    <p>We may disclose information about you to Wikimedia Commons for the purpose of being able to offer you related or
        additional products and services. Any information relating to you that we provide to Wikimedia will be treated
        in accordance its Privacy Policy.</p>
    <h2 class="heading-element">Information security</h2>
    <p>We secure information you provide on computer servers in a controlled, secure environment, protected from
        unauthorized access, use, or disclosure. We maintain reasonable administrative, technical, and physical
        safeguards in an effort to protect against unauthorized access, use, modification, and disclosure of Personal
        Information in its control and custody. However, no data transmission over the Internet or wireless network can
        be guaranteed. Therefore, while we strive to protect your Personal Information, you acknowledge that (i) there
        are security and privacy limitations of the Internet which are beyond our control; (ii) the security, integrity,
        and privacy of any and all information and data exchanged between you and our Services cannot be guaranteed; and
        (iii) any such information and data may be viewed or tampered with in transit by a third-party, despite best
        efforts.</p>
    <h2 class="heading-element">Data breach</h2>
    <p>In the event we become aware that the security of the Services has been compromised or users Personal Information
        has been disclosed to unrelated third parties as a result of external activity, including, but not limited to,
        security attacks or fraud, we reserve the right to take reasonably appropriate measures, including, but not
        limited to, investigation and reporting, as well as notification to and cooperation with law enforcement
        authorities. In the event of a data breach, we will make reasonable efforts to notify affected individuals if we
        believe that there is a reasonable risk of harm to the user as a result of the breach or if notice is otherwise
        required by law. When we do, we will post a notice in the Services.</p>
    <h2 class="heading-element">Legal disclosure</h2>
    <p>We will disclose any information we collect, use or receive if required or permitted by law, such as to comply
        with a subpoena, or similar legal process, and when we believe in good faith that disclosure is necessary to
        protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government
        request. In the event we go through a business transition, such as a merger or acquisition by another company,
        or sale of all or a portion of its assets, your user account, and Personal Information will likely be among the
        assets transferred.</p>
    <h2 class="heading-element">Changes and amendments</h2>
    <p>We may update this Privacy Policy from time to time in our discretion and will notify you of any material changes
        to the way in which we treat Personal Information. When changes are made, we will revise the updated date at the
        bottom of this page. We may also provide notice to you in other ways in our discretion, such as through contact
        information you have provided. Any updated version of this Privacy Policy will be effective immediately upon the
        posting of the revised Privacy Policy unless otherwise specified. Your continued use of the Services after the
        effective date of the revised Privacy Policy (or such other act specified at that time) will constitute your
        consent to those changes. However, we will not, without your consent, use your Personal Data in a manner
        materially different than what was stated at the time your Personal Data was collected.</p>
    <h2 class="heading-element">Acceptance of this policy</h2>
    <p>You acknowledge that you have read this Policy and agree to all its terms and conditions. By using the Services
        you agree to be bound by this Policy. If you do not agree to abide by the terms of this Policy, you are not
        authorized to use or access the Services.</p>
    <h2 class="heading-element">Contacting us</h2>
    <p>If you would like to contact us to understand more about this Policy or wish to contact us concerning any matter
        relating to individual rights and your Personal Information, you may send an email to <a
            href="mailto:israelhiking@osm.org.il">IsraelHiking@osm.org.il</a></p>
    <p>This document was last updated on March 06, 2023</p>
</div>