<div class="flex flex-row map-height" [dir]="resources.direction">
    <div class="max-md:w-full w-1/3 overflow-y-auto">
        <div class="flex flex-row sticky top-0 z-10 bg-white">
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>{{resources.sort}}</mat-label>
                <mat-select [(ngModel)]="sortBy" (selectionChange)="onSortChange()">
                    <mat-option value="lastModifiedDate">{{resources.date}}</mat-option>
                    <mat-option value="difficulty">{{resources.difficulty}}</mat-option>
                    <mat-option value="type">{{resources.routeType}}</mat-option>
                    <mat-option value="length">{{resources.length}}</mat-option>
                    <mat-option value="title">{{resources.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button class="!h-[56px] ms-2" (click)="onSortDirectionChange()">
                <i class="fa icon-sort mx-2"></i>
            </button>
            <button mat-button class="!h-[56px] ms-2" [matMenuTriggerFor]="filterMenu">
                <i class="fa icon-sliders mx-2"></i>
                {{resources.filter}}
            </button>
            <mat-menu #filterMenu="matMenu">
                <div mat-menu-item (click)="$event.stopPropagation()">
                    <mat-checkbox color="primary" (change)="onFilterChange('difficulty', 'Hard')"
                        [checked]="filter.difficulty.includes('Hard')">{{resources.hard}}</mat-checkbox>
                </div>
                <div mat-menu-item (click)="$event.stopPropagation()">
                    <mat-checkbox color="primary" (change)="onFilterChange('difficulty', 'Moderate')"
                        [checked]="filter.difficulty.includes('Moderate')">{{resources.moderate}}</mat-checkbox>
                </div>
                <div mat-menu-item (click)="$event.stopPropagation()">
                    <mat-checkbox color="primary" (change)="onFilterChange('difficulty', 'Easy')"
                        [checked]="filter.difficulty.includes('Easy')">{{resources.easy}}</mat-checkbox>
                </div>
                <div mat-menu-item (click)="$event.stopPropagation()">
                    <mat-checkbox color="primary" (change)="onFilterChange('difficulty', 'Unknown')"
                        [checked]="filter.difficulty.includes('Unknown')">{{resources.unknown}}</mat-checkbox>
                </div>
                <mat-divider></mat-divider>
                <div mat-menu-item (click)="$event.stopPropagation()">
                    <mat-checkbox color="primary" (change)="onFilterChange('type', 'Biking')"
                        [checked]="filter.type.includes('Biking')">
                        <i class="fa icon-hike"></i>
                    </mat-checkbox>
                </div>
                <div mat-menu-item (click)="$event.stopPropagation()">
                    <mat-checkbox color="primary" (change)="onFilterChange('type', 'Hiking')"
                        [checked]="filter.type.includes('Hiking')">
                        <i class="fa icon-bike"></i>
                    </mat-checkbox>
                </div>
                <div mat-menu-item (click)="$event.stopPropagation()">
                    <mat-checkbox color="primary" (change)="onFilterChange('type', '4x4')"
                        [checked]="filter.type.includes('4x4')">
                        <i class="fa icon-four-by-four"></i>
                    </mat-checkbox>
                </div>
                <div mat-menu-item (click)="$event.stopPropagation()">
                    <mat-checkbox color="primary" (change)="onFilterChange('type', 'Unknown')"
                        [checked]="filter.type.includes('Unknown')">
                        <i class="fa icon-question"></i>
                    </mat-checkbox>
                </div>
            </mat-menu>
        </div>
        @for (shareUrl of filteredShareUrls; track shareUrl.id ) {
        <div [id]="'share-url-' + shareUrl.id">
            <share-item [shareUrl]="shareUrl" [showMenu]="true" (delete)="deleteShareUrl(shareUrl)"
                (editProperties)="openEditShareUrlDialog(shareUrl)" (editRoute)="showShareUrl(shareUrl)"
                (addToRoutes)="addShareUrlToRoutes(shareUrl)" (moveToRoute)="moveToShare(shareUrl)"></share-item>
        </div>
        }
    </div>
    <div class="max-md:hidden w-2/3">
        <div class="w-full h-full">
            <mgl-map [mapStyle]="mapStyle" [attributionControl]="false" (mapLoad)="mapLoaded($event)">
                <layers [isMainMap]="false"></layers>
                <routes-path [routesGeoJson]="routesGeoJson"></routes-path>
                @for (shareUrl of filteredShareUrls; track shareUrl.id ) {
                <mgl-marker [lngLat]="shareUrl.start">
                    <span class="fa-stack fa-lg cursor-pointer selected-marker-icon"
                        (click)="onStartPointClick(shareUrl)">
                        <i class="fa icon-map-marker-rect fa-stack-2x"
                            style="color: white; text-shadow: 3px 3px 3px #000;"></i>
                        <i class="fa {{getIconFromType(shareUrl)}} fa-stack-1x stack-icon-top stack-icon-large"></i>
                    </span>
                </mgl-marker>
                }
                @if (selectedShareUrl) {
                <mgl-popup [lngLat]="selectedShareUrl.start" [closeOnClick]="false"
                    (popupClose)="onStartPointClick(selectedShareUrl)" [offset]="[0, -15]">
                    <div class="flex flex-row">
                        <h3>{{selectedShareUrl.title}}</h3>
                    </div>
                    <div class="flex flex-row">
                        <button mat-menu-item (click)="openEditShareUrlDialog(selectedShareUrl)">
                            <i class="fa icon-pencil"></i>
                            {{resources.editProperties}}
                        </button>
                    </div>
                    <div class="flex flex-row">
                        <button mat-menu-item (click)="showShareUrl(selectedShareUrl)">
                            <i class="fa icon-recordings"></i>
                            {{resources.editRoute}}
                        </button>
                    </div>
                    <div class="flex flex-row">
                        <button mat-menu-item (click)="addShareUrlToRoutes(selectedShareUrl)">
                            <i class="fa icon-plus"></i>
                            {{resources.addToRoutes}}
                        </button>
                    </div>
                    <div class="flex flex-row">
                        <button mat-menu-item (click)="deleteShareUrl(selectedShareUrl)">
                            <i class="fa icon-trash"></i>
                            {{resources.delete}}
                        </button>
                    </div>
                </mgl-popup>
                }
            </mgl-map>
        </div>
    </div>
</div>