<div class="flex flex-row relative h-screen" [dir]="resources.direction">
    <div class="hidden max-md:block absolute bottom-0 bg-white left-1/2 -translate-x-1/2 z-10">
        <mat-button-toggle-group [(ngModel)]="showMap">
            <mat-button-toggle [value]="false" angulartics2On="click" angularticsCategory="Traces"
                angularticsAction="Open list view">
                <i class="fa icon-list"></i>
                {{resources.list}}
            </mat-button-toggle>
            <mat-button-toggle [value]="true" angulartics2On="click" angularticsCategory="Traces"
                angularticsAction="Open map view">
                <i class="fa icon-map-o"></i>
                {{resources.map}}
            </mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div [ngClass]="{'max-md:hidden': showMap, 'max-md:w-full': !showMap}"
        class="w-1/3 overflow-y-auto magrin-top-with-toolbar">
        <div class="flex flex-row sticky top-0 z-10 bg-white">
            <mat-form-field subscriptSizing="dynamic">
                <mat-label>{{resources.sort}}</mat-label>
                <mat-select [(ngModel)]="sortBy" (selectionChange)="onSortChange()" angulartics2On="click"
                    angularticsCategory="Traces" angularticsAction="Open sort menu">
                    <mat-option value="timeStamp" angulartics2On="click" angularticsCategory="Traces"
                        angularticsAction="Sort by date">
                        {{resources.date}}
                    </mat-option>
                    <mat-option value="name" angulartics2On="click" angularticsCategory="Traces"
                        angularticsAction="Sort by name">
                        {{resources.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-button class="!h-[56px] ms-2" (click)="onSortDirectionChange()" angulartics2On="click"
                angularticsCategory="Traces" angularticsAction="Change sort direction">
                <i class="fa icon-sort mx-2"></i>
            </button>
            <label class="flex-1 !h-[56px] ms-2">
                <a class="w-full !h-full" mat-raised-button color="primary" angulartics2On="click"
                    angularticsCategory="Traces" angularticsAction="Upload OSM trace"><i
                        class="fa icon-folder-open fa-lg"></i>
                    {{resources.uploadFileToOsm}}</a>
                <input type="file" (change)="uploadToOsm($event)" [style.display]="'none'" />
            </label>
        </div>
        @for (trace of filteredTraces; track trace.id) {
        <div [id]="'trace-' + trace.id">
            <secured-image [src]="trace.imageUrl" alt="" class="w-full"></secured-image>
            <h4 class="m-2">
                <button mat-button [matMenuTriggerFor]="shareMenu" angulartics2On="click" angularticsCategory="Traces"
                    angularticsAction="Open trace menu">
                    <i class="fa icon-ellipsis-v"></i>
                </button>
                <mat-menu #shareMenu="matMenu">
                    @if (canUploadToOsm(trace)) {
                    <button mat-menu-item (click)="uploadRecordingToOsm(trace)" angulartics2On="click"
                        angularticsCategory="Traces" angularticsAction="Upload locally recorded trace">
                        <i class="fa icon-cloud-upload"></i>
                        {{resources.uploadFileToOsm}}
                    </button>
                    }
                    <button mat-menu-item (click)="moveToTrace(trace.id)" angulartics2On="click"
                        angularticsCategory="Traces" angularticsAction="Move to trace">
                        <i class="fa icon-crosshairs"></i>
                        {{resources.moveToRoute}}
                    </button>
                    <button mat-menu-item (click)="editTrace(trace)" angulartics2On="click" angularticsCategory="Traces"
                        angularticsAction="Edit OSM trace properties">
                        <i class="fa icon-pencil"></i>
                        {{resources.editProperties}}
                    </button>
                    @if (!isMobile()) {
                    <button mat-menu-item [disabled]="canUploadToOsm(trace)" (click)="editInOsm(trace)"
                        angulartics2On="click" angularticsCategory="Traces" angularticsAction="Edit OSM trace in OSM">
                        <i class="fa icon-map-editing fa-lg"></i>
                        {{resources.editThisMapUsingOsm}}
                    </button>
                    }
                    <button mat-menu-item (click)="addTraceToRoutes(trace)" angulartics2On="click"
                        angularticsCategory="Traces" angularticsAction="Add OSM trace to routes">
                        <i class="fa icon-plus"></i>
                        {{resources.addToRoutes}}
                    </button>
                    <button mat-menu-item (click)="deleteTrace(trace)" angulartics2On="click"
                        angularticsCategory="Traces" angularticsAction="Delete OSM trace">
                        <i class="fa icon-trash"></i>
                        {{resources.delete}}
                    </button>
                    <button mat-menu-item [disabled]="canUploadToOsm(trace)" (click)="findUnmappedRoutes(trace)"
                        angulartics2On="click" angularticsCategory="Traces"
                        angularticsAction="Find unmapped trace parts">
                        <i class="fa icon-search"></i>
                        {{resources.findUnmappedRoutes}}
                    </button>
                </mat-menu>
                {{getTraceDisplayName(trace)}}
            </h4>
            <div class="ms-2">
                {{trace.timeStamp | date:'dd/MM/yyyy'}}
            </div>
            <div class="ms-2">
                {{getVisibilityTranslation(trace.visibility)}}
            </div>
            <div class="ms-2">
                {{trace.tagsString}}
            </div>
        </div>
        <div class="clear-left"></div>
        } @empty {
        <p>{{resources.noTraces}}</p>
        }
        @if (loadingTraces) {
        <mat-spinner></mat-spinner>
        }
    </div>
    <div [ngClass]="{'max-md:w-full': showMap, 'max-md:hidden': !showMap}" class="w-2/3">
        <mgl-map [mapStyle]="mapStyle" [attributionControl]="false" (mapLoad)="mapLoaded($event)">
            <layers [isMainMap]="false"></layers>
            <routes-path [routesGeoJson]="selectedTraceGeoJson"></routes-path>
            <mgl-control [position]="resources.direction === 'rtl' ? 'top-left' : 'top-right'">
                <zoom></zoom>
            </mgl-control>
            <mgl-control [position]="resources.direction === 'rtl' ? 'top-right' : 'top-left'">
                <osm-attribution></osm-attribution>
            </mgl-control>
            <mgl-geojson-source id="traces-source" [data]="tracesGeoJson" [cluster]="true" [clusterMaxZoom]="14"
                [clusterRadius]="100" #tracesClusterSource></mgl-geojson-source>
            <mgl-markers-for-clusters source="traces-source">
                <ng-template mglPoint let-feature>
                    <span class="fa-stack fa-lg cursor-pointer marker-icon"
                        (click)="onStartPointClick(feature.properties.id, $event)" angulartics2On="click"
                        angularticsCategory="Traces" angularticsAction="Open a Trace from the map">
                        <i class="fa icon-map-marker-rect fa-stack-2x"
                            style="color: white; text-shadow: 3px 3px 3px #000;"></i>
                        <i class="fa icon-recordings fa-stack-1x stack-icon-top stack-icon-large"></i>
                    </span>
                </ng-template>
                <ng-template mglClusterPoint let-feature>
                    <div class="marker-cluster" (click)="expandCluster(feature, $event, tracesClusterSource)"
                        angulartics2On="click" angularticsCategory="Traces" angularticsAction="Traces cluster click">
                        {{ feature.properties?.point_count }}
                    </div>
                </ng-template>
            </mgl-markers-for-clusters>
            @if (selectedTrace) {
            <mgl-popup [lngLat]="selectedTrace.start" [closeOnClick]="false"
                (popupClose)="onStartPointClick(selectedTrace.id)" [offset]="[0, -15]">
                <div class="flex flex-row">
                    <h3>{{getTraceDisplayName(selectedTrace)}}</h3>
                </div>
                <div class="flex flex-row">
                    <button mat-menu-item (click)="editTrace(selectedTrace)" angulartics2On="click"
                        angularticsCategory="Traces" angularticsAction="Edit OSM trace properties from popup">
                        <i class="fa icon-pencil"></i>
                        {{resources.editProperties}}
                    </button>
                </div>
                <div class="flex flex-row">
                    <button mat-menu-item (click)="addTraceToRoutes(selectedTrace)" angulartics2On="click"
                        angularticsCategory="Traces" angularticsAction="Add OSM trace to routes from popup">
                        <i class="fa icon-plus"></i>
                        {{resources.addToRoutes}}
                    </button>
                </div>
                <div class="flex flex-row">
                    <button mat-menu-item (click)="deleteTrace(selectedTrace)" angulartics2On="click"
                        angularticsCategory="Traces" angularticsAction="Delete OSM trace parts from popup">
                        <i class="fa icon-trash"></i>
                        {{resources.delete}}
                    </button>
                </div>
                <div class="flex flex-row">
                    <button mat-menu-item (click)="findUnmappedRoutes(selectedTrace)" angulartics2On="click"
                        angularticsCategory="Traces" angularticsAction="Find unmapped trace parts from popup">
                        <i class="fa icon-search"></i>
                        {{resources.findUnmappedRoutes}}
                    </button>
                </div>
            </mgl-popup>
            }
            <mgl-geojson-source id="missing-parts" [data]="missingParts"></mgl-geojson-source>
            <mgl-layer id="missing-part-line" source="missing-parts" type="line" [paint]="{
                    'line-color': 'red',
                    'line-width': 3
                }">
            </mgl-layer>
            <mgl-geojson-source id="selected-feature" [data]="selectedFeatureSource"></mgl-geojson-source>
            <mgl-layer id="missing-part-line-selected" source="selected-feature" type="line" [paint]="{
                    'line-color': 'brown',
                    'line-width': 5
                }">
            </mgl-layer>
            @if (missingCoordinates) {
            <mgl-popup [lngLat]="missingCoordinates" [offset]="[0, -30]" (popupClose)="clearSelection()">
                <missing-part-overlay [feature]="selectedFeature" [latlng]="missingCoordinates"
                    (removed)="removeMissingPart()"></missing-part-overlay>
            </mgl-popup>
            }
            @for (feature of missingParts.features; track feature) {
            <mgl-marker [lngLat]="getLatLngLikeForFeature(feature)" anchor="bottom">
                <div (click)="setSelectedFeature(feature, $event)">
                    <span class='fa-stack fa-lg'>
                        <i class='fa icon-map-marker fa-stack-2x'
                            style='color:white;text-shadow: 3px 3px 3px #000;'></i>
                        <i class='fa icon-star fa-stack-1x stack-icon-top' style='color:orange;'></i>
                    </span>
                </div>
            </mgl-marker>
            }
        </mgl-map>
    </div>
</div>