<div class="flex flex-row map-h-full" [dir]="resources.direction">
    <div class="max-md:w-full w-1/3 overflow-y-auto">
        <div class="flex flex-row">
            <label class="w-full">
                <a class="w-full" mat-raised-button color="primary" angulartics2On="click" angularticsCategory="OSM"
                    angularticsAction="Upload OSM trace"><i class="fa icon-folder-open fa-lg"></i>
                    {{resources.uploadFileToOsm}}</a>
                <input type="file" (change)="uploadToOsm($event)" [style.display]="'none'" />
            </label>
        </div>
        @for (trace of filteredTraces; track trace.id) {
        <div [id]="'trace-' + trace.id">
            <secured-image [src]="trace.imageUrl" alt="" class="w-full"></secured-image>
            <h4 class="m-2">
                <button mat-button [matMenuTriggerFor]="shareMenu">
                    <i class="fa icon-ellipsis-v"></i>
                </button>
                <mat-menu #shareMenu="matMenu">
                    @if (canUploadToOsm(trace)) {
                    <button mat-menu-item (click)="uploadRecordingToOsm(trace)" angulartics2On="click"
                        angularticsCategory="OSM" angularticsAction="Upload locally recorded route">
                        <i class="fa icon-cloud-upload"></i>
                        {{resources.uploadFileToOsm}}
                    </button>
                    }
                    <button mat-menu-item class="max-md:hidden!" (click)="moveToTrace(trace)">
                        <i class="fa icon-crosshairs"></i>
                        {{resources.moveToRoute}}
                    </button>
                    <button mat-menu-item (click)="editTrace(trace)" angulartics2On="click" angularticsCategory="OSM"
                        angularticsAction="Edit OSM trace start">
                        <i class="fa icon-pencil"></i>
                        {{resources.editProperties}}
                    </button>
                    @if (!isMobile()) {
                    <button mat-menu-item [disabled]="canUploadToOsm(trace)" (click)="editInOsm(trace)"
                        angulartics2On="click" angularticsCategory="OSM" angularticsAction="Edit OSM trace in OSM">
                        <i class="fa icon-map-editing fa-lg"></i>
                        {{resources.editThisMapUsingOsm}}
                    </button>
                    }
                    <button mat-menu-item (click)="addTraceToRoutes(trace)" angulartics2On="click"
                        angularticsCategory="OSM" angularticsAction="Add OSM trace to routes">
                        <i class="fa icon-plus"></i>
                        {{resources.addToRoutes}}
                    </button>
                    <button mat-menu-item (click)="deleteTrace(trace)" angulartics2On="click" angularticsCategory="OSM"
                        angularticsAction="Delete OSM trace">
                        <i class="fa icon-trash"></i>
                        {{resources.delete}}
                    </button>
                    <button mat-menu-item [disabled]="canUploadToOsm(trace)" (click)="findUnmappedRoutes(trace)"
                        angulartics2On="click" angularticsCategory="OSM" angularticsAction="Find unmapped trace parts">
                        <i class="fa icon-search"></i>
                        {{resources.findUnmappedRoutes}}
                    </button>
                </mat-menu>
                {{getTraceDisplayName(trace)}}
            </h4>
            <div class="ms-2">
                {{trace.timeStamp | date:'dd/MM/yyyy'}}
            </div>
            <div class="ms-2">
                {{getVisibilityTranslation(trace.visibility)}}
            </div>
            <div class="ms-2">
                {{trace.tagsString}}
            </div>
        </div>
        <div class="clear-left"></div>
        } @empty {
        <p>{{resources.noTraces}}</p>
        }
        @if (loadingTraces) {
        <mat-spinner></mat-spinner>
        }
    </div>
    <div class="max-md:hidden w-2/3">
        <div class="w-full h-full">
            <mgl-map [mapStyle]="mapStyle" [attributionControl]="false" (mapLoad)="mapLoaded($event)">
                <layers [isMainMap]="false"></layers>
                <routes-path [routesGeoJson]="traceGeoJson"></routes-path>
                @for (trace of filteredTraces; track trace.id) {
                <mgl-marker [lngLat]="trace.start">
                    <span class="fa-stack fa-lg cursor-pointer selected-marker-icon" (click)="onStartPointClick(trace)">
                        <i class="fa icon-map-marker-rect fa-stack-2x"
                            style="color: white; text-shadow: 3px 3px 3px #000;"></i>
                        <i class="fa icon-recordings fa-stack-1x stack-icon-top stack-icon-large"></i>
                    </span>
                </mgl-marker>
                }
                @if (selectedTrace) {
                <mgl-popup [lngLat]="selectedTrace.start" [closeOnClick]="false"
                    (popupClose)="onStartPointClick(selectedTrace)" [offset]="[0, -15]">
                    <div class="flex flex-row">
                        <h3>{{getTraceDisplayName(selectedTrace)}}</h3>
                    </div>
                    <div class="flex flex-row">
                        <button mat-menu-item (click)="editTrace(selectedTrace)">
                            <i class="fa icon-pencil"></i>
                            {{resources.editProperties}}
                        </button>
                    </div>
                    <div class="flex flex-row">
                        <button mat-menu-item (click)="addTraceToRoutes(selectedTrace)">
                            <i class="fa icon-plus"></i>
                            {{resources.addToRoutes}}
                        </button>
                    </div>
                    <div class="flex flex-row">
                        <button mat-menu-item (click)="deleteTrace(selectedTrace)">
                            <i class="fa icon-trash"></i>
                            {{resources.delete}}
                        </button>
                    </div>
                </mgl-popup>
                }
            </mgl-map>
        </div>
    </div>
</div>