<?xml version='1.0' encoding='utf-8'?>
<widget id="org.israelhiking.osm" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Israel Hiking Map</name>
    <description>An application for outdoor navigation.</description>
    <author email="IsraelHikingMap@gmail.com" href="http://israelhiking.osm.org.il">
    Israel Hiking Map
  </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="www/content/favicons/android-chrome-36x36.png" />
        <icon density="mdpi" src="www/content/favicons/android-chrome-48x48.png" />
        <icon density="hdpi" src="www/content/favicons/android-chrome-72x72.png" />
        <icon density="xhdpi" src="www/content/favicons/android-chrome-96x96.png" />
        <icon density="xxhdpi" src="www/content/favicons/android-chrome-144x144.png" />
        <icon density="xxxhdpi" src="www/content/favicons/android-chrome-192x192.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="57" src="www/content/favicons/apple-touch-icon-57x57.png" width="57" />
        <icon height="60" src="www/content/favicons/apple-touch-icon-60x60.png" width="60" />
        <icon height="76" src="www/content/favicons/apple-touch-icon-76x76.png" width="76" />
        <icon height="114" src="www/content/favicons/apple-touch-icon-114x114.png" width="114" />
        <icon height="120" src="www/content/favicons/apple-touch-icon-120x120.png" width="120" />
        <icon height="144" src="www/content/favicons/apple-touch-icon-144x144.png" width="144" />
        <icon height="152" src="www/content/favicons/apple-touch-icon-152x152.png" width="152" />
        <icon height="180" src="www/content/favicons/apple-touch-icon-180x180.png" width="180" />
    </platform>
    <plugin name="cordova-plugin-inappbrowser" spec="^3.0.0" />
    <plugin name="cordova-plugin-mauron85-background-geolocation" spec="^3.0.0-alpha.40">
        <variable name="GOOGLE_PLAY_SERVICES_VERSION" value="11+" />
        <variable name="ANDROID_SUPPORT_LIBRARY_VERSION" value="26+" />
        <variable name="ALWAYS_USAGE_DESCRIPTION" value="App requires background tracking enabled" />
        <variable name="MOTION_USAGE_DESCRIPTION" value="App requires motion detection" />
    </plugin>
    <engine name="android" spec="^7.0.0" />
    <engine name="browser" spec="^5.0.4" />
</widget>
