<div [dir]="resources.direction">
    <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="selectedTabChanged($event)" [dynamicHeight]="'true'">
        <mat-tab label="{{resources.about}}">
            <mat-card>
                <p><span [innerHtml]="resources.infoSubheader"></span></p>
                <div *ngIf="!isApp()" fxLayout="row" fxLayoutAlign="center center">
                    <a href="https://play.google.com/store/apps/details?id=il.org.osm.israelhiking&hl=en" target="_blank" angulartics2On="click" angularticsCategory="Info" angularticsAction="Download from google play store">
                        <img src="content/google-play-badge.png" width="200" />
                    </a>
                </div>
                <div *ngIf="!isApp()" fxLayout="row" fxLayoutAlign="center center">
                    <a href="https://apps.apple.com/us/app/israel-hiking-map/id1451300509" target="_blank" angulartics2On="click" angularticsCategory="Info" angularticsAction="Download from app store">
                        <img src="content/app-store-badge.png" width="200" />
                    </a>
                </div>
                <h4>{{resources.infoHelpfulLinks}}</h4>
                <div fxLayout="row">
                    <div fxFlex="15" class="text-center"><i class="fa icon-facebook" fxFill></i></div>
                    <div fxFlex [innerHtml]="resources.infoFacebookLink"></div>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="row">
                    <div fxFlex="15" class="text-center"><i class="fa icon-github" fxFill></i></div>
                    <div fxFlex [innerHtml]="resources.infoGithubLink"></div>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="row">
                    <div fxFlex="15" class="text-center"><i class="fa icon-wikipedia-w" fxFill></i></div>
                    <div fxFlex [innerHtml]="resources.infoOsmWikiLink"></div>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="row" *ngIf="!isApp()">
                    <div fxFlex="15" class="text-center"><i class="fa icon-download" fxFill></i></div>
                    <div fxFlex>
                        <a fxFill routerLink="/download/" angulartics2On="click" angularticsCategory="Download" angularticsAction="Download open">{{resources.infoDownloadOldMapsForOfflineUse}}</a>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="row">
                    <div fxFlex="15" class="text-center"><i class="fa icon-edit" fxFill></i></div>
                    <div fxFlex>
                        <a fxFill href="https://github.com/IsraelHikingMap/Site/wiki/Privacy-Policy-and-Terms-of-Service" target="_blank">{{resources.infoPrivacyPolicyTermsOfService}}</a>
                    </div>
                </div>
                <br />
                <p>
                    <i>
                        {{resources.infoFooterThanks}}<br />
                        {{resources.infoFooterAuthors}}<br />
                    </i>
                </p>
            </mat-card>
        </mat-tab>
        <mat-tab label="{{resources.legend}}">
            <div *ngIf="legendSections.length === 0">
                <p>{{resources.legendEmpty}}</p>
            </div>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let section of legendSections" [id]="section.id" (opened)="openSection(section)">
                    <mat-expansion-panel-header [ngx-scroll-to]="section.id">
                        {{section.title}}
                    </mat-expansion-panel-header>
                    <div *ngIf="isSectionOpen(section)">
                        <legend-item *ngFor="let item of section.items" [item]="item"></legend-item>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
    </mat-tab-group>
</div>



