<div [dir]="resources.direction">
    <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedIndexChange)="selectedTabChanged($event)" [dynamicHeight]="'true'">
        <mat-tab label="{{resources.about}}" angulartics2On="click" angularticsCategory="Info" angularticsAction="Info about select">
            <mat-card>
                <p><span [innerHtml]="resources.infoSubheader"></span></p>
                <h4>{{resources.infoHelpfulLinks}}</h4>
                <div fxLayout="row">
                    <div fxFlex="15"><i class="fa icon-facebook" fxFill></i></div>
                    <div fxFlex [innerHtml]="resources.infoFacebookLink"></div>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="row">
                    <div fxFlex="15"><i class="fa icon-github" fxFill></i></div>
                    <div fxFlex [innerHtml]="resources.infoGithubLink"></div>
                </div>
                <mat-divider></mat-divider>
                <div fxLayout="row">
                    <div fxFlex="15"><i class="fa icon-wikipedia-w" fxFill></i></div>
                    <div fxFlex [innerHtml]="resources.infoOsmWikiLink"></div>
                </div>
                <br/>
                <div fxLayout="row" *ngIf="showDownloadDialog()">
                    <button mat-raised-button color="primary" fxFill (click)="openDownloadDialog()" angulartics2On="click" angularticsCategory="Download" angularticsAction="Download open"><i class="fa icon-download"></i> {{resources.infoDownloadMapForOfflineUse}}</button>
                </div>
                <p>
                    <i>
                        {{resources.infoFooterThanks}}<br />
                        {{resources.infoFooterAuthors}}<br />
                    </i>
                </p>
            </mat-card>
        </mat-tab>
        <mat-tab label="{{resources.legend}}" angulartics2On="click" angularticsCategory="Info" angularticsAction="Info legend select">
            <div *ngIf="legendSections.length === 0">
                <p>{{resources.legendEmpty}}</p>
            </div>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let section of legendSections" [id]="section.id">
                    <mat-expansion-panel-header [ngx-scroll-to]="section.id">
                        {{section.title}}
                    </mat-expansion-panel-header>
                    <legend-item *ngFor="let item of section.items" [item]="item"></legend-item>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-tab>
    </mat-tab-group>
</div>



