.bottom-border {
    border-bottom: solid black;
}

.help-button {
    width: 28px;
    height: 28px;
}

.legend-section {
    border-bottom: 1px solid black;
}

.legend-item {
    border: 1px solid black;
    margin-bottom: 10px;
    width: 201px;
}

.legend-item-text {
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

.legend-route {
    border-radius: 0 0 3px 3px;
}

    .legend-route .legend-item-map {
        width: 200px;
        height: 50px;
    }

.legend-poi {
    display: table;
}

    .legend-poi .legend-map-container {
        margin: 10px;
    }

    .legend-poi .legend-item-map {
        width: 50px;
        height: 50px;
    }

    .legend-poi .legend-item-text {
        vertical-align: middle;
        display: table-cell;
        text-align: start;
        width: 100%;
    }


.legend-section-header a {
    color: black;
}

    .legend-section-header a:hover {
        text-decoration: none;
    }
