.bottom-border {
    border-bottom: solid black;
}

.help-button {
    width: 28px;
    height: 28px;
}

.legend-section {
    border-bottom: 1px solid black;
}

.legend-section-header a {
    color: black;
}

    .legend-section-header a:hover {
        text-decoration: none;
    }
