.divider {
    border-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
}

.row-hover {
    padding: 0 10px;
    transition: background .2s ease;
}

    .row-hover:hover {
        text-decoration: none;
        color: black;
        background: #bbb;
    }
