<div [dir]="resources.direction">
    <div fxLayout="row" fxLayoutAlign="none none" class="row-hover">
        <div fxFlex="15">
            <mat-slide-toggle [ngModel]="isAdvanced | async" (ngModelChange)="toggleIsAdvanced()" color="primary" class="cursor-pointer"></mat-slide-toggle>
        </div>
        <div fxFlex="75">
            <span (click)="toggleIsAdvanced()" class="cursor-pointer" angulartics2On="click" angularticsCategory="Layers" angularticsAction="Toggle advanced button">{{resources.toggleAdvancedSettings}}</span>
        </div>
        <div fxFlex>
            <div fxLayout="column" fxFill>
                <span fxFill fxLayoutAlign="end start" class="cursor-pointer" (click)="closeSidebar()"><i class="fa icon-close"></i></span>
            </div>
        </div>
    </div>
    <mat-accordion multi="true">
        <mat-expansion-panel [expanded]="getExpandState('Base Layers')" (opened)="expand('Base Layers')" (closed)="collapse('Base Layers')">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <button mat-button (click)="addBaseLayer($event)" matTooltip="{{resources.addBaseLayer}}" matTooltipPosition="below" angulartics2On="click" angularticsCategory="Layers" angularticsAction="Add base layer"><i class="fa fa-lg icon-plus"></i></button>
                    <p>{{resources.baseLayers}}</p>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngFor="let baseLayer of (baseLayers | async)">
                <div class="cursor-pointer row-hover" fxLayout="row" fxLayoutAlign="none none" (click)="selectBaseLayer(baseLayer)">
                    <div fxFlex="10"></div>
                    <div fxFlex="15">
                        <span><i class="fa" [ngClass]="{'icon-eye': isBaseLayerSelected(baseLayer), 'icon-eye-slash': !isBaseLayerSelected(baseLayer)}"></i></span>
                    </div>
                    <div fxFlex>
                        <span>{{resources.translate(baseLayer.key)}}</span>
                    </div>
                    <div *ngIf="(isAdvanced | async) && baseLayer.isEditable" fxFlex="10">
                        <div fxLayout="column" fxFill>
                            <span fxFill fxLayoutAlign="end start" (click)="editBaseLayer(baseLayer)" matTooltip="{{resources.baseLayerProperties}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="Layers" angularticsAction="Edit base layer"><i class="fa icon-ellipsis-v"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="getExpandState('Overlays')" (opened)="expand('Overlays')" (closed)="collapse('Overlays')">
            <mat-expansion-panel-header>
                <button mat-button (click)="addOverlay($event)" matTooltip="{{resources.addOverlay}}" matTooltipPosition="below" angulartics2On="click" angularticsCategory="Layers" angularticsAction="Add overlay"><i class="fa fa-lg icon-plus"></i></button>
                <p>{{resources.overlays}}</p>
            </mat-expansion-panel-header>
            <div *ngFor="let overlay of (overlays | async)">
                <div fxLayout="row" class="cursor-pointer row-hover" (click)="toggleVisibility(overlay)" angulartics2On="click" angularticsCategory="Layers" angularticsAction="Toggle overlay visiblity {{overlay.key}}">
                    <div fxFlex="10"></div>
                    <div fxFlex="15">
                        <span><i class="fa" [ngClass]="{'icon-eye': overlay.visible, 'icon-eye-slash': !overlay.visible}"></i></span>
                    </div>
                    <div fxFlex>
                        <span>{{resources.translate(overlay.key)}}</span>
                    </div>
                    <div *ngIf="(isAdvanced | async) && overlay.isEditable" fxFlex="10">
                        <div fxLayout="column" fxFill>
                            <span fxFill fxLayoutAlign="end start" (click)="editOverlay(overlay)" matTooltip="{{resources.overlayProperties}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="Layers" angularticsAction="Edit overlay"><i class="fa icon-ellipsis-v"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
        <ng-container *ngFor="let categoriesType of categoriesTypes">
            <mat-expansion-panel [expanded]="getExpandState(categoriesType)" (opened)="expand(categoriesType)" (closed)="collapse(categoriesType)">
                <mat-expansion-panel-header>
                    <button mat-button (click)="toggleCategoriesLayerVisibility(categoriesType, $event)" angulartics2On="click" angularticsCategory="Layers" angularticsAction="Toggle visiblity of category layer {{categoriesType}}">
                        <i class="fa fa-lg" [ngClass]="{'icon-eye': isCategoriesLayerVisible(categoriesType), 'icon-eye-slash': !isCategoriesLayerVisible(categoriesType)}"></i>
                    </button>
                    <p>{{resources.translate(categoriesType)}}</p>
                </mat-expansion-panel-header>
                <div *ngFor="let category of getCategories(categoriesType)">
                    <div fxLayout="row" class="cursor-pointer row-hover" (click)="toggleCategory(categoriesType, category)" angulartics2On="click" angularticsCategory="Layers" angularticsAction="Toggle category visibility {{category.name}}">
                        <div fxFlex="10"></div>
                        <div fxFlex="15">
                            <i class="fa" [ngClass]="{'icon-eye': category.isSelected, 'icon-eye-slash': !category.isSelected}"></i>
                        </div>
                        <div fxFlex="15">
                            <i class="fa" [ngClass]="category.icon" [style.color]="category.color"></i>
                        </div>
                        <div fxFlex>
                            <span>{{resources.translate(category.name)}}</span>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>
        </ng-container>

        <mat-expansion-panel [expanded]="getExpandState('Private Routes')" (opened)="expand('Private Routes')" (closed)="collapse('Private Routes')">
            <mat-expansion-panel-header>
                <button mat-button (click)="addRoute($event)" matTooltip="{{resources.addRoute}}" matTooltipPosition="below" angulartics2On="click" angularticsCategory="Layers" angularticsAction="Add route"><i class="fa fa-lg icon-plus"></i></button>
                <p>{{resources.privateRoutes}}</p>
            </mat-expansion-panel-header>
            <div>
                <!--HM TODO: sortable: dnd-sortable-container [sortableData]="routes"-->
                <div *ngFor="let route of (routes | async); let i = index">
                    <!-- dnd-sortable [sortableIndex]="i"-->
                    <div fxLayout="row" class="cursor-pointer row-hover" (click)="toggleRoute(route)">
                        <div fxFlex="10"></div>
                        <div fxFlex="15">
                            <span [ngStyle]="{'color': route.color}">
                                <i class="fa" [ngClass]="{'icon-pencil': isRouteSelected(route), 'icon-eye': isRouteVisible(route) && !isRouteSelected(route), 'icon-eye-slash': !isRouteVisible(route) }"></i>
                            </span>
                        </div>
                        <div fxFlex matTooltip="{{route.description}}" matTooltipPosition="below" class="cursor-move">
                            <span [ngStyle]="{'color': route.color}">{{route.name}}</span>
                        </div>
                        <div fxFlex="10">
                            <div fxLayout="column" fxFill>
                                <span fxFill fxLayoutAlign="end start" (click)="editRoute(route, $event)" matTooltip="{{resources.routeProperties}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="Route" angularticsAction="Edit route"><i class="fa icon-ellipsis-v"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>