@import "~common.scss";
$background: map-get($app-theme, background);

.row-hover {
    padding: 0 10px;
    transition: background .2s ease;
}

.row-hover:hover {
    text-decoration: none;
    color: black;
    background: mat-color($app-background, hover, 0.12);
}