<div [dir]="resources.direction">
    <h4 *ngIf="isEditMode" [ngClass]="resources.getTextAlignment(info.title)" [dir]="resources.getDirection(info.title)">{{info.title}}</h4>
    <div fxLayout="row" fxLayoutGap="10px" *ngIf="isEditMode">
        <div fxFlex="60" class="margin-10-reverse">
            <div fxLayout="row">
                <mat-form-field fxFill>
                    <input matInput #titleInput type="text" [dir]="resources.getDirection(info.title)" [(ngModel)]="info.title" placeholder="{{resources.nameInLanguage}}" fxFill />
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFill>
                    <textarea rows="4" maxlength="255" matInput [dir]="resources.getDirection(info.description)" [(ngModel)]="info.description" placeholder="{{resources.descriptionInLanguage}}" fxFill></textarea>
                </mat-form-field>
            </div>
        </div>
        <div fxFlex>
            <div fxLayout="row">
                <div class="img-container-small" *ngIf="info.imagesUrls.length > 0">
                    <img [src]="getCurrentImage()" class="img-responsive img-center" />
                </div>
                <label *ngIf="info.imagesUrls.length === 0" fxFill>
                    <a mat-button fxFill angulartics2On="click" angularticsCategory="OSM" angularticsAction="Upload image first image"><i class="fa icon-camera fa-5x"></i> <i class="fa icon-plus fa-3x"></i></a>
                    <input type="file" (change)="imageChanged($event)" [style.display]="'none'" accept="image/*" multiple />
                </label>
            </div>
            <div fxLayout="row" *ngIf="info.imagesUrls.length > 0">
                <div fxFlex="25">
                    <button mat-button (click)="previousImage()" [disabled]="!hasPrevious()" fxFill><i class="fa icon-chevron-{{resources.start}}"></i></button>
                </div>
                <div fxFlex>
                    <label fxFill>
                        <a mat-button fxFill angulartics2On="click" angularticsCategory="OSM" angularticsAction="Upload non first image"><i class="fa icon-plus"></i></a>
                        <input type="file" (change)="imageChanged($event)" [style.display]="'none'" accept="image/*" />
                    </label>
                </div>
                <div fxFlex="25">
                    <button mat-button (click)="nextImage()" [disabled]="!hasNext()" fxFill><i class="fa icon-chevron-{{resources.end}}"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!isEditMode">
        <a *ngIf="info.url" [href]="info.url" [target]="'_blank'">
            <h4 [ngClass]="resources.getTextAlignment(info.title)" [dir]="resources.getDirection(info.title)">{{info.title}}</h4>
        </a>
        <h4 *ngIf="!info.url" [ngClass]="resources.getTextAlignment(info.title)" [dir]="resources.getDirection(info.title)">{{info.title}}</h4>
        <div *ngIf="info.imagesUrls.length > 0">
            <div fxLayout="row">
                <div class="img-container-small" *ngIf="info.imagesUrls.length > 0">
                    <img [src]="getCurrentImage()"
                         class="img-responsive cursor-zoom-in img-center"
                         (click)="showImage()" />
                </div>
            </div>
            <div fxLayout="row" *ngIf="info.imagesUrls.length > 1">
                <div fxFlex>
                    <button mat-button (click)="previousImage()" [disabled]="!hasPrevious()" fxFill><i class="fa icon-chevron-{{resources.start}}"></i></button>
                </div>
                <div fxFlex>
                    <button mat-button (click)="nextImage()" [disabled]="!hasNext()" fxFill><i class="fa icon-chevron-{{resources.end}}"></i></button>
                </div>
            </div>
        </div>
        <div fxLayout="row">
            <p fxFill [ngClass]="resources.getTextAlignment(getDescrition())" [dir]="resources.getDirection(getDescrition())">
                {{getDescrition()}}
            </p>
        </div>
    </div>
</div>