/* added direction to fix issue with scroll bar and legend maps */
#sidebar-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    line-height: 24px;
    overflow-x: hidden;
    color: black;
    direction: ltr;
    padding-left: 55px;
    padding-right: 20px;
    background: #dddddd !important;
    z-index: 1010;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    transform: translateX(-100%);
    max-width: 400px;
}

    #sidebar-wrapper:not(.toggled) {
        width: 295px;
    }

    #sidebar-wrapper.toggled {
        transform: translateX(0);
    }

    #sidebar-wrapper.toggled {
        transform: translateX(0);
    }

    #sidebar-wrapper /deep/ .drag-handle-right span {
        border-color: #6d6d6d;
        border-width: 0 1px;
        width: 4px;
<<<<<<< HEAD
    }
=======
    }
>>>>>>> 1. Change the transition of the sidebar.
