<aol-overlay *ngIf="marker.title || imageLink">
    <aol-coordinate [x]="marker.latlng.lng"
                    [y]="marker.latlng.lat"
                    [srid]="'EPSG:4326'">
    </aol-coordinate>
    <aol-content>
        <div class="marker-popup cursor-pointer" [dir]="resources.direction" (click)="overlayClick()">
            <div class="title-no-margin" [dir]="resources.getDirection(marker.title)">
                <img *ngIf="imageLink" [src]="resources.getResizedImageUrl(imageLink.url, 200)" class="img-placeholder" alt="{{marker.title}}"/>
                <div [ngClass]="resources.getTextAlignment(marker.title)">{{marker.title}}<span *ngIf="marker.description">...</span></div>
            </div>
        </div>
    </aol-content>
</aol-overlay>