[matDialogTitle] {
    display: flex !important;
    justify-content: space-between;
    align-items: top;
}

    [matDialogTitle] [matDialogClose] {
        min-width: 0;
        min-height: 0;
        line-height: initial;
        padding: 5px;
    }

        [matDialogTitle] [matDialogClose] i {
            display: block;
        }

.close-wrapper {
    float: left;
}

.dialog-small {
    max-width: 480px;
}

.dialog-xs {
    max-width: 360px;
}

@media (max-width:767px) {
    .mat-dialog-container {
        margin: 0 auto;
        max-height: 90vh;
    }

        .mat-dialog-container .mat-button {
            white-space: normal;
        }
}