[md-dialog-title] {
    display: flex !important;
    justify-content: space-between;
    align-items: top;
}

    [md-dialog-title] [md-dialog-close] {
        min-width: 0;
        min-height: 0;
        line-height: initial;
        padding: 5px;
    }

        [md-dialog-title] [md-dialog-close] i {
            display: block;
        }

@media (max-width:767px) {
    md-dialog-container {
        margin: 0 auto;
    }

        md-dialog-container .mat-button {
            white-space: normal;
        }
}