.banner-container {
    position: absolute;
    top: 5px;
    left: 50%;
    z-index: 1500;
    transform: translate(-50%, 0)
}

@media only screen and (max-width : 578px) {
    .banner-container {
        top: 2px;
        left: 2px;
        right: 2px;
        transform: none;
        & .mat-card {
            padding-top: 5px !important;
        }
        & .mat-card-content {
            margin-bottom: 0;
        }
    }
}
