<div [dir]="resources.direction">
    <div mat-dialog-content>
        <div fxLayout="row">
            <mat-progress-bar color="primary" [mode]="progressPersentage > 0 ? 'buffer' : 'determinate'" [value]="progressPersentage"></mat-progress-bar>
        </div>
        <div fxLayout="row">
            <span class="text-small">{{progressPersentage | number: '1.1-1' }}% {{errorText}}</span>
        </div>
    </div>
    <div mat-dialog-actions *ngIf="errorText">
        <div fxLayout="row" fxFlex>
            <div fxFlex>
                <button mat-raised-button fxFill color="warn" mat-dialog-close angulartics2On="click" angularticsCategory="Download" angularticsAction="Close download offline dialog">{{resources.close}}</button>
            </div>
        </div>
    </div>
</div>
