.img-container {
    position: relative;
    width: 540px;
    height: 400px;
}

image-dialog .mat-tab-label {
    min-width: 32px !important;
    padding: 0 6px !important;
}

@media only screen and (max-height: 640px) {
    .img-container {
        width: 400px;
        height: 300px;
    }
}
