<div [dir]="resources.direction">
    <div matDialogTitle>
        <div>{{title}}</div>
        <div>
            <button mat-button type="button" matDialogClose><i class="fa icon-close"></i></button>
        </div>
    </div>
    <div mat-dialog-content>
        <div fxLayout="row" [hidden]="imagesUrls.length > 1">
            <div class="img-container" >
                <img class="img-responsive img-center" [src]="resources.getResizedWikipediaImage(imagesUrls[0], 800)"/>
            </div>
        </div>
        <mat-tab-group [hidden]="imagesUrls.length <= 1" [(selectedIndex)]="selectedTabIndex">
            <mat-tab *ngFor="let imageUrl of imagesUrls">
                <ng-template mat-tab-label>
                    <img [src]="resources.getResizedWikipediaImage(imageUrl, 64)" height="32"/>
                </ng-template>
                <div fxLayout="row" #imageContainer>
                    <div class="img-container">
                        <img class="img-responsive img-center" [src]="resources.getResizedWikipediaImage(imageUrl, 800)"/>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>