<div [dir]="resources.direction">
    <div md-dialog-title>
        <div>
            {{resources.language}}
        </div>
        <div>
            <button md-button type="button" md-dialog-close><i class="fa icon-close"></i></button>
        </div>
    </div>
    <div md-dialog-content>
        <md-radio-group [(ngModel)]="selectedLanguageCode">
            <div *ngFor="let language of resources.availableLanguages">
                <md-radio-button [value]="language.code" angulartics2On="click" angularticsCategory="Language" angularticsEvent="Select language {{language.code}}">{{language.label}}</md-radio-button>
            </div>
        </md-radio-group>
        <br />
    </div>
    <div md-dialog-actions>
        <button md-dialog-close md-button (click)="saveLanguage()" angulartics2On="click" angularticsCategory="Language" angularticsEvent="Save language {{selectedLanguageCode}}" mdTooltip="{{resources.save}}" mdTooltipPosition="above"><i class="fa icon-check"></i></button>
    </div>
</div>
