<div [dir]="resources.direction">
    <div matDialogTitle>
        <div><!-- empty div needed to align button left --></div>
        <div class="close-wrapper">
            <button type="button" mat-button matDialogClose fxFill><i class="fa icon-close"></i></button>
        </div>
    </div>
    <div>
        <div class="osm-user-details">
            <div class="image-n-name">
                <div class="image">
                    <img class="img-responsive" [src]="userService.imageUrl" alt="" />
                </div>
                <div class="username margin-10">
                    <h3>{{userService.displayName}}</h3>
                    {{getRank().name}}
                </div>
            </div>
            <div class="changes-n-search">
                <div class="osm-changes">
                    <mat-progress-bar [color]="getProgessbarType()" [mode]="'determinate'" [value]="getRankPercentage()"></mat-progress-bar>
                    <div>{{userService.changeSets}} {{resources.changes}} ({{getRankPercentage() | number : '1.0-0'}}%)</div>
                </div>
                <div>
                    <mat-form-field hintLabel="{{resources.searchPlaceHolder}}">
                        <input matInput type="text" [formControl]="searchTerm" placeholder="{{resources.search}}" />
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="input-wrapper-spacer"></div>
        <div class="upload-wrapper">
            <label>
                <a fxFill mat-raised-button color="primary" angulartics2On="click" angularticsCategory="OSM" angularticsEvent="Upload OSM trace"><i class="fa icon-folder-open fa-lg"></i> {{resources.uploadFileToOsm}}</a>
                <input type="file" (change)="uploadToOsm($event)" [style.display]="'none'" />
            </label>
        </div>
    </div>
    <div mat-dialog-content #dialogContentForScroll id="dialogContentForScroll">
        <mat-tab-group [(selectedIndex)]="state.selectedTabIndex" [dynamicHeight]="'true'" (selectChange)="setSelectedTab()">
            <mat-tab label="{{resources.myTraces}}">
                <br />
                <div *ngFor="let trace of filteredTraces | paginate: { itemsPerPage: 5, currentPage: state.tracesPage, id: 'tracesPaging' }" class="trace">
                    <div [fxLayout]="resources.direction" fxLayout.xs="column" fxLayout.md="row">
                        <div fxFlex="20" class="trace-image">
                            <img [src]="trace.imageUrl" alt="" fxFill />
                        </div>
                        <div fxFlex="80" class="margin-10">
                            <div class="trace-tools">
                                <div [hidden]="trace.isInEditMode">
                                    <a href="{{trace.url}}" target="_blank" class="chrome-wordwrap-fix">{{trace.name}}</a><br />
                                    {{trace.description}}<br />
                                    {{trace.date | date:'dd/MM/yyyy'}}<br />
                                    {{resources.translate(trace.visibility === 'private' ? 'Private' : 'Public')}}<br />
                                    {{trace.tagsString || resources.noTags}}
                                </div>
                                <div [hidden]="!trace.isInEditMode">
                                    <mat-form-field>
                                        <input matInput type="text" [(ngModel)]="trace.description" placeholder="{{resources.description}}"/>
                                    </mat-form-field>
                                    <br/>
                                    <mat-form-field>
                                        <input matInput type="text" [(ngModel)]="trace.tagsString" placeholder="{{resources.tags}}"/>
                                    </mat-form-field>
                                    <br />
                                    <mat-select placeholder="{{resources.visibility}}" [(ngModel)]="trace.visibility">
                                        <mat-option value="private">{{resources.private}}</mat-option>
                                        <mat-option value="public">{{resources.public}}</mat-option>
                                    </mat-select>
                                </div>
                                <div class="trace-buttons">
                                    <button mat-button (click)="findUnmappedRoutes(trace)" matTooltip="{{resources.findUnmappedRoutes}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="OSM" angularticsEvent="Find unmapped trace parts"><i class="fa icon-plus"></i></button>
                                    <button mat-button [hidden]="trace.isInEditMode" (click)="editTrace(trace)" matTooltip="{{resources.edit}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="OSM" angularticsEvent="Edit OSM trace"><i class="fa icon-pencil"></i></button>
                                    <button mat-button [hidden]="!trace.isInEditMode" (click)="updateTrace(trace)" matTooltip="{{resources.save}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="OSM" angularticsEvent="Edit OSM trace"><i class="fa icon-check"></i></button>
                                    <button mat-button (click)="deleteTrace(trace)" matTooltip="{{resources.delete}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="OSM" angularticsEvent="Edit OSM trace"><i class="fa icon-trash"></i></button>
                                    <button mat-button matDialogClose (click)="showTrace(trace)" matTooltip="{{resources.view}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="OSM" angularticsEvent="View OSM trace"><i class="fa icon-eye"></i></button>
                                    <button mat-button (click)="editInOsm(trace)" matTooltip="{{resources.editThisMapUsingOsm}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="OSM" angularticsEvent="Edit OSM trace in OSM"><i class="fa icon-map-editing fa-lg"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cssload-loader" [hidden]="!loadingTraces">
                    <div class="cssload-inner cssload-one"></div>
                    <div class="cssload-inner cssload-two"></div>
                    <div class="cssload-inner cssload-three"></div>
                </div>
                <p [hidden]="userService.traces.length != 0 || loadingTraces">{{resources.noTraces}}</p>
            </mat-tab>
            <mat-tab label="{{resources.myShares}}">
                <div *ngFor="let siteUrl of filteredSiteUrls | paginate: { itemsPerPage: 5, currentPage: state.sharesPage, id: 'sharesPaging' }">
                    <div [fxLayout]="resources.direction" fxLayout.xs="column" fxLayout.md="row" fxLayoutAlign="space-around none" fxLayoutGap="15px">
                        <div fxFlex="100" fxFlex.gt-md="33">
                            <img [src]="userService.getImageFromSiteUrlId(siteUrl)" fxFill />
                        </div>
                        <div fxFlex="100" fxFlex.gt-md="67" class="margin-10">
                            <div fxLayout="row" fxLayoutAlign="space-around none" fxLayoutGap="15px">
                                <div fxFlex="75">
                                    <div [hidden]="editMode">
                                        <h4>{{siteUrl.title}} - {{siteUrl.description}}</h4>
                                    </div>
                                    <div [hidden]="!editMode">
                                        <mat-form-field>
                                            <input matInput type="text" [(ngModel)]="siteUrl.title" placeholder="{{resources.titlePlaceHolder}}" />
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input matInput type="text" [(ngModel)]="siteUrl.description" placeholder="{{resources.descriptionPlaceHolder}}" />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex>
                                    <div fxLayout="column" fxLayoutAlign="space-between stretch">
                                        <button [hidden]="editMode" mat-button (click)="editMode = true" matTooltip="{{resources.editRouteDetails}}" matTooltipPosition="{{resources.start}}"><i class="fa icon-pencil"></i></button>
                                        <button [hidden]="!editMode" mat-button (click)="editMode = false; userService.updateSiteUrl(siteUrl)" matTooltip="{{resources.update}}" matTooltipPosition="{{resources.start}}"><i class="fa icon-check"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div fxLayout="row" fxLayoutAlign="space-around none" fxLayoutGap="15px">
                                <div fxFlex="75">
                                    <a href="{{userService.getUrlFromSiteUrlId(siteUrl)}}" target="_blank">{{userService.getUrlFromSiteUrlId(siteUrl)}}</a><br />
                                    {{resources.views}}: {{siteUrl.viewsCount}}<br />
                                    {{resources.lastViewed}}: {{siteUrl.lastViewed | date:'dd/MM/yyyy'}}
                                </div>
                                <div fxFlex>
                                    <div fxLayout="column" fxLayoutAlign="space-between stretch">
                                        <button mat-button ngxClipboard [cbContent]="userService.getUrlFromSiteUrlId(siteUrl)" matTooltip="{{resources.copyUrl}}" matTooltipPosition="{{resources.start}}"><i class="fa icon-clipboard"></i></button>
                                        <button mat-button (click)="editMode = false; deleteSiteUrl(siteUrl)" matTooltip="{{resources.delete}}" matTooltipPosition="{{resources.start}}"><i class="fa icon-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="cssload-loader" [hidden]="!loadingSiteUrls">
                    <div class="cssload-inner cssload-one"></div>
                    <div class="cssload-inner cssload-two"></div>
                    <div class="cssload-inner cssload-three"></div>
                </div>
                <p [hidden]="userService.siteUrls.length != 0 || loadingSiteUrls">{{resources.noShares}}</p>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div mat-dialog-actions>
        <div [hidden]="state.selectedTabIndex != 0">
            <pagination-controls (pageChange)="state.tracesPage = $event" previousLabel="" nextLabel="" id="tracesPaging"></pagination-controls>
        </div>
        <div [hidden]="state.selectedTabIndex != 1">
            <pagination-controls (pageChange)="state.sharesPage = $event" previousLabel="" nextLabel="" id="sharesPaging"></pagination-controls>
        </div>
    </div>
</div>
