<div [dir]="resources.direction">
    <div matDialogTitle>
        <div><!-- empty div needed to align button left --></div>
        <div class="close-wrapper">
            <button type="button" mat-button matDialogClose fxFill><i class="fa icon-close"></i></button>
        </div>
    </div>
    <div>
        <div class="osm-user-details">
            <div class="image-n-name">
                <div class="profile-image">
                    <img class="img-responsive" [src]="userService.imageUrl" alt="" />
                </div>
                <div class="username margin-10">
                    <h3>{{userService.displayName}}</h3>
                    {{getRank().name}}
                </div>
            </div>
            <div class="changes-n-search">
                <div class="osm-changes">
                    <mat-progress-bar [color]="getProgessbarType()" [mode]="'determinate'" [value]="getRankPercentage()"></mat-progress-bar>
                    <div>{{userService.changeSets}} {{resources.changes}} ({{getRankPercentage() | number : '1.0-0'}}%)</div>
                </div>
                <div>
                    <mat-form-field hintLabel="{{resources.searchPlaceHolder}}">
                        <input matInput type="text" [formControl]="searchTerm" placeholder="{{resources.search}}" />
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="input-wrapper-spacer"></div>
        <label>
            <a fxFill mat-raised-button color="primary" angulartics2On="click" angularticsCategory="OSM" angularticsAction="Upload OSM trace"><i class="fa icon-folder-open fa-lg"></i> {{resources.uploadFileToOsm}}</a>
            <input type="file" (change)="uploadToOsm($event)" [style.display]="'none'" />
        </label>
    </div>
    <div mat-dialog-content #dialogContentForScroll id="dialogContentForScroll">
        <mat-tab-group [(selectedIndex)]="state.selectedTabIndex" [dynamicHeight]="'true'" (selectChange)="setSelectedTab()">
            <mat-tab label="{{resources.myTraces}}">
                <br />
                <div *ngFor="let trace of filteredTraces | paginate: { itemsPerPage: 5, currentPage: state.tracesPage, id: 'tracesPaging' }" class="item">
                    <div [fxLayout]="resources.direction" fxLayout.xs="column" fxLayout.md="row">
                        <div fxFlex="20" class="item-image">
                            <img [src]="trace.imageUrl" alt="" fxFill />
                        </div>
                        <div fxFlex="80" class="margin-10">
                            <div class="item-content">
                                <div *ngIf="!trace.isInEditMode">
                                    <a href="{{trace.url}}" target="_blank" class="chrome-wordwrap-fix">{{trace.name}}</a><br />
                                    {{trace.description}}<br />
                                    {{trace.date | date:'dd/MM/yyyy'}}<br />
                                    {{resources.translate(trace.visibility === 'private' ? 'Private' : 'Public')}}<br />
                                    {{trace.tagsString || resources.noTags}}
                                </div>
                                <div *ngIf="trace.isInEditMode">
                                    <mat-form-field>
                                        <input matInput type="text" [(ngModel)]="trace.description" placeholder="{{resources.description}}" />
                                    </mat-form-field>
                                    <br />
                                    <mat-form-field>
                                        <input matInput type="text" [(ngModel)]="trace.tagsString" placeholder="{{resources.tags}}" />
                                    </mat-form-field>
                                    <br />
                                    <mat-form-field>
                                        <mat-select placeholder="{{resources.visibility}}" [(ngModel)]="trace.visibility">
                                            <mat-option value="private">{{resources.private}}</mat-option>
                                            <mat-option value="public">{{resources.public}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="action-buttons">
                                    <button mat-button (click)="findUnmappedRoutes(trace)" matTooltip="{{resources.findUnmappedRoutes}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="OSM" angularticsAction="Find unmapped trace parts"><i class="fa icon-search"></i></button>
                                    <button mat-button *ngIf="!trace.isInEditMode" (click)="editTrace(trace)" matTooltip="{{resources.edit}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="OSM" angularticsAction="Edit OSM trace"><i class="fa icon-pencil"></i></button>
                                    <button mat-button *ngIf="trace.isInEditMode" (click)="updateTrace(trace)" matTooltip="{{resources.save}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="OSM" angularticsAction="Edit OSM trace"><i class="fa icon-check"></i></button>
                                    <button mat-button (click)="deleteTrace(trace)" matTooltip="{{resources.delete}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="OSM" angularticsAction="Edit OSM trace"><i class="fa icon-trash"></i></button>
                                    <button mat-button matDialogClose (click)="showTrace(trace)" matTooltip="{{resources.view}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="OSM" angularticsAction="View OSM trace"><i class="fa icon-eye"></i></button>
                                    <button mat-button (click)="editInOsm(trace)" matTooltip="{{resources.editThisMapUsingOsm}}" matTooltipPosition="before" angulartics2On="click" angularticsCategory="OSM" angularticsAction="Edit OSM trace in OSM"><i class="fa icon-map-editing fa-lg"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-spinner *ngIf="loadingTraces"></mat-spinner>
                <p *ngIf="userService.traces.length === 0 && !loadingTraces">{{resources.noTraces}}</p>
            </mat-tab>
            <mat-tab label="{{resources.myShares}}">
                <br />
                <div *ngFor="let shareUrl of filteredShareUrls | paginate: { itemsPerPage: 5, currentPage: state.sharesPage, id: 'sharesPaging' }" class="item">
                    <div [fxLayout]="resources.direction" fxLayout.xs="column" fxLayout.md="row">
                        <div fxFlex="34" class="item-image">
                            <img [src]="userService.getImageFromShareId(shareUrl)" fxFill />
                        </div>
                        <div fxFlex="66" class="margin-10">
                            <div class="item-content">
                                <div *ngIf="!isShareUrlInEditMode(shareUrl)">
                                    <h4>{{userService.getShareUrlDisplayName(shareUrl)}}</h4>
                                    <a href="{{userService.getUrlFromShareId(shareUrl)}}" target="_blank">{{userService.getUrlFromShareId(shareUrl)}}</a><br />
                                    {{resources.views}}: {{shareUrl.viewsCount}}<br />
                                    {{resources.lastViewed}}: {{shareUrl.lastViewed | date:'dd/MM/yyyy'}}
                                </div>
                                <div *ngIf="isShareUrlInEditMode(shareUrl)">
                                    <mat-form-field>
                                        <input matInput type="text" [(ngModel)]="shareUrl.title" placeholder="{{resources.titlePlaceHolder}}" />
                                    </mat-form-field>
                                    <br />
                                    <mat-form-field>
                                        <input matInput type="text" [(ngModel)]="shareUrl.description" placeholder="{{resources.descriptionPlaceHolder}}" />
                                    </mat-form-field>
                                </div>
                                <div class="action-buttons">
                                    <button mat-button *ngIf="!isShareUrlInEditMode(shareUrl)" (click)="shareUrlInEditMode = shareUrl" matTooltip="{{resources.editRouteDetails}}" matTooltipPosition="{{resources.start}}"><i class="fa icon-pencil"></i></button>
                                    <button mat-button *ngIf="isShareUrlInEditMode(shareUrl)" (click)="updateShareUrl(shareUrl)" matTooltip="{{resources.update}}" matTooltipPosition="{{resources.start}}"><i class="fa icon-check"></i></button>
                                    <button mat-button ngxClipboard [cbContent]="userService.getUrlFromShareId(shareUrl)" matTooltip="{{resources.copyUrl}}" matTooltipPosition="{{resources.start}}"><i class="fa icon-clipboard"></i></button>
                                    <button mat-button matDialogClose (click)="convertShareUrlToRoute(shareUrl)" matTooltip="{{resources.convertToRoute}}" matTooltipPosition="{{resources.start}}"><i class="fa icon-plus"></i></button>
                                    <button mat-button (click)="deleteShareUrl(shareUrl)" matTooltip="{{resources.delete}}" matTooltipPosition="{{resources.start}}"><i class="fa icon-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-spinner *ngIf="loadingShareUrls"></mat-spinner>
                <p *ngIf="userService.shareUrls.length === 0 && !loadingShareUrls">{{resources.noShares}}</p>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div mat-dialog-actions>
        <div *ngIf="state.selectedTabIndex === 0">
            <pagination-template #paginationTraces="paginationApi"
                                 id="tracesPaging"
                                 (pageChange)="state.tracesPage = $event">
                <div fxLayout="row">
                    <div fxFlex>
                        <button mat-button fxFill [disabled]="paginationTraces.isFirstPage()" (click)="paginationTraces.previous()"><i class="fa icon-chevron-{{resources.start}}"></i></button>
                    </div>
                    <div fxFlex *ngFor="let page of paginationTraces.pages">
                        <button fxFill mat-button [class.active]="paginationTraces.getCurrent() === page.value" (click)="paginationTraces.setCurrent(page.value)">{{ page.label }}</button>    
                    </div>
                    <div fxFlex>
                        <button mat-button fxFill [disabled]="paginationTraces.isLastPage()" (click)="paginationTraces.next()"><i class="fa icon-chevron-{{resources.end}}"></i></button>    
                    </div>
                </div>
            </pagination-template>
        </div>
        <div *ngIf="state.selectedTabIndex === 1">
            <pagination-template #paginationShares="paginationApi"
                                 id="sharesPaging"
                                 (pageChange)="state.sharesPage = $event">
                <div fxLayout="row">
                    <div fxFlex>
                        <button mat-button fxFill [disabled]="paginationShares.isFirstPage()" (click)="paginationShares.previous()"><i class="fa icon-chevron-{{resources.start}}"></i></button>
                    </div>
                    <div fxFlex *ngFor="let page of paginationShares.pages">
                        <button fxFill mat-button [class.active]="paginationShares.getCurrent() === page.value" (click)="paginationShares.setCurrent(page.value)">{{ page.label }}</button>
                    </div>
                    <div fxFlex>
                        <button mat-button fxFill [disabled]="paginationShares.isLastPage()" (click)="paginationShares.next()"><i class="fa icon-chevron-{{resources.end}}"></i></button>
                    </div>
                </div>
            </pagination-template>
        </div>
    </div>
</div>
