osm-user-dialog .mat-dialog-title {
    margin-bottom: 0;
}

osm-user-dialog .mat-dialog-content {
    max-height: 55vh;
}

.text-medium {
    font-size: medium;
}

.osm-changes {
    margin-top: 1rem;
}

.image-n-name {
    display: flex;
}

    .image-n-name .profile-image {
        max-width: 30%;
    }

.item {
    padding: 5px;
}

    .item:nth-child(odd) {
        background: #f1f1f1;
    }

.item-image {
    padding: 5px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
}

@media (min-width:601px) {
    .osm-user-details {
        display: flex;
    }

    .changes-n-search {
        flex: 1 0 auto;
    }

    .item-content {
        display: flex;
        justify-content: space-between;
    }

    .action-buttons {
        flex: 0;
    }
}

@media (max-width:600px) {
    osm-user-dialog .mat-dialog-content {
        max-height: 33vh;
    }

    .item-content .action-buttons {
        display: flex;
        justify-content: center;
    }

    .item-content .mat-button {
        min-width: 0;
    }
}