/deep/ osm-user-dialog .mat-dialog-title {
    margin-bottom: 0;
}

/deep/ osm-user-dialog .mat-dialog-content {
    max-height: 55vh;
}

.text-medium {
    font-size: medium;
}

.osm-changes {
    margin-top: 1rem;
}

.image-n-name {
    display: flex;
}

    .image-n-name .image {
        max-width: 30%;
    }

.trace {
    padding: 5px;
}

    .trace:nth-child(odd) {
        background: #f1f1f1;
    }

.trace-image {
    padding: 5px;
    border: 1px solid #b7b7b7;
    border-radius: 5px;
}

@media (min-width:601px) {
    .osm-user-details {
        display: flex;
    }

    .changes-n-search {
        flex: 1 0 auto;
    }

    .upload-wrapper {
        max-width: 50%;
        margin: 0 auto;
    }

    .trace-tools {
        display: flex;
        justify-content: space-between;
    }

    .trace-buttons {
        flex: 0;
    }
}

@media (max-width:600px) {
    /deep/ osm-user-dialog .mat-dialog-content {
        max-height: 35vh;
    }

    .trace-tools .trace-buttons {
        display: flex;
        justify-content: center;
    }

    .trace-tools .mat-button {
        min-width: 0;
    }
}
/* Css loader animation */
.cssload-loader {
    position: relative;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    perspective: 760px;
}

.cssload-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

    .cssload-inner.cssload-one {
        left: 0%;
        top: 0%;
        animation: cssload-rotate-one 2.35s linear infinite;
        -o-animation: cssload-rotate-one 2.35s linear infinite;
        -ms-animation: cssload-rotate-one 2.35s linear infinite;
        -webkit-animation: cssload-rotate-one 2.35s linear infinite;
        -moz-animation: cssload-rotate-one 2.35s linear infinite;
        border-bottom: 3px solid rgb(255,0,0);
    }

    .cssload-inner.cssload-two {
        right: 0%;
        top: 0%;
        animation: cssload-rotate-two 2.35s linear infinite;
        -o-animation: cssload-rotate-two 2.35s linear infinite;
        -ms-animation: cssload-rotate-two 2.35s linear infinite;
        -webkit-animation: cssload-rotate-two 2.35s linear infinite;
        -moz-animation: cssload-rotate-two 2.35s linear infinite;
        border-right: 3px solid rgb(0,255,0);
    }

    .cssload-inner.cssload-three {
        right: 0%;
        bottom: 0%;
        animation: cssload-rotate-three 2.35s linear infinite;
        -o-animation: cssload-rotate-three 2.35s linear infinite;
        -ms-animation: cssload-rotate-three 2.35s linear infinite;
        -webkit-animation: cssload-rotate-three 2.35s linear infinite;
        -moz-animation: cssload-rotate-three 2.35s linear infinite;
        border-top: 3px solid rgb(0,0,255);
    }


@keyframes cssload-rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-o-keyframes cssload-rotate-one {
    0% {
        -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        -o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-ms-keyframes cssload-rotate-one {
    0% {
        -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        -ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-one {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-moz-keyframes cssload-rotate-one {
    0% {
        -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        -moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes cssload-rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-o-keyframes cssload-rotate-two {
    0% {
        -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        -o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-ms-keyframes cssload-rotate-two {
    0% {
        -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        -ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-two {
    0% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-moz-keyframes cssload-rotate-two {
    0% {
        -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        -moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes cssload-rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-o-keyframes cssload-rotate-three {
    0% {
        -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        -o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-ms-keyframes cssload-rotate-three {
    0% {
        -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        -ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-webkit-keyframes cssload-rotate-three {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@-moz-keyframes cssload-rotate-three {
    0% {
        -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        -moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
