<div [dir]="resources.direction" dnd-droppable (onDropSuccess)="addImage($event.mouseEvent)">
    <div matDialogTitle>
        <div *ngIf="url == null">
            {{title}}
        </div>
        <a *ngIf="url != null" href="{{url.url}}" target="_blank">
            {{title}}
        </a>
        <div>
            <button mat-button type="button" matDialogClose tabindex="-1"><i class="fa icon-close"></i></button>
        </div>
    </div>
    <div mat-dialog-content>
        <div flexLayout="row">
            <div fxFlex="60" class="margin-10-reverse">
                <div fxLayout="row">
                    <mat-form-field fxFill>
                        <input matInput #titleInput type="text" [dir]="resources.getDirection(title)" [(ngModel)]="title" placeholder="{{resources.title}}" fxFill />
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field fxFill>
                        <textarea rows="4" maxlength="255" matInput [dir]="resources.getDirection(description)" [(ngModel)]="description" placeholder="{{resources.description}}" fxFill></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex>
                <div fxLayout="row">
                    <label *ngIf="!imageLink">
                        <a mat-button class="flex-center" [style.color]="'black'" imageCapture (changed)="addImage($event)" fxFill angulartics2On="click" angularticsCategory="POI" angularticsAction="Upload image"><i class="fa icon-camera fa-4x"></i> <i class="fa icon-plus fa-2x"></i></a>
                        <input type="file" (change)="addImage($event)" [style.display]="'none'" accept="image/*;capture=camera" />
                    </label>
                    <img fxFill *ngIf="imageLink"
                         [src]="resources.getResizedImageUrl(imageLink.url, 300)"
                         class="img-responsive" />
                </div>
                <div fxLayout="row" *ngIf="imageLink">
                    <button mat-button fxFill (click)="clearImage()" matTooltip="{{resources.clear}}" matTooltipPosition="above"><i class="fa icon-trash"></i></button>
                </div>
                <div *ngIf="showIcons">
                    <br />
                    <div *ngFor="let group of iconsGroups">
                        <div fxLayout="row" fxFill>
                            <div *ngFor="let icon of group.icons" (click)="setMarkerType(icon)" class="cursor-pointer text-center" fxFlex="{{100/iconsGroups.length}}" angulartics2On="click" angularticsCategory="Private POI" angularticsAction="Select icon {{icon}}">
                                <i class="fa icon-{{icon}} fa-lg" [ngClass]="{ 'active': icon === markerType }"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row" *ngIf="showUrl && url">
            <div fxFlex="90">
                <mat-form-field fxFill hintLabel="{{resources.aLinkToAWebsite}}">
                    <input matInput type="text" [dir]="'ltr'" [(ngModel)]="url.url" placeholder="{{resources.website}}" fxFill />
                </mat-form-field>
            </div>
            <div fxFlex="10">
                <button mat-button fxFill (click)="removeUrl()"><i class="fa icon-trash"></i></button>
            </div>
        </div>
        <div flexLayout="row" *ngIf="showCoordinates">
            <coordinates [latlng]="marker.latlng"></coordinates>
        </div>
    </div>
    <div mat-dialog-actions>
        <div fxFlex>
            <mat-menu #appMenu="matMenu" overlapTrigger="false" [xPosition]="'before'">
                <button mat-menu-item [dir]="resources.direction" [ngClass]="resources.getTextAlignment()" (click)="toggleCoordinates()" angulartics2On="click" angularticsCategory="Private POI" angularticsAction="Toggle coordinates"><i class="fa icon-globe"></i> {{resources.showCoordinates}}</button>
                <button mat-menu-item [dir]="resources.direction" [ngClass]="resources.getTextAlignment()" (click)="showIcons = !showIcons" angulartics2On="click" angularticsCategory="Private POI" angularticsAction="Toggle select icon"><i class="fa icon-{{markerType}}"></i> {{resources.selectIcon}}</button>
                <button mat-menu-item [dir]="resources.direction" [ngClass]="resources.getTextAlignment()" (click)="addUrl()" angulartics2On="click" angularticsCategory="Private POI" angularticsAction="Add link"><i class="fa icon-external-link"></i> {{resources.aLinkToAWebsite}}</button>
                <button mat-menu-item [dir]="resources.direction" [ngClass]="resources.getTextAlignment()" (click)="navigateHere()" angulartics2On="click" angularticsCategory="Private POI" angularticsAction="Navigate here"><i class="fa icon-recordings"></i> {{resources.navigateHere}}</button>
                <button mat-menu-item [dir]="resources.direction" [ngClass]="resources.getTextAlignment()" (click)="shareLocation()" angulartics2On="click" angularticsCategory="Private POI" angularticsAction="Share location" *ngIf="canShareLocation()"><i class="fa icon-share-alt"></i> {{resources.shareLocation}}</button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="appMenu" matTooltip="{{resources.more}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Private POI" angularticsAction="More"><i class="fa icon-ellipsis-v fa-lg"></i></button>
        </div>
        <div fxFlex>
            <button mat-button type="button" matDialogClose (click)="remove()" matTooltip="{{resources.deletePoi}}" matTooltipPosition="above" fxFill><i class="fa icon-trash"></i></button>
        </div>
        <div fxFlex>
            <button mat-button type="button" matDialogClose (click)="uploadPoint()" matTooltip="{{resources.uploadPoint}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Private POI" angularticsAction="Open upload point dialog" fxFill><i class="fa icon-cloud-upload"></i></button>
        </div>
        <div fxFlex>
            <button mat-button type="button" matDialogClose (click)="save()" matTooltip="{{resources.save}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Private POI" angularticsAction="Save" fxFill><i class="fa icon-check"></i></button>
        </div>
    </div>
</div>