<div [dir]="resources.direction">
    <div matDialogTitle>
        <div *ngIf="url == null">
            {{title}}
        </div>
        <a *ngIf="url != null" href="{{url.url}}" target="_blank">
            {{title}}
        </a>
        <div>
            <button mat-button type="button" matDialogClose tabindex="-1"><i class="fa icon-close"></i></button>
        </div>
    </div>
    <div mat-dialog-content>
        <div flexLayout="row">
            <img fxFill *ngIf="imageLink"
                 [src]="resources.getResizedImageUrl(imageLink.url, 300)"
                 class="img-responsive cursor-pointer"
                 (click)="showImage()"/>
        </div>
        <div flexLayout="row">
            <p [dir]="resources.getDirection(description)" class="{{resources.getTextAlignment(description)}}">{{description}}</p>
        </div>
        <div flexLayout="row" *ngIf="showCoordinates">
            <coordinates [latlng]="marker.latlng"></coordinates>
        </div>
    </div>
    <div mat-dialog-actions>
        <div fxFlex>
            <button mat-button type="button" matDialogClose (click)="uploadPoint()" matTooltip="{{resources.uploadPoint}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="OSM" angularticsAction="Open upload point dialog" fxFill><i class="fa icon-cloud-upload"></i></button>
        </div>
        <div fxFlex>
            <button mat-button type="button" (click)="toggleCoordinates()" matTooltip="{{resources.showCoordinates}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Private POI" angularticsAction="Toggle coordinates" fxFill><i class="fa icon-globe"></i></button>
        </div>
        <div fxFlex>
            <button mat-button type="button" matDialogClose (click)="edit()" matTooltip="{{resources.edit}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Private POI" angularticsAction="Edit" fxFill><i class="fa icon-pencil"></i></button>
        </div>
    </div>
</div>