<div [dir]="resources.direction" class="dialog-xs">
    <div matDialogTitle>
        <div>
            {{title}}
        </div>
        <div>
            <button mat-button type="button" matDialogClose tabindex="-1"><i class="fa icon-close"></i></button>
        </div>
    </div>
    <div mat-dialog-content>
        <div fxLayout="row" *ngIf="imageUrl">
            <img [src]="imageUrl" fxFill height="100" />
        </div>
        <div *ngIf="!shareAddress">
            <div fxLayout="row">
                <mat-form-field fxFill hintLabel="{{resources.titlePlaceHolder}}">
                    <input matInput fxFill type="text" [(ngModel)]="title" placeholder="{{resources.title}}" />
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFill hintLabel="{{resources.descriptionPlaceHolder}}">
                    <textarea matInput rows="2" type="text" [(ngModel)]="description" placeholder="{{resources.description}}" fxFill></textarea>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-checkbox color="primary" [(ngModel)]="shareOverlays">{{resources.shareMapOverlays}}</mat-checkbox>
            </div>
            <div fxLayout="row" *ngIf="canUpdate">
                <mat-checkbox color="primary" [(ngModel)]="updateCurrentShare">{{resources.updateCurrentShare}}</mat-checkbox>
            </div>
            <div class="input-wrapper-spacer"></div>
            <div fxLayout="row">
                <button mat-raised-button color="primary" (click)="uploadShareUrl()" [disabled]="isLoading" fxFill angulartics2On="click" angularticsCategory="Share" angularticsAction="Share {{updateCurrentShare ? 'update' : 'create'}}{{shareOverlays ? ' with overlays' : ''}}">{{updateCurrentShare ? resources.update : resources.generateUrlToShareWithYourFriends}}</button>
            </div>
        </div>
        <div *ngIf="shareAddress && !isApp()">
            <div fxLayout="row">
                <h4>{{getDisplayName()}}</h4>
            </div>
            <div fxLayout="row">
                <a [href]="shareAddress" class="text-left chrome-wordwrap-fix" [target]="'_blank'" fxFill angulartics2On="click" angularticsCategory="Share" angularticsAction="Share text address">{{shareAddress}}</a>
            </div>
            <div class="input-wrapper-spacer"></div>
            <div fxLayout="row" fxFill>
                <div fxFlex>
                    <a mat-button fxFill [href]="facebookShareAddress" [target]="'_blank'" matTooltip="{{resources.shareWithFacebook}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Share" angularticsAction="Share facebook"><i class="fa icon-facebook fa-lg"></i></a>
                </div>
                <div fxFlex>
                    <a mat-button fxFill [href]="whatsappShareAddress" [target]="'_blank'" matTooltip="{{resources.shareWithWhatsapp}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Share" angularticsAction="Share whatsapp"><i class="fa icon-whatsapp fa-lg"></i></a>
                </div>
                <div fxFlex>
                    <button mat-button fxFill ngxClipboard [cbContent]="shareAddress" matTooltip="{{resources.copyUrl}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Share" angularticsAction="Share copy to clipboard"><i class="fa icon-clipboard fa-lg"></i></button>
                </div>
                <div fxFlex>
                    <a mat-button fxFill [href]="nakebCreateHikeAddress" [target]="'_blank'" matTooltip="{{resources.createNakebHike}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Share" angularticsAction="Share nakeb"><i class="fa icon-nakeb fa-lg"></i></a>
                </div>
            </div>
        </div>
        <div *ngIf="shareAddress && isApp()">
            <div fxLayout="row">
                <h4>{{getDisplayName()}}</h4>
            </div>
            <div fxLayout="row">
                <button (click)="share()" fxFill angulartics2On="click" angularticsCategory="Share" angularticsAction="Share mobile button"><i class="fa fa-lg icon-share-alt"></i></button>
            </div>
        </div>
    </div>
</div>
