<div [dir]="resources.direction" class="dialog-xs">
    <div matDialogTitle>
        <div>
            {{title}}
        </div>
        <div>
            <button mat-button type="button" matDialogClose><i class="fa icon-close"></i></button>
        </div>
    </div>
    <div mat-dialog-content>
        <div [hidden]="shareAddress">
            <div fxLayout="row">
                <mat-form-field fxFill hintLabel="{{resources.titlePlaceHolder}}">
                    <input matInput fxFill type="text" [(ngModel)]="title" placeholder="{{resources.title}}" />
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFill hintLabel="{{resources.descriptionPlaceHolder}}">
                    <textarea matInput rows="2" type="text" [(ngModel)]="description" placeholder="{{resources.description}}" fxFill></textarea>
                </mat-form-field>
            </div>
            <div class="input-wrapper-spacer"></div>
            <div fxLayout="row">
                <button mat-raised-button color="primary" (click)="generateUrl()" [disabled]="isLoading" fxFill angulartics2On="click" angularticsCategory="Share" angularticsEvent="Share create">{{resources.generateUrlToShareWithYourFriends}}</button>
            </div>
        </div>
        <div [hidden]="!shareAddress">
            <div fxLayout="row">
                <img [src]="imageUrl" fxFill height="100"/>
            </div>
            <div fxLayout="row">
                <h4>{{title}} - {{description}}</h4>
            </div>
            <div fxLayout="row">
                <a [href]="shareAddress" class="text-left" [target]="'_blank'" fxFill angulartics2On="click" angularticsCategory="Share" angularticsEvent="Share test address">{{shareAddress}}</a>
            </div>
            <div class="input-wrapper-spacer"></div>
            <div fxLayout="row" fxFill>
                <div fxFlex>
                    <a mat-button fxFill [href]="facebookShareAddress" [target]="'_blank'" class="chrome-wordwrap-fix" matTooltip="{{resources.shareWithFacebook}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Share" angularticsEvent="Share facebook"><i class="fa icon-facebook fa-lg"></i></a>
                </div>
                <div fxFlex fxHide fxShow.sm fxShow.xs>
                    <a mat-button fxFill [href]="whatappShareAddress" angulartics2On="click" angularticsCategory="Share" angularticsEvent="Share whatapp"><i class="fa icon-whatsapp fa-lg"></i></a>
                </div>
                <div fxFlex>
                    <button mat-button fxFill ngxClipboard [cbContent]="shareAddress" matTooltip="{{resources.copyUrl}}" matTooltipPosition="above" fxFill angulartics2On="click" angularticsCategory="Share" angularticsEvent="Share copy to clipboard"><i class="fa icon-clipboard fa-lg"></i></button>
                </div>
                <div fxFlex>
                    <button mat-button fxFill (click)="showOffroadForm = true" [ngClass]="{active: showOffroadForm}" matTooltip="{{resources.shareWithOffroad}}" matTooltipPosition="above"><i class="fa icon-off-road fa-lg"></i></button>
                </div>
            </div>
            <div [hidden]="!showOffroadForm">
                <div fxLayout="row">
                    <mat-form-field fxFill hintLabel="{{resources.userEmailMutedOffroad}}">
                        <input matInput type="text" [(ngModel)]="offroadRequest.userMail" placeholder="{{resources.userEmail}}" />
                    </mat-form-field>
                </div>
                <div class="input-wrapper-spacer"></div>
                <div fxLayout="row">
                    <div fxFlex="66">
                        <div fxLayout="row">
                            <div fxFlex="25">
                                <label>{{resources.activity}}</label>
                            </div>
                            <div fxFlex>
                                <div fxLayout="row">
                                    <div fxFlex="20">
                                        <a mat-button (click)="offroadRequest.activityType = 'Walking'" [ngClass]="{active: offroadRequest.activityType == 'Walking'}" fxFill><i class="fa icon-hike fa-lg"></i></a>
                                    </div>
                                    <div fxFlex="20">
                                        <a mat-button (click)="offroadRequest.activityType = 'Cycling'" [ngClass]="{active: offroadRequest.activityType == 'Cycling'}" fxFill><i class="fa icon-bike fa-lg"></i></a>
                                    </div>
                                    <div fxFlex="20">
                                        <a mat-button (click)="offroadRequest.activityType = 'OffRoading'" [ngClass]="{active: offroadRequest.activityType == 'OffRoading'}" fxFill><i class="fa icon-four-by-four fa-lg"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex>
                        <mat-select placeholder="{{resources.difficulty}}" fxFill [(ngModel)]="offroadRequest.difficultyLevel">
                            <mat-option value="1">{{resources.easy}}</mat-option>
                            <mat-option value="3">{{resources.moderate}}</mat-option>
                            <mat-option value="5">{{resources.hard}}</mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="input-wrapper-spacer"></div>
                <div fxLayout="row">
                    <div fxFlex="50">
                        <mat-checkbox [(ngModel)]="offroadPublicTrack">{{resources.suggestAsPublicTrack}}</mat-checkbox>
                    </div>
                    <div fxFlex="50">
                        <a mat-button (click)="sendToOffroad()" fxFill color="primary" mat-raised-button><i class="fa icon-paper-plane fa-lg"></i> {{resources.send}}</a>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>
</div>