<div [dir]="resources.direction" class="dialog-small">
    <div matDialogTitle>
        <div>
            {{identifier ? resources.updatePoint : resources.addPoint}}
        </div>
        <div>
            <button mat-button type="button" matDialogClose><i class="fa icon-close"></i></button>
        </div>
    </div>
    <div mat-dialog-content>
        <div fxLayout="row" fxLayout.xs="column">
            <div fxFlex="50" fxFlex.xs="100">
                <div fxLayout="row">
                    <mat-form-field fxFill>
                        <input matInput type="text" [dir]="resources.getDirection(title)" [(ngModel)]="title" placeholder="{{resources.nameInLanguage}}" fxFill />
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field fxFill>
                        <textarea matInput rows="3" maxlength="255" type="text" [dir]="resources.getDirection(description)" [(ngModel)]="description" placeholder="{{resources.descriptionInLanguage}}" fxFill></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="50" fxFlex.xs="100">
                <div fxLayout="row">
                    <div class="img-container-small" *ngIf="imagesUrls.length > 0">
                        <img [src]="getCurrentImage()" class="img-responsive img-center" />
                    </div>
                    <label *ngIf="imagesUrls.length === 0" fxFill>
                        <a mat-button fxFill angulartics2On="click" angularticsCategory="OSM" angularticsAction="Upload image first image"><i class="fa icon-camera fa-5x"></i> <i class="fa icon-plus fa-3x"></i></a>
                        <input type="file" (change)="imageChanged($event)" [style.display]="'none'" accept="image/*" multiple/>
                    </label>
                </div>
                <div fxLayout="row" *ngIf="imagesUrls.length > 0">
                    <div fxFlex="25">
                        <button mat-button (click)="previousImage()" [disabled]="disableChangeImage('previous')" fxFill><i class="fa icon-chevron-{{resources.start}}"></i></button>
                    </div>
                    <div fxFlex>
                        <label fxFill>
                            <a mat-button fxFill angulartics2On="click" angularticsCategory="OSM" angularticsAction="Upload non first image"><i class="fa icon-plus"></i></a>
                            <input type="file" (change)="imageChanged($event)" [style.display]="'none'" accept="image/*" />
                        </label>
                    </div>
                    <div fxFlex="25">
                        <button mat-button (click)="nextImage()" [disabled]="disableChangeImage('next')" fxFill><i class="fa icon-chevron-{{resources.end}}"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="row">
            <mat-form-field fxFill hintLabel="{{resources.aLinkToAWebsite}}">
                <input matInput type="text" [dir]="'ltr'" [(ngModel)]="websiteUrl" placeholder="{{resources.website}}" fxFill />
            </mat-form-field>
        </div>
        <br />
        <div fxLayout="row">
            <mat-form-field fxFill>
                <mat-select placeholder="{{resources.categories}}" [ngModel]="selectedCategory" (selectionChange)="selectCategory($event)" fxFill>
                    <mat-option *ngFor="let category of categories" [value]="category"><i class="fa" [ngClass]="category.icon" [style.color]="category.color"></i> {{resources.translate(category.label)}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <br />
        <br />
        <div fxLayout="row" fxLayoutWrap>
            <button mat-button *ngFor="let icon of selectedCategory.icons" (click)="selectIcon(icon)" fxFlex [ngClass]="{active: icon == selectedCategory.selectedIcon}">
                <i class="fa" [ngClass]="icon.icon" [style.color]="icon.color"></i>
                <br />
                {{resources.translate(icon.label)}}
            </button>
        </div>
        <div fxLayout="row">
            <div fxFlex>
                <button mat-raised-button color="primary" [disabled]="!canUpload()" (click)="uploadPoint()" fxFill angulartics2On="click" angularticsCategory="OSM" angularticsAction="Update point submit"><i class="fa icon-cloud-upload fa-lg"></i> {{identifier ? resources.updatePoint : resources.addPoint}}</button>
            </div>
            <div fxFlex="10" fxShow fxHide.xs *ngIf="identifier">
                <a mat-button [href]="getEditElementOsmAddress()" target="_blank" fxFill matTooltip="{{resources.editThisMapUsingOsm}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="OSM" angularticsAction="Edit element in OSM"><i class="fa icon-map-editing fa-lg"></i></a>
            </div>
        </div>
    </div>
</div>