<div [dir]="resources.direction">
    <div md-dialog-title>
        <div>
            {{resources.uploadPoint}}
        </div>
        <div>
            <button md-button type="button" md-dialog-close><i class="fa icon-close"></i></button>
        </div>
    </div>
    <div md-dialog-content>
        <div fxLayout="row" fxLayout.xs="column">
            <md-input-container fxFlex>
                <input mdInput type="text" [dir]="resources.getDirection(title)" [(ngModel)]="title" placeholder="{{resources.nameInLanguage}}" fxFill />
            </md-input-container>
            <div fxFlex="45" fxFlex.xs="90">
                <img [hidden]="!imageUrl" [src]="imageUrl" class="img-responsive" fxFill />
                <label [hidden]="imageUrl" fxFill>
                    <a md-button fxFill angulartics2On="click" angularticsCategory="Update Point" angularticsEvent="Upload image"><i class="fa icon-camera fa-5x"></i> <i class="fa icon-plus fa-3x"></i></a>
                    <input type="file" (change)="uploadImage($event)" [style.display]="'none'" />
                </label>
            </div>
            <div fxFlex="5" fxFlex.xs="10">
                <button [hidden]="!imageUrl" md-button (click)="imageUrl=''"><i class="fa icon-trash"></i></button>
            </div>
        </div>
        <md-input-container fxFill hintLabel="{{resources.aLinkToAWebsite}}">
            <input mdInput type="text" [dir]="'ltr'" [(ngModel)]="websiteUrl" placeholder="{{resources.website}}" fxFill />
        </md-input-container>
        <md-input-container fxFill>
            <textarea mdInput rows="3" type="text" [dir]="resources.getDirection(description)" [(ngModel)]="description" placeholder="{{resources.descriptionInLanguage}}" fxFill></textarea>
        </md-input-container>
        <br/>
        <md-select placeholder="{{resources.categories}}" [ngModel]="selectedCategory" (change)="selectCategory($event)" fxFill>
            <md-option *ngFor="let category of categories" [value]="category"><i class="fa" [ngClass]="category.icon" [style.color]="category.color"></i> {{category.label}}</md-option>
        </md-select>
        <div fxLayout="row">
            <button md-button *ngFor="let icon of selectedCategory.icons" (click)="selectIcon(icon)" fxFlex [ngClass]="{active: icon == selectedCategory.selectedIcon}">
                <i class="fa" [ngClass]="icon.icon" [style.color]="icon.color"></i>
                <br/>
                {{icon.label}}
            </button>
        </div>
        <div fxLayout="row">
            <button md-raised-button color="primary" (click)="updatePoint()" fxFill angulartics2On="click" angularticsCategory="Update Point" angularticsEvent="Update point submit"><i class="fa icon-cloud-upload fa-lg"></i> {{resources.uploadPoint}}</button>
        </div>
    </div>
</div>