.row-button {
    line-height: unset !important;
    height: unset !important;
    & .fa {
        padding: 0 16px;
        width: 14px;
    }
}

.short-button {
    height: unset !important;
    min-width: unset;
    line-height: unset !important;
    padding: 0;

    & .mat-mdc-button-touch-target {
        height: unset !important;
    }
}