﻿<div [dir]="resources.direction">
    <div mat-dialog-title>
        <div>{{resources.uploadPoint}}</div>
        <button mat-icon-button aria-label="Close" type="button" mat-dialog-close tabindex="-1"><i class="fa icon-close"></i></button>
    </div>
    <div mat-dialog-content>
        <div class="flex flex-row">
            <div class="w-1/2">
                <button mat-button mat-dialog-close class="w-full p-0! h-[unset]!" (click)="addSimplePoint('Tap')"
                    analyticsOn="click" analyticsCategory="POI" analyticsLabel="Add cattle grid to OSM">
                    <i class="fa icon-tap" [style.color]="'blue'"></i><br />
                    {{resources.legendDrinkingWater}}
                </button>
            </div>
            <div class="w-1/2">
                <button mat-button mat-dialog-close class="w-full p-0! h-[unset]!"
                    (click)="addSimplePoint('CattleGrid')" analyticsOn="click" analyticsCategory="POI"
                    analyticsLabel="Add cattle grid to OSM">
                    <i class="fa fa-lg icon-cattle-grid"></i><br />
                    {{resources.legendCattleGrid}}
                </button>
            </div>
        </div>
        <div class="flex flex-row">
            <div class="w-1/2">
                <button mat-button mat-dialog-close class="w-full p-0! h-[unset]!" (click)="addSimplePoint('Parking')"
                    analyticsOn="click" analyticsCategory="POI" analyticsLabel="Add parking to OSM">
                    <i class="fa icon-parking" [style.color]="'blue'"></i><br />
                    {{resources.legendParking}}
                </button>
            </div>
            <div class="w-1/2">
                <button mat-button mat-dialog-close class="w-full p-0! h-[unset]!" (click)="addSimplePoint('OpenGate')"
                    analyticsOn="click" analyticsCategory="POI" analyticsLabel="Add open gate to OSM">
                    <i class="fa icon-gate"></i><br />
                    {{resources.legendGate}}
                </button>
            </div>
        </div>
        <div class="flex flex-row">
            <div class="w-1/2">
                <button mat-button mat-dialog-close class="w-full p-0! h-[unset]!"
                    (click)="addSimplePoint('ClosedGate')" analyticsOn="click" analyticsCategory="POI"
                    analyticsLabel="Add closed gate to OSM">
                    <i class="fa icon-gate" [style.color]="'red'"></i><br />
                    {{resources.legendClosedGate}}
                </button>
            </div>
            <div class="w-1/2">
                <button mat-button mat-dialog-close class="w-full p-0! h-[unset]!" (click)="addSimplePoint('Block')"
                    analyticsOn="click" analyticsCategory="POI" analyticsLabel="Add block to OSM">
                    <i class="fa icon-bollards"></i><br />
                    {{resources.legendBlock}}
                </button>
            </div>
        </div>
        <div class="flex flex-row">
            <div class="w-1/2">
                <button mat-button mat-dialog-close class="w-full p-0! h-[unset]!"
                    (click)="addSimplePoint('PicnicSite')" analyticsOn="click" analyticsCategory="POI"
                    analyticsLabel="Add picnic site to OSM">
                    <i class="fa icon-picnic" [style.color]="'#734a08'"></i><br />
                    {{resources.legendPicnicArea}}
                </button>
            </div>
            <div class="w-1/2">
                <button mat-button mat-dialog-close class="w-full p-0! h-[unset]!" (click)="addSimplePoint('Bench')"
                    analyticsOn="click" analyticsCategory="POI" analyticsLabel="Add bench to OSM">
                    <i class="fa icon-bench" [style.color]="'#734a08'"></i><br />
                    {{resources.legendBench}}
                </button>
            </div>
        </div>
        <div class="flex flex-row">
            <button mat-button mat-dialog-close class="h-full! w-full" (click)="addComplexPoint()" analyticsOn="click"
                analyticsCategory="POI" analyticsLabel="Add complex point to OSM">
                {{resources.more}}
            </button>
        </div>
    </div>
</div>