<div [dir]="resources.direction">
  <div matDialogTitle>
    <div>{{resources.advancedSettings}}</div>
    <button mat-button type="button" matDialogClose tabindex="-1"><i class="fa icon-close"></i></button>
  </div>
  <div mat-dialog-content>
    <br />
    @if (isApp()) {
      <div class="flex flex-row">
        <div class="flex-1">
          <label id="example-radio-group-label">{{resources.batteryOptimization}}</label>
          <mat-radio-group (change)=setBatteryOptimizationType($event.value) [value]="batteryOptimizationType$ | async">
            <div>
              <mat-radio-button value="screen-on" color="primary" angulartics2On="click" angularticsCategory="Intro" angularticsAction="Set battery optimization on">{{resources.screenOn}}</mat-radio-button>
            </div>
            <div>
              <mat-radio-button value="dark" color="primary" angulartics2On="click" angularticsCategory="Intro" angularticsAction="Set battery optimization dark">{{resources.screenDark}}</mat-radio-button>
            </div>
            <div>
              <mat-radio-button value="screen-off" color="primary" angulartics2On="click" angularticsCategory="Intro" angularticsAction="Set battery optimization off">{{resources.screenOff}}</mat-radio-button>
            </div>
          </mat-radio-group>
          <br />
        </div>
      </div>
      <div class="flex flex-row">
        <div class="flex-1">
          <mat-checkbox [checked]="isAutomaticRecordingUpload$ | async" (change)="toggleAutomaticRecordingUpload()" color="primary" angulartics2On="click" angularticsCategory="Configuration" angularticsAction="Toggle automatic upload">{{resources.automaticRecordingUpload}}</mat-checkbox>
          <br />
          <span class="text-sm">{{resources.automaticRecordingUploadHint}}</span>
        </div>
      </div>
      <div class="flex flex-row">
        <div class="flex-1">
          <mat-checkbox [checked]="isGotLostWarnings$ | async" (change)="toggleGotLostWarnings()" color="primary" angulartics2On="click" angularticsCategory="Configuration" angularticsAction="Toggle got lost warnings">{{resources.gotLostWarnings}}</mat-checkbox>
          <br />
          <span class="text-sm">{{resources.gotLostWarningsHint}}</span>
        </div>
      </div>
    }
    <br />
  </div>
  <div mat-dialog-actions>
    <div class="flex flex-row w-full gap-1">
      <div class="flex-1">
        <button mat-raised-button class="w-full" (click)="clearData()" color="warn" angulartics2On="click" angularticsCategory="Configuration" angularticsAction="Reset data">{{resources.resetData}}</button>
      </div>
      <div class="flex-1">
        <a mat-raised-button class="w-full" href="https://www.openstreetmap.org/account/deletion" target="_blank" color="warn" angulartics2On="click" angularticsCategory="Configuration" angularticsAction="Delete account">{{resources.deleteAccount}}</a>
      </div>
    </div>
  </div>
