<div [dir]="resources.direction">
  <div mat-dialog-title>
    <div>{{resources.settings}} - {{username}}</div>
    <button mat-icon-button aria-label="Close" type="button" mat-dialog-close tabindex="-1"><i
        class="fa icon-close"></i></button>
  </div>
  <div mat-dialog-content>
    <div class="flex flex-wrap gap-4">
      <div class="flex flex-col">
        <label>{{resources.units}}</label>
        <mat-radio-group (change)=setUnits($event.value) [value]="units()">
          <div>
            <mat-radio-button value="metric" analyticsOn="click" analyticsCategory="Configuration"
              analyticsLabel="Set units metric">
              {{resources.metric}}
            </mat-radio-button>
          </div>
          <div>
            <mat-radio-button value="imperial" analyticsOn="click" analyticsCategory="Configuration"
              analyticsLabel="Set units imperial">
              {{resources.imperial}}
            </mat-radio-button>
          </div>
        </mat-radio-group>
      </div>

      <div class="flex flex-col">
        <label>{{resources.theme}}</label>
        <mat-radio-group (change)=setTheme($event.value) [value]="theme()">
          <div>
            <mat-radio-button value="light" analyticsOn="click" analyticsCategory="Configuration"
              analyticsLabel="Set theme light">
              {{resources.themeLight}}
            </mat-radio-button>
          </div>
          <div>
            <mat-radio-button value="dark" analyticsOn="click" analyticsCategory="Configuration"
              analyticsLabel="Set theme dark">
              {{resources.themeDark}}
            </mat-radio-button>
          </div>
        </mat-radio-group>
      </div>

      @if (isApp()) {
      <div class="flex flex-col">
        <label>{{resources.batteryOptimization}}</label>
        <mat-radio-group (change)=setBatteryOptimizationType($event.value) [value]="batteryOptimizationType()">
          <div>
            <mat-radio-button value="screen-on" analyticsOn="click" analyticsCategory="Intro"
              analyticsLabel="Set battery optimization on">
              {{resources.screenOn}}
            </mat-radio-button>
          </div>
          <div>
            <mat-radio-button value="dark" analyticsOn="click" analyticsCategory="Intro"
              analyticsLabel="Set battery optimization dark">
              {{resources.screenDark}}
            </mat-radio-button>
          </div>
          <div>
            <mat-radio-button value="screen-off" analyticsOn="click" analyticsCategory="Intro"
              analyticsLabel="Set battery optimization off">
              {{resources.screenOff}}
            </mat-radio-button>
          </div>
        </mat-radio-group>
      </div>
      @if (isLoggedIn()) {
      <div class="flex flex-row">
        <div class="flex-1">
          <mat-checkbox [checked]="isAutomaticRecordingUpload()" (change)="toggleAutomaticRecordingUpload()"
            analyticsOn="click" analyticsCategory="Configuration" analyticsLabel="Toggle automatic upload">
            {{resources.automaticRecordingUpload}}
          </mat-checkbox>
          <br />
          <span class="text-sm">{{resources.automaticRecordingUploadHint}}</span>
        </div>
      </div>
      }
      <div class="flex flex-row">
        <div class="flex-1">
          <mat-checkbox [checked]="isGotLostWarnings()" (change)="toggleGotLostWarnings()" analyticsOn="click"
            analyticsCategory="Configuration" analyticsLabel="Toggle got lost warnings">
            {{resources.gotLostWarnings}}
          </mat-checkbox>
          <br />
          <span class="text-sm">{{resources.gotLostWarningsHint}}</span>
        </div>
      </div>
      }
    </div>
    <div class="flex flex-row">
      <mat-form-field class="w-full">
        <mat-label>{{resources.dateFormat}}</mat-label>
        <mat-select [ngModel]="dateFormat()" (ngModelChange)="setDateFormat($event)">
          <mat-option value="yyyy-MM-dd">yyyy-MM-dd</mat-option>
          <mat-option value="dd/MM/yyyy">dd/MM/yyyy</mat-option>
          <mat-option value="MM/dd/yyyy">MM/dd/yyyy</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br />
    @if (isSubscribed()) {
    <p class="ms-2">
      {{resources.offlinePurchaseGraditude}}<br />
      <a [href]="manageSubscriptions" target="_blank" analyticsOn="click" analyticsCategory="Configuration"
        analyticsLabel="Manage subscriptions">{{resources.manageSubscriptions}}</a>
    </p>
    }
  </div>
  <div mat-dialog-actions>
    <div class="flex flex-row w-full gap-1">
      <div class="flex-1">
        <button mat-raised-button class="w-full error-button" (click)="clearData()" analyticsOn="click"
          analyticsCategory="Configuration" analyticsLabel="Reset data">{{resources.resetData}}</button>
      </div>
      @if (isLoggedIn()) {
      <div class="flex-1">
        <a mat-raised-button class="w-full error-button" href="https://www.openstreetmap.org/account/deletion"
          target="_blank" analyticsOn="click" analyticsCategory="Configuration"
          analyticsLabel="Delete account">{{resources.deleteAccount}}</a>
      </div>
      }
    </div>
  </div>