﻿<div [dir]="resources.direction">
    <div matDialogTitle>
        <div>
            {{resources.infoDownloadOldMapsForOfflineUse}}
        </div>
        <div>
            <button mat-button type="button" matDialogClose tabindex="-1"><i class="fa icon-close"></i></button>
        </div>
    </div>
    <div mat-dialog-content>
        <div class="text-center">
            <a class="download-app-link w-full" href="{{getGooglePlayStoreAddress(app)}}" target="_blank" tabindex="-1"><img src="content/google-play-badge.png" class="img-responsive" alt="" tabindex="-1"/></a>
        </div>
        <h5 class="text-center">{{resources.application}}</h5>
        <div class="flex flex-row">
            <div class="w-1/2">
                <a mat-button class="w-full" (click)="app = 'Locus'" [ngClass]="{active: app === 'Locus'}" angulartics2On="click" angularticsCategory="Download" angularticsAction="Download Locus">Locus</a>
            </div>
            <div class="w-1/2">
                <a mat-button class="w-full" (click)="app = 'OruxMaps'" [ngClass]="{active: app === 'OruxMaps'}" angulartics2On="click" angularticsCategory="Download" angularticsAction="Download OruxMaps">OruxMaps</a>
            </div>
        </div>
        <h5 class="text-center">{{resources.map}}</h5>
        <div class="flex flex-row">
            <div class="w-1/2">
                <a mat-button class="w-full" (click)="mapType = 'IHM'" [ngClass]="{active: mapType === 'IHM'}" angulartics2On="click" angularticsCategory="Download" angularticsAction="Download IHM">{{resources.israelHikingMap}}</a>
            </div>
            <div class="w-1/2">
                <a mat-button class="w-full" (click)="mapType = 'MTB'" [ngClass]="{active: mapType === 'MTB'}" angulartics2On="click" angularticsCategory="Download" angularticsAction="Download MTB">{{resources.israelMTBMap}}</a>
            </div>
        </div>
        <h5 class="text-center">{{resources.detailsLevel}} ({{resources.upToZoom}})</h5>
        <div class="flex flex-row">
            <div class="w-1/2">
                <a mat-button class="w-full" (click)="zoom = 15" [ngClass]="{active: zoom === 15}" angulartics2On="click" angularticsCategory="Download" angularticsAction="Download zoom 15">15 [970Mb]</a>
            </div>
            <div class="w-1/2">
                <a mat-button class="w-full" (click)="zoom = 16" [ngClass]="{active: zoom === 16}" angulartics2On="click" angularticsCategory="Download" angularticsAction="Download zoom 16">16 [2.9Gb]</a>
            </div>
        </div>
        <br />
        <div class="flex flex-row">
            <a mat-raised-button class="w-full" color="primary" [href]="getDownloadUrl()" angulartics2On="click" angularticsCategory="Download" angularticsAction="Download offline map {{app}} {{mapType}} {{zoom}}"><i class="fa icon-download fa-lg"></i> {{resources.startDownload}}</a>
        </div>
        <h4>{{resources.installationInstructions}}</h4>
        <p>{{resources.offlineMapBenefits}}</p>
        <div>
            <ul [innerHtml]="getDesktopInstallationInstructions(app)"></ul>
        </div>
    </div>
</div>
