<div [dir]="resources.direction">
    <div mat-dialog-title>
        <div>
            <i class="fa fa-lg icon-exclamation-triangle" [style.color]="'orange'"></i> {{resources.facebookWarning}}
        </div>
        <button mat-button type="button" mat-dialog-close tabindex="-1"><i class="fa icon-close"></i></button>
    </div>
    <div mat-dialog-actions>
        <div class="flex flex-row w-full">
            <a mat-button class="w-full" href="https://www.technologyhint.com/in-app-browser/" target="_blank"
                mat-dialog-close angulartics2On="click" angularticsCategory="Application"
                angularticsAction="Facebook disable in app info"><i class="fa fa-lg icon-info"></i>
                {{resources.moreInfo}}</a>
        </div>
    </div>
</div>