<div [dir]="resources.direction">
    <div mat-dialog-title>
        <div>{{resources.export}}</div>
        <button mat-icon-button aria-label="Close" type="button" mat-dialog-close tabindex="-1"><i class="fa icon-close"></i></button>
    </div>
    <div mat-dialog-content>
        @for (format of formats; track format) {
        <div class="flex flex-row">
            <button mat-button (click)="saveAs(format)" mat-dialog-close analyticsOn="click" analyticsCategory="Files"
                analyticsLabel="Save as format {{format.label}}">
                <span class="text-sm" dir="ltr">{{format.label}}</span>
            </button>
        </div>
        }
    </div>
</div>