<div [dir]="resources.direction" class="safe-top overflow-hidden">
    <div mat-dialog-content>
        @switch (step) {
        @case (0) {
        <div class="flex flex-row">
            <div class="flex-1">
                <div class="flex flex-row">
                    <mat-label>{{resources.language}}</mat-label>
                </div>
                <mat-radio-group (change)=resources.setLanguage($event.value) [value]="getLanuguageCode()">
                    @for (language of availableLanguages; track language) {
                    <div>
                        <mat-radio-button [value]="language.code" color="primary" angulartics2On="click"
                            angularticsCategory="Intro"
                            angularticsAction="Select language {{language.code}}">{{language.label}}</mat-radio-button>
                    </div>
                    }
                </mat-radio-group>
            </div>
            <div class="flex-1">
                <div class="flex flex-row">
                    <mat-label>{{resources.activityType}}</mat-label>
                </div>
                <div class="flex flex-row">
                    <mat-radio-group (change)=setActivityType($event.value) [value]="activityType" color="primary">
                        <mat-radio-button value="Hiking"><i class="fa icon-hike"></i></mat-radio-button>
                        <mat-radio-button value="Biking"><i class="fa icon-bike"></i></mat-radio-button>
                        <mat-radio-button value="4x4"><i class="fa icon-four-by-four"></i></mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
        </div>
        <br />
        <div class="square-container">
            <ng-lottie class="img-responsive" style="padding-right: 13px;" [options]="lottieLanguage"></ng-lottie>
        </div>
        }
        @case (1) {
        <h2>{{resources.maps}}</h2>
        <p>{{resources.introMapsDescription}}</p>
        <div class="square-container">
            <ng-lottie class="img-responsive" [options]="lottieMaps"></ng-lottie>
        </div>
        }
        @case (2) {
        <h2>{{resources.routesAndPoints}}</h2>
        <p>{{resources.introRoutesAndPointsDescription}}</p>
        <div class="square-container">
            <ng-lottie class="img-responsive" [options]="lottiePlan"></ng-lottie>
        </div>
        }
        <!-- HM TODO: bring this back
    @case (3) {
      <h2>{{resources.andSoMuchMore}}</h2>
      <p>{{resources.introAndSoMuchMoreDescription}}</p>
      <div class="square-container">
        <ng-lottie class="img-responsive" [options]="lottieMore"></ng-lottie>
      </div>
    }
    -->
        }
    </div>
    <div mat-dialog-actions>
        <div class="flex flex-row w-full">
            <div class="flex-1">
                @if (step !== 0) {
                <button mat-button class="w-full" (click)="step = step - 1" angulartics2On="click"
                    angularticsCategory="Intro" angularticsAction="Intro back">{{resources.back}}</button>
                }
            </div>
            @if (step !== 2) {
            <div class="flex-1">
                <button mat-raised-button color="primary" class="w-full" (click)="step = step + 1"
                    angulartics2On="click" angularticsCategory="Intro"
                    angularticsAction="Intro next">{{resources.next}}</button>
            </div>
            } @else {
            <div class="flex-1">
                <button mat-raised-button color="primary" class="w-full" (click)="close()" angulartics2On="click"
                    angularticsCategory="Intro" angularticsAction="Intro close">{{resources.close}}</button>
            </div>
            }
        </div>
    </div>
</div>