<div [dir]="resources.direction">
    <div mat-dialog-content>
        <div *ngIf="step === 0">
            <h2>{{resources.language}}</h2>
            <mat-radio-group (change)=resources.setLanguage($event.value) value="he">
                <div *ngFor="let language of resources.availableLanguages">
                    <mat-radio-button [value]="language.code" color="primary" angulartics2On="click" angularticsCategory="Intro" angularticsAction="Select language {{language.code}}">{{resources.getLabelForCode(language.code)}}</mat-radio-button>
                </div>
            </mat-radio-group>
            <br />
            <div class="square-container">
                <ng-lottie class="img-responsive" style="padding-right: 13px;" [options]="lottieLanguage"></ng-lottie>
            </div>
        </div>
        <div *ngIf="step === 1">
            <h2>{{resources.maps}}</h2>
            <p>{{resources.introMapsDescription}}</p>
            <div class="square-container">
                <ng-lottie class="img-responsive" [options]="lottieMaps"></ng-lottie>
            </div>
        </div>
        <div *ngIf="step === 2">
            <h2>{{resources.routesAndPoints}}</h2>
            <p>{{resources.introRoutesAndPointsDescription}}</p>
            <div class="square-container">
                <ng-lottie class="img-responsive" [options]="lottiePlan"></ng-lottie>
            </div>
        </div>
        <div *ngIf="step === 3">
            <h2>{{resources.andSoMuchMore}}</h2>
            <p>{{resources.introAndSoMuchMoreDescription}}</p>
            <div class="square-container">
                <ng-lottie class="img-responsive" [options]="lottieMore"></ng-lottie>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxFlex>
            <div fxFlex>
                <button *ngIf="step !== 0" mat-button fxFill (click)="step = step - 1" angulartics2On="click" angularticsCategory="Intro" angularticsAction="Intro back">{{resources.back}}</button>
            </div>
            <div fxFlex *ngIf="step !== 3">
                <button mat-raised-button color="primary" fxFill (click)="step = step + 1" angulartics2On="click" angularticsCategory="Intro" angularticsAction="Intro next">{{resources.next}}</button>
            </div>
            <div fxFlex *ngIf="step === 3">
                <button mat-raised-button color="primary" fxFill (click)="close()" angulartics2On="click" angularticsCategory="Intro" angularticsAction="Intro close">{{resources.close}}</button>
            </div>
        </div>
    </div>
</div>