<div [dir]="resources.direction">
  <div matDialogTitle>
    <div>{{title}}</div>
    <button mat-button type="button" matDialogClose tabindex="-1"><i class="fa icon-close"></i></button>
  </div>
  <div mat-dialog-content>
    <div class="flex flex-row">
      <mat-form-field hintLabel="{{resources.layerNamePlaceHolder}}" class="w-full">
        <mat-label>{{resources.name}}</mat-label>
        <input matInput #keyInput="ngModel" type="text" class="w-full" [(ngModel)]="layerData.key" required=""
          [nameInUse]="layerData.key" [isOverlay]="isOverlay" />
        @if (keyInput.errors && keyInput.errors.nameInUse) {
        <mat-error>{{resources.nameIsAlreadyInUse}}</mat-error>
        }
      </mat-form-field>
    </div>
    <div class="flex flex-row">
      <mat-form-field hintLabel="{{resources.address}}" class="w-full">
        <input matInput type="text" class="w-full" dir="ltr" [ngModel]="layerData.address"
          (ngModelChange)="onAddressChanged($event)" placeholder="https://www.somemap.com/{z}/{x}/{y}.png"
          required="" />
      </mat-form-field>
    </div>
    <div class="flex flex-row">
      <a class="text-sm" href="https://github.com/IsraelHikingMap/Site/wiki/Custom-maps"
        target="_blank">{{resources.moreInfo}}</a>
    </div>
    <div class="input-wrapper-spacer"></div>
    <div class="flex flex-row gap-1">
      <mat-form-field class="flex-1">
        <mat-label>{{resources.minZoom}}</mat-label>
        <input matInput type="number" [(ngModel)]="layerData.minZoom" required="" />
      </mat-form-field>
      <mat-form-field class="flex-1">
        <mat-label>{{resources.maxZoom}}</mat-label>
        <input matInput type="number" [(ngModel)]="layerData.maxZoom" required="" />
      </mat-form-field>
      @if (isOverlay) {
      <div class="flex-1">
        <div class="flex flex-col">
          <label class="text-center">{{resources.opacity}}</label>
          <mat-slider min="0.1" max="1.0" step="0.1" color="primary" class="slider-small"><input matSliderThumb
              [(ngModel)]="layerData.opacity" /></mat-slider>
        </div>
      </div>
      }
    </div>
    <div class="flex flex-row">
      <div class="w-full h-[138px]">
        <mgl-map [zoom]="[(layerData.minZoom + layerData.maxZoom) / 2]"
          [center]="[(location$ | async)?.longitude, (location$ | async)?.latitude]"
          [style]='{"version": 8, "sources": {}, "layers": [] }' [attributionControl]="false">
          <auto-layer [layerData]="layerData" [visible]="true" [isBaselayer]="!isOverlay" [isMainMap]="false">
          </auto-layer>
        </mgl-map>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="flex flex-row w-full">
      <div class="flex-1">
        @if (isApp) {
        <button mat-button class="w-full" matDialogClose type="button" (click)="shareLayer()"><i
            class="fa fa-lg icon-share-alt"></i></button>
        } @else {
        <button mat-button class="w-full" matDialogClose type="button" [cdkCopyToClipboard]="getShareLayerAddress()"><i
            class="fa fa-lg icon-share-alt"></i></button>
        }
      </div>
      <div class="flex-1">
        @if (!isNew) {
        <button mat-button class="w-full" matDialogClose type="button" (click)="removeLayer()"
          matTooltip="{{resources.deleteLayer}}" matTooltipPosition="above" angulartics2On="click"
          angularticsCategory="Layers" angularticsAction="Delete layer"><i class="fa fa-lg icon-trash"></i></button>
        }
      </div>
      <div class="flex-1">
        <button mat-button class="w-full" matDialogClose type="button" (click)="saveLayer()"
          [disabled]="keyInput.errors !== null" matTooltip="{{resources.save}}" matTooltipPosition="above"
          angulartics2On="click" angularticsCategory="Layers" angularticsAction="Save layer"><i
            class="fa icon-check"></i></button>
      </div>
    </div>
  </div>
</div>