<div [dir]="resources.direction">
    <div matDialogTitle>
        <div>
            <i class="fa fa-lg icon-exclamation-triangle" [style.color]="'orange'"></i> {{resources.endOfLife}}
        </div>
        <button mat-button type="button" matDialogClose tabindex="-1"><i class="fa icon-close"></i></button>
    </div>
    <div mat-dialog-actions>
        @if (isAndroid()) {
        <div class="flex flex-row w-full justify-center items-center">
            <a [href]="androidAppUrl" target="_blank" angulartics2On="click" angularticsCategory="Info" angularticsAction="Download from google play store">
            <img src="content/google-play-badge.png" width="200" />
            </a>
        </div>
        } @else {
        <div class="flex flex-row w-full justify-center items-center">
            <a [href]="iosAppUrl" target="_blank" angulartics2On="click" angularticsCategory="Info" angularticsAction="Download from app store">
            <img src="content/app-store-badge.png" width="200" />
            </a>
        </div>
        }
    </div>
</div>