<div [dir]="resources.direction">
  <div matDialogTitle>
    <div>{{resources.manageOfflineMaps}}</div>
    <button mat-button type="button" matDialogClose tabindex="-1"><i class="fa icon-close"></i></button>
  </div>
  <div mat-dialog-content>
    <div class="w-full offline-map-container">
      <mgl-map
        [style]="offlineMapStyle"
        [zoom]="zoom"
        [center]="center"
        [maxZoom]="6"
        (mapClick)="onMapClick($event)"
        (mapLoad)="onMapLoad($event)"
        [attributionControl]="false">
        <auto-layer [layerData]="baseLayerData"
          [visible]="true"
          [isBaselayer]="true"
          [isMainMap]="false"
          [before]="resources.endOfBaseLayer">
        </auto-layer>
        <!-- HM TODO: revert this
        <mgl-geojson-source id="download-tiles"
          [data]="downloadedTiles">
        </mgl-geojson-source>
        <mgl-geojson-source id="currnet-location"
          [data]="currentLocation">
        </mgl-geojson-source>
        <mgl-layer
          id="download-tiles-border"
          type="line"
          source="download-tiles"
          [layout]="{
              'line-cap': 'round', 
              'line-join': 'round'
          }"
          [paint]="{
              'line-color': ['get', 'color'],
              'line-width': 3
          }">
        </mgl-layer>
        <mgl-layer
          id="download-tiles-text"
          type="symbol"
          source="download-tiles"
          [minzoom]="4"
          [layout]="{
              'text-field': ['get', 'label'],
              'text-font': ['Open Sans Regular'],
              'text-size': 30,
          }"
          [paint]="{
              'text-color': ['get', 'color'],
              'text-halo-color' : 'white',
              'text-halo-width': 2
          }">
        </mgl-layer>
        <mgl-geojson-source id="selected-tile"
          [data]="selectedTile">
        </mgl-geojson-source>
        <mgl-layer
          id="selected-tile-border"
          type="line"
          source="selected-tile"
          [layout]="{
              'line-cap': 'round', 
              'line-join': 'round'
          }"
          [paint]="{
              'line-color': 'green',
              'line-width': 3
          }">
        </mgl-layer>
        <mgl-layer
          id="currnet-location-circle"
          type="circle"
          source="currnet-location"
          [paint]="{
              'circle-radius': 7,
              'circle-color': 'magenta'

          }">
        </mgl-layer>
        <mgl-layer
          id="selected-tile-text"
          type="symbol"
          source="selected-tile"
          [minzoom]="4"
          [layout]="{
              'text-field': ['get', 'label'],
              'text-font': ['Open Sans Regular'],
              'text-size': 30,
              'text-allow-overlap': true
          }"
          [paint]="{
              'text-color': 'green',
              'text-halo-color' : 'white',
              'text-halo-width': 2
          }">
        </mgl-layer>
        <mgl-geojson-source id="in-progress-tile"
          [data]="inProgressTile">
        </mgl-geojson-source>
        <mgl-layer
          id="in-progress-tile-border"
          type="line"
          source="in-progress-tile"
          [layout]="{
              'line-cap': 'round', 
              'line-join': 'round'
          }"
          [paint]="{
              'line-color': 'blue',
              'line-width': 3
          }">
        </mgl-layer>
        <mgl-layer
          id="in-progress-tile-text"
          type="symbol"
          source="in-progress-tile"
          [minzoom]="4"
          [filter]="['==', ['get', 'stroke'], 'true']"
          [layout]="{
              'text-field': ['get', 'label'],
              'text-font': ['Open Sans Regular'],
              'text-size': 30,
              'text-allow-overlap': true
          }"
          [paint]="{
              'text-color': 'blue',
              'text-halo-color' : 'white',
              'text-halo-width': 2
          }">
        </mgl-layer>
        <mgl-layer
          id="in-progress-tile-fill"
          type="fill"
          source="in-progress-tile"
          [filter]="['==', ['get', 'fill'], 'true']"
          [paint]="{
              'fill-color': 'rgba(0, 128, 128, 0.5)'
          }">
        </mgl-layer>
        -->
      </mgl-map>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="flex flex-row w-full">
      @if (!selectedTileXY && !downloadingTileXY()) {
        <div class="flex-1">
          <div>
            {{resources.clickTheMapToSelectATile}}
          </div>
        </div>
      }
      @if (selectedTileXY && !isSelectedAvailableForOffline() && !downloadingTileXY()) {
        <div class="flex-1">
          <button mat-raised-button class="w-full" color="primary" (click)="downloadSelected()">
            <i class="fa fa-lg icon-download"></i>
            {{resources.startDownload}}
          </button>
        </div>
      }
      @if (selectedTileXY && isSelectedAvailableForOffline() && !downloadingTileXY()) {
        <div class="flex-1">
          <button mat-raised-button class="w-full" color="primary" (click)="downloadSelected()">
            <i class="fa fa-lg icon-download"></i>
            {{resources.update}}
          </button>
        </div>
        <div class="flex-1">
          <button mat-raised-button class="w-full" color="warn" (click)="deleteSelected()">
            <i class="fa fa-lg icon-trash"></i>
            {{resources.delete}}
          </button>
        </div>
      }
      @if (downloadingTileXY()) {
        <div class="flex-1">
          <button mat-raised-button class="w-full" color="primary" (click)="cancelDownload()">
            <i class="fa fa-lg icon-close"></i>
            {{resources.cancel}}
          </button>
        </div>
      }
    </div>
  </div>
</div>