﻿<div [dir]="resources.direction">
    <div matDialogTitle>
        <div>{{title}}</div>
        <button mat-button type="button" matDialogClose tabindex="-1"><i class="fa icon-close"></i></button>
    </div>
    <div mat-dialog-content>
        <div class="flex flex-row" *ngIf="imageUrl">
             <div class="img-container-small">
                <img [src]="imageUrl" class="img-responsive-full img-center"/>
            </div>
        </div>
        <div *ngIf="!shareAddress">
            <div class="flex flex-row">
                <mat-form-field class="w-full" hintLabel="{{resources.titlePlaceHolder}}">
                    <mat-label>{{resources.title}}</mat-label>
                    <input matInput class="w-full" type="text" [(ngModel)]="title" />
                </mat-form-field>
            </div>
            <div class="flex flex-row">
                <mat-form-field class="w-full" hintLabel="{{resources.descriptionPlaceHolder}}">
                    <mat-label>{{resources.description}}</mat-label>
                    <textarea matInput class="w-full" rows="2" type="text" [(ngModel)]="description"></textarea>
                </mat-form-field>
            </div>
            <div class="flex flex-row">
                <mat-checkbox color="primary" [(ngModel)]="shareOverlays">{{resources.shareMapOverlays}}</mat-checkbox>
            </div>
            <div class="flex flex-row" *ngIf="showUnhide">
                <mat-checkbox color="primary" [(ngModel)]="unhideRoutes">{{resources.unhideHiddenRoutes}}</mat-checkbox>
            </div>
            <div class="flex flex-row" *ngIf="showUnhide && !unhideRoutes">
                <mat-hint class="text-sm">⚠️ {{resources.hiddenRoutesWillNotBeSaved}}</mat-hint>
            </div>
            <div class="flex flex-row" *ngIf="canUpdate">
                <mat-checkbox color="primary" [(ngModel)]="updateCurrentShare">{{resources.updateCurrentShare}}</mat-checkbox>
            </div>
            <div class="input-wrapper-spacer"></div>
            <div class="flex flex-row">
                <button mat-raised-button class="w-full" color="primary" (click)="uploadShareUrl()" [disabled]="isLoading" angulartics2On="click" angularticsCategory="Share" angularticsAction="Share {{updateCurrentShare ? 'update' : 'create'}}{{shareOverlays ? ' with overlays' : ''}}">{{updateCurrentShare ? resources.update : resources.generateUrlToShareWithYourFriends}}</button>
            </div>
        </div>
        <div *ngIf="shareAddress && !isApp()">
            <div class="flex flex-row" class="break-lines">
                <span class="w-full" [ngClass]="resources.getTextAlignment(description)" [dir]="resources.getDirection(description)">{{description}}</span>
            </div>
            <div class="flex flex-row">
                <a [href]="shareAddress" class="text-left chrome-wordwrap-fix w-full" [target]="'_blank'" angulartics2On="click" angularticsCategory="Share" angularticsAction="Share text address">{{shareAddress}}</a>
            </div>
            <div class="input-wrapper-spacer"></div>
            <div class="flex flex-row w-full">
                <div class="flex-1">
                    <a mat-button class="w-full" [href]="facebookShareAddress" [target]="'_blank'" matTooltip="{{resources.shareWithFacebook}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Share" angularticsAction="Share facebook"><i class="fa icon-facebook fa-lg"></i></a>
                </div>
                <div class="flex-1">
                    <a mat-button class="w-full" [href]="whatsappShareAddress" [target]="'_blank'" matTooltip="{{resources.shareWithWhatsapp}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Share" angularticsAction="Share whatsapp"><i class="fa icon-whatsapp fa-lg"></i></a>
                </div>
                <div class="flex-1">
                    <button mat-button class="w-full" [cdkCopyToClipboard]="shareAddress" matTooltip="{{resources.copyUrl}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Share" angularticsAction="Share copy to clipboard"><i class="fa icon-clipboard fa-lg"></i></button>
                </div>
                <div class="flex-1">
                    <a mat-button class="w-full" [href]="nakebCreateHikeAddress" [target]="'_blank'" matTooltip="{{resources.createNakebHike}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="Share" angularticsAction="Share nakeb"><i class="fa icon-nakeb fa-lg"></i></a>
                </div>
            </div>
        </div>
        <div *ngIf="shareAddress && isApp()">
            <div class="flex flex-row" class="break-lines">
                <span class="w-full" [ngClass]="resources.getTextAlignment(description)" [dir]="resources.getDirection(description)">{{description}}</span>
            </div>
            <div class="flex flex-row">
                <button mat-button class="w-full" (click)="share()" angulartics2On="click" angularticsCategory="Share" angularticsAction="Share mobile button"><i class="fa fa-lg icon-share-alt"></i></button>
            </div>
        </div>
    </div>
</div>
