<div [dir]="resources.direction">
    <div mat-dialog-title>
        <button mat-button type="button" mat-dialog-close tabindex="-1"><i class="fa icon-close"></i></button>
    </div>
    <div mat-dialog-content>
        <share-item [shareUrl]="shareUrl"></share-item>
    </div>
    <div mat-dialog-actions>
        @if (isApp()) {
        <div class="flex flex-row w-full">
            <button mat-button class="w-full" (click)="share()" angulartics2On="click" angularticsCategory="Share"
                angularticsAction="Share mobile button"><i class="fa fa-lg icon-share-alt"></i></button>
        </div>
        } @else {
        <div class="flex flex-row w-full">
            <div class="flex-1">
                <a mat-button class="w-full" [href]="facebookShareAddress" [target]="'_blank'"
                    matTooltip="{{resources.shareWithFacebook}}" matTooltipPosition="above" angulartics2On="click"
                    angularticsCategory="Share" angularticsAction="Share facebook"><i
                        class="fa icon-facebook fa-lg"></i></a>
            </div>
            <div class="flex-1">
                <a mat-button class="w-full" [href]="whatsappShareAddress" [target]="'_blank'"
                    matTooltip="{{resources.shareWithWhatsapp}}" matTooltipPosition="above" angulartics2On="click"
                    angularticsCategory="Share" angularticsAction="Share whatsapp"><i
                        class="fa icon-whatsapp fa-lg"></i></a>
            </div>
            <div class="flex-1">
                <button mat-button class="w-full" [cdkCopyToClipboard]="shareAddress" (click)="copiedToClipboard = true"
                    matTooltip="{{resources.copyUrl}}" matTooltipPosition="above" angulartics2On="click"
                    angularticsCategory="Share" angularticsAction="Share copy to clipboard">
                    <i class="fa icon-clipboard fa-lg"></i>
                    @if (copiedToClipboard) {
                    <i class="fa fa-lg icon-check-circle" [style.color]="'green'"></i>
                    }
                </button>
            </div>
        </div>
        }
    </div>
</div>