﻿<div [dir]="resources.direction">
    <div mat-dialog-title>
        <div>{{resources.termsOfService}}</div>
        <button mat-button type="button" mat-dialog-close="false" tabindex="-1"><i class="fa icon-close"></i></button>
    </div>
    <div mat-dialog-content>
        <div>
            <div class="flex flex-row">
                <p class="w-full">{{resources.termsOfServiceElaborated}}</p>
            </div>
            <div class="flex flex-row">
                <a href="https://wiki.osmfoundation.org/wiki/Privacy_Policy"
                    target="_blank">{{resources.osmTermsOfService}}</a>
            </div>
            <div class="flex flex-row">
                <a [href]="wikimediaTermsOfServiceUrl" target="_blank">{{resources.wikimediaTermsOfService}}</a>
            </div>
            <div class="flex flex-row">
                <a href="https://imgur.com/tos" target="_blank">{{resources.imgurTermsOfService}}</a>
            </div>
            <div class="flex flex-row">
                <a href="https://mapeak.com/privacy-policy"
                    target="_blank">{{resources.infoPrivacyPolicyTermsOfService}}</a>
            </div>
            <div class="flex flex-row">
                <mat-checkbox color="primary" [(ngModel)]="iAgree">{{resources.iHaveReadAndAgree}}</mat-checkbox>
            </div>
            <br />
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-dialog-close mat-raised-button color="primary" [disabled]="iAgree === false" (click)="submit()"
            angulartics2On="click" angularticsCategory="Terms Of Service"
            angularticsAction="Sumbit">{{resources.submit}}</button>
    </div>
</div>