﻿<div [dir]="resources.direction" 
     infiniteScroll 
     [infiniteScrollDistance]="2" 
     (scrolled)="onScrollDown()" 
     [infiniteScrollContainer]="'#dialogContentForScroll'">
    <div matDialogTitle>
        <div class="flex flex-row w-full">
            <mat-form-field hintLabel="{{resources.searchPlaceHolder}}" class="w-full">
                <input matInput type="text" class="w-full" [formControl]="searchTerm" placeholder="{{resources.search}}" />
            </mat-form-field>
        </div>
        <div class="close-wrapper">
            <button type="button" mat-button class="flex flex-col justify-start items-start" matDialogClose tabindex="-1"><i class="fa icon-close"></i></button>
        </div>
    </div>
    <div mat-dialog-content id="dialogContentForScroll">
        <div class="flex flex-row">
            <label class="w-full">
                <a class="w-full" mat-raised-button color="primary" angulartics2On="click" angularticsCategory="OSM" angularticsAction="Upload OSM trace"><i class="fa icon-folder-open fa-lg"></i> {{resources.uploadFileToOsm}}</a>
                <input type="file" (change)="uploadToOsm($event)" [style.display]="'none'" />
            </label>
        </div>
        <div *ngFor="let trace of filteredTraces" class="item">
            <div class="flex flex-row" [ngClass]="{'active': selectedTraceId === trace.id}" (click)="toggleSelectedTrace(trace)">
                <div class="item-image">
                    <secured-image [src]="trace.imageUrl" alt="" class="w-full"></secured-image>
                </div>
                <div class="margin-10" >
                    <div *ngIf="!isTraceInEditMode(trace.id)">
                        {{getTraceDisplayName(trace)}}<br />
                        {{trace.timeStamp | date:'dd/MM/yyyy'}}<br />
                        {{getVisibilityTranslation(trace.visibility)}}<br />
                        {{trace.tagsString || resources.noTags}}
                    </div>
                    <div *ngIf="isTraceInEditMode(trace.id)">
                        <mat-form-field>
                            <input matInput type="text" [(ngModel)]="trace.description" placeholder="{{resources.description}}" />
                        </mat-form-field>
                        <br />
                        <mat-form-field>
                            <input matInput type="text" [(ngModel)]="trace.tagsString" placeholder="{{resources.tags}}" />
                        </mat-form-field>
                        <br />
                        <mat-form-field>
                            <mat-select [(ngModel)]="trace.visibility">
                                <mat-option value="trackable">{{resources.private}}</mat-option>
                                <mat-option value="identifiable">{{resources.public}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <mat-spinner *ngIf="loadingTraces"></mat-spinner>
        <p *ngIf="hasNoTraces()">{{resources.noTraces}}</p>
    </div>
    <div mat-dialog-actions>
        <div class="flex flex-row w-full">
            <div class="flex-1">
                <button mat-button class="w-full no-padding min-w-unset" [disabled]="!hasSelected() || canUploadToOsm()" (click)="findUnmappedRoutes()" matTooltip="{{resources.findUnmappedRoutes}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="OSM" angularticsAction="Find unmapped trace parts"><i class="fa icon-search"></i></button>
            </div>
            <div class="flex-1" *ngIf="!isTraceInEditMode(selectedTraceId)">
                <button mat-button class="w-full no-padding min-w-unset" [disabled]="!hasSelected() || canUploadToOsm()" (click)="traceIdInEditMode = selectedTraceId" matTooltip="{{resources.edit}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="OSM" angularticsAction="Edit OSM trace start"><i class="fa icon-pencil"></i></button>
            </div>
            <div class="flex-1" *ngIf="isTraceInEditMode(selectedTraceId)">
                <button mat-button class="w-full no-padding min-w-unset" [disabled]="!hasSelected()" (click)="updateTrace()" matTooltip="{{resources.save}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="OSM" angularticsAction="Edit OSM trace end"><i class="fa icon-check"></i></button>
            </div>
            <div class="flex-1">
                <button mat-button class="w-full no-padding min-w-unset" [disabled]="!hasSelected()" (click)="deleteTrace()" matTooltip="{{resources.delete}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="OSM" angularticsAction="Edit OSM trace"><i class="fa icon-trash"></i></button>
            </div>
            <div class="flex-1">
                <button mat-button class="w-full no-padding min-w-unset" [disabled]="!hasSelected()" matDialogClose (click)="addTraceToRoutes()" matTooltip="{{resources.addToRoutes}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="OSM" angularticsAction="Add OSM trace to routes"><i class="fa icon-plus"></i></button>
            </div>
            <div class="flex-1" *ngIf="hasSelected() && canUploadToOsm()">
                <button mat-button class="w-full no-padding min-w-unset" (click)="uploadRecordingToOsm()" matTooltip="{{resources.uploadFileToOsm}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="OSM" angularticsAction="Upload locally recorded route"><i class="fa icon-cloud-upload"></i></button>
            </div>
            <div class="flex-1" *ngIf="!isMobile()">
                <button mat-button class="w-full no-padding min-w-unset" [disabled]="!hasSelected() || canUploadToOsm()" (click)="editInOsm()" matTooltip="{{resources.editThisMapUsingOsm}}" matTooltipPosition="above" angulartics2On="click" angularticsCategory="OSM" angularticsAction="Edit OSM trace in OSM"><i class="fa icon-map-editing fa-lg"></i></button>
            </div>
        </div>
    </div>
</div>
