﻿<div [dir]="resources.direction">
    <div matDialogTitle>
        <div>
            {{resources.thereSoMuchMoreYouCanDoWithOurApp}}
        </div>
        <div>
            <button mat-button type="button" matDialogClose tabindex="-1"><i class="fa icon-close"></i></button>
        </div>
    </div>
    <div mat-dialog-actions>
        <div class="flex flex-row w-full">
            <a mat-raised-button [href]="appAddress" class="w-full" color="primary" mat-dialog-close angulartics2On="click" angularticsCategory="Application" angularticsAction="Got to application store"><i class="fa fa-lg icon-mobile"></i> {{resources.startDownload}}</a>
        </div>
    </div>
</div>