<div [hidden]="isVisible" class="leaflet-bar" [dir]="resources.direction">
    <a class="cursor-pointer" (click)="toggleVisibility($event)" mdTooltip="{{resources.search}}" mdTooltipPosition="left" angulartics2On="click" angularticsCategory="Search" angularticsEvent="Search toggle"><i class="fa icon-search fa-lg"></i></a>
</div>
<div [hidden]="!isVisible">
    <div class="leaflet-bar" fxLayout="row">
        <a class="cursor-pointer control-icon-last" (click)="toggleDirectional($event)" mdTooltip="{{resources.directionalSearch}}" mdTooltipPosition="left" angulartics2On="click" angularticsCategory="Search" angularticsEvent="Toggle directional search on"><i class="fa fa-lg" [ngClass]="{'icon-plus': !isDirectional, 'icon-minus': isDirectional}"></i></a>
        <div [dir]="resources.direction">
            <md-input-container class="search-input-container">
                <input type="text" mdInput [formControl]="searchFrom" [mdAutocomplete]="autoFrom" class="control-container-item" placeholder="{{resources.searchPlaceHolder}}" [dir]="getDirection(fromContext.searchTerm)">
            </md-input-container>
            <md-autocomplete positionY="below" #autoFrom="mdAutocomplete" [displayWith]="displayResults">
                <md-option *ngFor="let result of fromContext.searchResults" [value]="result" [dir]="getDirection(result.name)" class="{{getTextAlignment(result.name)}}">
                    <img [src]="result.icon" height="16" width="16" [hidden]="!result.icon" alt="" />
                    {{result.displayName}}
                </md-option>
            </md-autocomplete>
        </div>
        <a class="cursor-pointer control-icon-first" (click)="toggleVisibility($event)"><i class="fa icon-search fa-lg"></i></a>
    </div>
    <br [hidden]="!isDirectional"/>
    <div fxLayout="row" [hidden]="!isDirectional">
        <div class="pull-left leaflet-bar search-routing-directional">
            <a class="cursor-pointer pull-left" (click)="setRouting('Hike', $event)" [ngClass]="{'leaflet-active' : routingType == 'Hike' }" mdTooltip="{{resources.hikeRouting}}" mdTooltipPosition="below"><i class="fa icon-hike fa-lg"></i></a>
            <a class="cursor-pointer pull-left" (click)="setRouting('Bike', $event)" [ngClass]="{'leaflet-active' : routingType == 'Bike' }" mdTooltip="{{resources.bikeRouting}}" mdTooltipPosition="below"><i class="fa icon-bike fa-lg"></i></a>
            <a class="cursor-pointer pull-left" (click)="setRouting('4WD', $event)" [ngClass]="{'leaflet-active' : routingType == '4WD' }" mdTooltip="{{resources.fourWheelDriveRouting}}" mdTooltipPosition="below"><i class="fa icon-four-by-four fa-lg"></i></a>
            <a class="cursor-pointer pull-left" (click)="setRouting('None', $event)" [ngClass]="{'leaflet-active' : routingType == 'None' }" mdTooltip="{{resources.straightLines}}" mdTooltipPosition="below"><i class="fa icon-none fa-lg"></i></a>
        </div>
    </div>
    <br [hidden]="!isDirectional"/>
    <div [hidden]="!isDirectional" class="leaflet-bar" fxLayout="row">
        <a class="cursor-pointer control-icon-last" (click)="searchRoute($event)"><i class="fa icon-arrow-left fa-lg"></i></a>
        <div [dir]="resources.direction">
            <md-input-container class="pull-right search-input-container">
                <input type="text" mdInput [formControl]="searchTo" [mdAutocomplete]="autoTo" class="control-container-item" placeholder="{{resources.searchPlaceHolder}}" [dir]="getDirection(toContext.searchTerm)">
            </md-input-container>
            <md-autocomplete positionY="below" #autoTo="mdAutocomplete" [displayWith]="displayResults">
                <md-option *ngFor="let result of toContext.searchResults" [value]="result" [dir]="getDirection(result.name)" class="{{getTextAlignment(result.name)}}">
                    <img [src]="result.icon" height="16" width="16" [hidden]="!result.icon" alt="" />
                    {{result.displayName}}
                </md-option>
            </md-autocomplete>
        </div>
        <a class="control-icon-first" (click)="toggleVisibility($event)"><i class="fa icon-search fa-lg"></i></a>
    </div>
</div>