.search-input-container .mat-input-wrapper {
    margin: 0 !important;
    padding: 0 !important;
    width: 200px;
}

.search-routing-directional  {
    
}

@media only screen and (min-width : 768px) {
    search-input-container .mat-input-wrapper {
        width: 250px;
    }
}
